<div class="body">
  <!-- ------------ Blog Section --------------- -->
      <div class="header_block">
         <div class="position-relative w-100">
            <img src="../../../assets/images/services_header.png" alt="" width="100%">
            <div class="header_bg">
                <h1>Blog Details</h1>
                <p>Sub-title</p>
             </div>
          </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div class="block">
         <div class="row px-3">
            <div class="col-md-9">
               <div class="single_post">
                  <h2>Meeting new faces</h2>
                  <p>Coronado is a sunny resort city set on a peninsula in San Diego Bay and is renowned for its beautiful beaches which draw surfers and sunbathers from all around. Founded in 1888, the city lies on an island connected to the mainland by a tombolo called the Silver Strand, which was named by the explorer Sebastian Vizcaino in 1602. CDC information for travelers. Hours/availability may have changed.</p>
                  <br>
                  <h4>Walk Along The Ocean And Meander Through Neighborhoods</h4>
                  <p>Coronado is a perfect place to take a leisurely walk. You can wind around the residential streets, where you’ll discover architectural styles ranging from Mediterranean to Craftsman to Modern to Coastal Chic. “Shop” for your dream home without spending one cent. Neighborhoods anywhere on the island will intrigue you with their white wooden gates, winding paths to front doors, and cultivated gardens. Something in the sea air seems to make the flowers always healthy.
                     <br>
                     Walk Along The Ocean And Meander Through Neighborhoods
                     Coronado is a perfect place to take a leisurely walk. You can wind around the residential streets, where you’ll discover architectural styles ranging from Mediterranean to Craftsman to Modern to Coastal Chic. “Shop” for your dream home without spending one cent. Neighborhoods anywhere on the island will intrigue you with their white wooden gates, winding paths to front doors, and cultivated gardens. Something in the sea air seems to make the flowers always healthy.
                     <br>
                     Walk Along The Ocean And Meander Through Neighborhoods
                     Coronado is a perfect place to take a leisurely walk. You can wind around the residential streets, where you’ll discover architectural styles ranging from Mediterranean to Craftsman to Modern to Coastal Chic. “Shop” for your dream home without spending one cent. Neighborhoods anywhere on the island will intrigue you with their white wooden gates, winding paths to front doors, and cultivated gardens. Something in the sea air seems to make the flowers always healthy.
                  </p>
                  <div>&nbsp;</div>
                  <h4>Recent Posts</h4>
                  <ul class="ml-4">
                     <li class="mb-2"><a href="javascript:void(0)">Mackinac Island: 9 Things To Know Before You Go</a></li>
                     <li class="mb-2"><a href="javascript:void(0)">8 Wonderful Day Trips From San Diego</a></li>
                     <li class="mb-2"><a href="javascript:void(0)">Mackinac Island: 9 Things To Know Before You Go</a></li>
                     <li class="mb-2"><a href="javascript:void(0)">8 Wonderful Day Trips From San Diego</a></li>
                  </ul>
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>
               </div>
               
            </div>
            <div class="col-md-3">
               <div class="widgets">
                  <h5>Categories</h5>
                  <hr>
                  <div class="form-check mb-3">
                     <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                     <label class="form-check-label" for="flexRadioDefault1"> Tech </label>
                  </div>
                  <div class="form-check mb-3">
                     <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                     <label class="form-check-label" for="flexRadioDefault1"> Labs </label>
                  </div>
                  <div class="form-check mb-3">
                     <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                     <label class="form-check-label" for="flexRadioDefault1"> Testing </label>
                  </div>
                  <div class="form-check mb-3">
                     <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                     <label class="form-check-label" for="flexRadioDefault1"> Automation </label>
                  </div>
                  <div class="form-check mb-3">
                     <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                     <label class="form-check-label" for="flexRadioDefault1"> Labs </label>
                  </div>
                  <div class="form-check mb-3">
                     <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                     <label class="form-check-label" for="flexRadioDefault1"> Testing </label>
                  </div>
               </div>
               <div>&nbsp;</div>
               
               <div class="widgets">
                  <h5 class="">Popular Posts</h5>
                  <hr>
                  <div class="d-flex ">
                     <div class="w-25"><img src="../../../assets/images/blog/lab.png" alt="" width="100%" class="rounded-circle"></div>
                     <div class="w-75 no_padding ml-3">
                        <p class="no_margin">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the.</p>
                        <p class="dark mt-1">2 days ago</p>
                     </div>
                  </div>

                  <div class="d-flex ">
                     <div class="w-25"><img src="../../../assets/images/blog/lab.png" alt="" width="100%" class="rounded-circle"></div>
                     <div class="w-75 no_padding ml-3">
                        <p class="no_margin">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the.</p>
                        <p class="dark mt-1">2 days ago</p>
                     </div>
                  </div>

                  <div class="d-flex ">
                     <div class="w-25"><img src="../../../assets/images/blog/lab.png" alt="" width="100%" class="rounded-circle"></div>
                     <div class="w-75 no_padding ml-3">
                        <p class="no_margin">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the.</p>
                        <p class="dark mt-1">2 days ago</p>
                     </div>
                  </div>
                  
               </div>
               <div>&nbsp;</div>
            </div>
         </div>




         <div class="row px-3">
            <div class="w-100">
               <h4 class="pl-3">Related Posts</h4>
               <div>&nbsp;</div>
               <div class="row px-3">
                  <div class="col-md-4 post_tab mb-3">
                     <div class="border border_r20 h-100">
                        <a href="javascript:void(0)"><img src="../../../assets/images/post-1.jpg" alt="Meet the New UI Design" class="border_r20"></a>
                        <div class="post_content">
                           <div class="distribute_between"><p><i class="bi bi-calendar"></i> 4 October 2015</p><p><i class="bi bi-person" style="font-size: 18px;"></i><a href="#" class="dark"> By John Deo</a></p></div>
                           <h5><a href="javascript:void(0)" class="dark"> Enjoying Sunrise Holidays </a></h5>
                           <p class="text-center mt-3"><a href="" class="dark">Read More</a></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 post_tab mb-3">
                     <div class="border border_r20 h-100">
                        <a href="javascript:void(0)"><img src="../../../assets/images/post-4.jpg" alt="Meet the New UI Design" class="border_r20"></a>
                        <div class="post_content">
                           <div class="distribute_between"><p><i class="bi bi-calendar"></i> 4 October 2015</p><p><i class="bi bi-person" style="font-size: 18px;"></i><a href="#" class="dark"> By John Deo</a></p></div>
                           <h5><a href="javascript:void(0)" class="dark">A Look Inside the Workspace</a></h5>
                           <p class="text-center mt-3"><a href="" class="dark">Read More</a></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 post_tab mb-3">
                     <div class="border border_r20 h-100">
                        <a href="javascript:void(0)"><img src="../../../assets/images/post-2.jpg" alt="Meet the New UI Design" class="border_r20"></a>
                        <div class="post_content">
                           <div class="distribute_between"><p><i class="bi bi-calendar"></i> 4 October 2015</p><p><i class="bi bi-person" style="font-size: 18px;"></i><a href="#" class="dark"> By John Deo</a></p></div>
                           <h5><a href="javascript:void(0)" class="dark">Inspiration of UX design </a></h5>
                           <p class="text-center mt-3"><a href="" class="dark">Read More</a></p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="text-center my-4 w-100"><a class="dark semi_bold"> See More <i class="bi bi-chevron-right"></i></a></div>
            </div>
         </div>
      </div>
      <!-------------- Watch Now Section --------------- -->
<!--       
      <div class="dark_bg watch_now px-3">
         <div class="block row py-4 v_center">
            <div class="col-md-4">
               <img src="../../../assets/images/watch_now.png" alt="" width="100%">
            </div>
            <div class="col-md-8 text-white">
               <div>&nbsp;</div>
               <h4 class="text-uppercase">ON-DEMAND WEBINAR</h4>
               <p>See for yourself! <br> AI-Enhanced Automations – Combining Transformative Capabilities</p>
               <div>&nbsp;</div>
               <button class="btn mybtn"> Watch Now <i class="bi bi-play-fill dark" style="font-size: 18px;"></i></button>
            </div>
         </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div> -->

      <!-------------- Subscription Section --------------- -->
      <div class="subscription px-3">
         <div class="block row py-4 v_center ">
            <div class="col-md-8"><h5 class="text-uppercase py-4 dark" style="font-family:din_regular !important;font-weight:normal !important;">Get articles from automation experts in your inbox</h5></div>
            <div class="col-md-4">
               <div class="form-group">
                  <div class="input-group">
                      <input type="text" name="" class="form-control" placeholder="Enter email address">
                      <button type="submit" class="btn mybtn">Subscribe</button>
                   </div>
              </div>
            </div>
         </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
</div>