<div class="mat-typography">
    <mat-toolbar class="header pl-0 w-100">
      <div [ngStyle]="{'background': layoutType == 'vertical' ? '' : 'transparent'}" class="logoitem d-flex align-items-center justify-content-between px-2">
        <a  class="logo px-2" (click)="goToHomePage()"><img [src]="logoPath" alt=""></a>
        <button *ngIf="layoutType == 'vertical'" mat-icon-button (click)="toggleSideBar()"><mat-icon>sort</mat-icon></button>
      </div>
      <div class="topheader row align-items-center">
        <div class="col-md-9"><app-header></app-header></div>
        <div class="col-md-3"><app-user-account *ngIf="checkLoginStatus"  [rightsidenav]="rightsidenav"></app-user-account></div>
      </div>
    </mat-toolbar>
    
    
    <mat-drawer-container>
      <mat-drawer *ngIf="layoutType == 'vertical'"  #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? 'false' : 'true'"><app-sidebar></app-sidebar></mat-drawer>
      <mat-drawer #rightsidenav mode="over" position="end" class="rightsidebar">
        <app-setting-menu [rightsidenav]="rightsidenav"></app-setting-menu>
      </mat-drawer>
      <div class="pt-3">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </mat-drawer-container>
</div>
<app-shortcutinfo id="shortcutinfo_model" (shortcutinfoResponce)="shortcutinfoResponce($event)" ></app-shortcutinfo>
<app-chart-modal *ngIf="isShow" id="chart_model" (chartModalResponce)="chartModalResponce($event)" ></app-chart-modal>
<app-git-version id="git_version" (gitModalResponce)="gitModalResponce($event)" ></app-git-version>
<app-chart-filter id="chart-filter"></app-chart-filter>
<app-feedback id="feedback_model"></app-feedback>
<app-pdf-viewer-modal id="pdf_model"></app-pdf-viewer-modal>
<app-download-progress  id="download-progress-modal"></app-download-progress>
<app-form-modal id="form-modal"></app-form-modal>
<app-grid-modal id="grid-modal"></app-grid-modal>
