<div class="mat-typography">
    <!-- vertical layout -->
    <app-vertical *ngIf="isVerticalLayoutRequested()"></app-vertical>

    <!-- horizontal layout -->
    <app-horizontal *ngIf="isHorizontalLayoutRequested()"></app-horizontal>
</div>
<app-shortcutinfo id="shortcutinfo_model" (shortcutinfoResponce)="shortcutinfoResponce($event)" ></app-shortcutinfo>
<app-chart-modal *ngIf="isShow" id="chart_model" (chartModalResponce)="chartModalResponce($event)" ></app-chart-modal>
<app-git-version id="git_version" (gitModalResponce)="gitModalResponce($event)" ></app-git-version>
<app-chart-filter id="chart-filter"></app-chart-filter>
<app-feedback id="feedback_model"></app-feedback>
