.modal-dialog {
    .modal-body {min-height:200px;
        .row > .row {margin:0;}
        .modelplusbtn {width:37px;height:37px;border-radius:0 5px 5px 0;right:0;margin:0;background:var(--buttonColor);}
        .modelplusbtn.firstlistofbtn {border-radius:5px 0 0 5px;margin-right:2px;}
        .dropdowndata {
            .autosuggestion {position:absolute;width:100%;left:0;top:40px;z-index:999;background:#fff;padding:10px;box-shadow:0 0 5px #ccc;display:none;
                .typeahead-example-box {
                    p {border-radius:5px;}
                }
            }
            .btncounter {position:absolute;right:40px;top:8px;}
            .btncounter span {font-size:12px;background:var(--buttonColor);display:inline-block;margin:5px;color:#fff;padding:0 7px;border-radius:5px;opacity:0.5;}
            &:hover {
               .autosuggestion {display:block;}  
            }
        }
        .addrefreshiconbtn {position:absolute;top:10px;right:0;width:auto;}  
        //// Model Button Background and color Set
        .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {background:var(--buttonColor) !important;}
        .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {color:var(--buttonColor) !important;}
        .fileuploadicon {width:auto;height:auto;vertical-align:middle;}
    }
}