@media only screen and (max-width:1450px) {
  .topheader {width:76%;}
}

@media only screen and (max-width:1150px) {
  .topheader {width:70%;}
}

@media only screen and (max-width: 991px) {
    .header nav { justify-content:end !important;}
    .header .headermenu {display:none;}
}

@media only screen and (max-width:778px) {
  .header .logoitem {width:180px;}
  .tablist {padding-right:0px !important;margin-top:20px;}
  .downloadbtn {top:-12px;}
  .searchbox:hover {width:200px;}
}
