.page-content {padding:$calc2;}
.main-content {margin-left:260px;overflow:$hide;transition:all 0.5s;}
#page-topbar{position:fixed;top:0;right:0;left:0;z-index:999;background:var(--headerbg);box-shadow:0 2px 4px rgb(0 0 0 / 8%);
    header .navbar {box-shadow:none !important;}
    .navbar-header{display:$dflex;justify-content:space-between;align-items:$center;margin:$zero $auto;padding:$zero $calc1 $zero $zero}
    .navbar-brand-box{padding:$zero $rem105;width:260px;transition:$transition2;background:$sidenav}
    .logo{line-height:$size60;max-width:110px;display:block;}
    .logo-light, .infoicon{display:$block}
    .profilepic {height:$size36;width:$size36;background-color:$color6;padding:$size3;border-radius:100%;}
    .user-dropdown .dropdown-item span{display:$inblock}
    .user-dropdown .dropdown-item span.material-icons{font-size:$size14!important}
    .navbar-header .navbar{box-shadow:$no!important}
    .user.dropdown.show .dropdown-menu{opacity:$one!important;right:$zero;left:$inherit!important}
    .user .dropdown-toggle::after{content:''!important;border:$no!important}
    .topmenu {max-width:84%;}
}

.logindropdown {max-width:200px !important;margin-top:10px;
    .mat-menu-content {padding:0px !important;
        .smsize {font-size:20px !important;}
        button:focus {outline:none;}
    }
}

.sidenav {padding:20px 0;width:260px;z-index:9;bottom:0;left:0;margin-top:0;position:$fixed;top:$size60;box-shadow:0 2px 4px rgb(0 0 0 / 8%);transition:all .5s;
    input {padding:$size8 $size15;font-size:$size15;border-radius:$size25;width:$per100;}
    i {font-size:$size18;color:$iconcolor;transition:$transition;}
    #sidebar-menu {padding-bottom:60px;
        .mat-expansion-panel:not([class*=mat-elevation-z]) {box-shadow:none;margin:0px;}
        .mat-expansion-panel-header.mat-expanded {height:48px;}
        .mat-expansion-panel-header-title {align-items:center;font-size:13px;}
        .mat-expansion-panel-body {padding: 0 24px;
            .menulist {padding-left:30px;
                .menuitems {padding:6px 0;font-size:13px;position:relative;
                  .mat-expansion-panel-body {padding:0;}
                  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {background:none;}
                  .favibtn { position:absolute;right:5px;top:5px;size:13px;color:#ddd;cursor:pointer;
                    mat-icon {width:auto;height:auto;font-size:18px;}
                    .active {color:var(--footerbg) !important}
                  }
                  .submenutitle {padding:0;padding-right:2px;height:auto;}
                  .dropdownmenulist {opacity:0.8;font-size:13px;padding:3px 0;display:block;cursor:pointer;padding-left:10px;position:relative;}
                }
            }
        }
    
    }
}


.vertical-collpsed {
    .main-content {transition:all .5s;margin-left:0;}
    .sidenav {left:-100%;transition:all .5s;
        span {display:block !important;}
    }
}

.togglemenu .mat-icon{color:var(--headericon)}


@media only screen and (max-width: 991px) {
    #page-topbar .navbar-header .navbar { display:none;}
    .sidenav {left:-100%;}
    .main-content {margin-left:0px;}
    .navbar-brand-box {width:260px !important;}
    .sidebar-enable {
        .main-content {margin-left:270px;transition:all .5s;}
        .sidenav {left:0 !important;transition:all .5s;width:260px;}
        #sidebar-menu span {display:block;}
    }
}


@media only screen and (max-width:767px) {
    .sidebar-enable {overflow:hidden;
        .main-content {margin-left:0px;}
    }
}

@media only screen and (max-width:450px) {
    #page-topbar .navbar-brand-box {width:auto !important;}
}