.mat-drawer-side {border:none !important}
 .mat-drawer-inner-container {overflow-y:hidden !important;} 

 //----- Left Side Bar Menu -----//
.sidenav {padding:20px 0;height:100%;width:260px;background:var(--themecolor);
    input {padding:$size8 $size15;font-size:$size15;border-radius:$size25;width:$per100;border:1px solid #ccc;}
    i {font-size:$size18;color:$iconcolor;transition:$transition;}
    .sidebaractive, .sidebarsubmenuactive .dropdownmenulist{font-weight:bold;}
    .menutitle {white-space:nowrap;width:100%;overflow:hidden;text-overflow:ellipsis;}
    .mat-expansion-panel:not([class*=mat-elevation-z]) {box-shadow:none;margin:0px;background:none;}
        .mat-expansion-panel-header {padding:0 20px 0 10px}
        .mat-expansion-panel-header.mat-expanded {height:48px;}
        .mat-expansion-panel-header-title {align-items:center;font-size:13px;}
        .mat-expansion-panel-body {padding:0 25px 0 0;
            .menulist {padding-left:20px;
                .menuitems {padding:6px 0;font-size:13px;position:relative;
                  .mat-expansion-panel-body {padding:0;}
                  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {background:none;}
                  .favibtn { position:absolute;right:0px;top:5px;size:13px;color:#ddd;cursor:pointer;
                    mat-icon {width:auto;height:auto;font-size:18px;}
                  }
                  .favibtn.active mat-icon {color:#0082d5;}
                  .submenutitle {padding: 7px;padding-right:2px;height:auto;font-size:inherit;}
                  .dropdownmenulist {opacity:0.8;font-size:13px;padding:3px 0;display:block;cursor:pointer;padding-left:10px;position:relative;text-overflow:ellipsis;width:80%;white-space:nowrap;overflow:hidden;}
                  .dropdownmenulist:hover {overflow:visible;z-index:99;}
                }
                .menuitems:first-child a .favibtn {display:none !important;}
            }
        }
}


 //----- Right Side Bar Menu -----//
.rightsettingmenu {width:260px;height:100%;background:var(--themecolor);
    mat-icon {color:#999;font-size:16px;width:auto;height:auto;}
    .mat-icon-button {line-height:15px;}
    mat-list-item {cursor:pointer;}
    .budget {background:#e86e6e;margin:0 5px;font-size:11px;display:inline-block;text-align:center;line-height:20px;padding:0 10px;border-radius:5px;color:#fff;}
}


.mat-drawer-backdrop {z-index:4 !important;}
.mat-drawer{z-index:5 !important;}
.rightsidebar {z-index:99 !important;}






