html{scroll-behavior:smooth}
@font-face {font-family:$neo-sans;src: url("../fonts/neo-sans-pro-225.otf") format("opentype");}
@font-face {font-family:neo-sans;src: url("../fonts/neo-sans-pro-225.otf") format("opentype");}

body{font-family:$roboto!important;font-size:$size16;font-weight:$fw-400;line-height:$size26;overflow-x:$hide;background:$white;font:$inherit!important}
img{border:$no;outline:$zero;max-width:$per100}
p{color:$color2;line-height:$size26;margin:$zero $zero $size15;text-transform:$no;font-weight:$fw-400}
li,ol,ul{margin:$zero;padding:$zero;list-style:$no}
a{cursor:$pointer;}


.page-content {padding:$calc2;}
.main-content {margin-left:$size240;overflow:$hide;transition:all 0.5s;}
.dashboard_bg{background-color:$color6;}

.app-bg-color{background-color:$color9!important}
.app-text-color{color:$color9!important}
.text-custome-theme-color{color:$color7}
.text-cerulean{color:$color9!important}
.text-blue2{color:$color9!important}
.text-aluminium{color:$color1!important}
.text-tangerine{color:$yellow!important}
.bg-cerulean{background-color:$color9!important}
// .bg-aluminium{background-color:rgb(217 217 217 / 12%)}
.bg-tangerine{background-color:$yellow!important}
.bg-yellow{background-image:linear-gradient(to left,rgba(255,0,0,0),$color9)}
.bg-custome-theme{background-color:$color7}
.text-gray{color:$color777}
.bg-gray{background-color:$color777}
.bg-blue1{background-color:$color10}
.bg-blue2{background-color:$color5}
.content{background-color:$white}
.theme-color{background:$color7!important;color:$white!important}
.theme-text-color{color:$themetext!important}
.theme-text-color2{color:$color9!important}
.theme-bg-color{background:rgb(50 43 43 / 53%)!important;}


// .btn-floating{position:$relative;z-index:$one;display:$inblock;padding:$zero;margin:$size10;overflow:$hide;vertical-align:$middle;cursor:$pointer;box-shadow:$shadow3;transition:$transition3;width:$size47;height:$size47;text-align:$center}
// .btn-floating.btn-lg{width:$size61;height:$size61}
// .btn-floating.btn-sm{width:20.15385px;height:20.15385px;padding:0;line-height:20.15385px}
// .btn-floating i{display:$inblock;width:$inherit;color:$white}
// .btn-floating i{font-size:$rem1025;line-height:$size47}
// .btn-floating.btn-lg i{font-size:$rem10625;line-height:$size61}
// .btn-floating.btn-sm i{font-size:$rem066154;line-height:$size20}
.btn-rounded{border-radius:$em10!important}

.bg-cover{background-position:$center $center;background-size:cover}
.shadow{position:$relative;z-index:$one}
.heading h1{font-size:$size30!important;font-weight:$fw-700!important;margin-bottom:$size20!important}
.il{float:$left!important;margin-right:$size20!important}

.banner-img{width:$per100;}
.cunstomText{font-family:$neo-sans;color:$color9!important;font-weight:$fw-700!important}
.custmPargph{font-family:$neo-sans!important;letter-spacing:.6px;font-size:$size14}
.cursor-pointer{cursor:$pointer}
.dropdown-menu .dropdown-item:hover{background-color:$themecolor;color:$white!important}


// Table Tabing
.mat-tab-label-container{
    display:$dflex;flex-grow:$one;overflow:$hide;z-index:$one;
    .mat-tab-list{flex-grow:$one;position:$relative;transition:transform .5s cubic-bezier(.35,0,.25,1)}
    .mat-tab-labels{display:$dflex;border-bottom:1px solid $color11}
    .mat-tab-label-active{border-bottom:2px solid $themecolor;opacity:$one!important}
    .mat-tab-label{height:$size30;padding:$zero $size10;cursor:$pointer;box-sizing:border-box;opacity:$opacity06;min-width:$auto;text-align:$center;display:$dflex-inline;justify-content:$center;align-items:$center;white-space:$nowrap;position:$relative}
}
.mat-h1,.mat-headline,.mat-typography h1{font-weight:$fw-700}
.mat-tree-node{min-height:$size20!important}
.mat-icon-button{width:$size25!important;height:$size25!important;line-height:$size25!important}
.example-tree ul{padding-left:$size5}
.mat-icon{height:$size15!important;width:$size15!important}
.material-icons{font-size:$size15;line-height:$inherit}
.mat-icon-button .mat-icon,.mat-icon-button i{line-height:$size15}
.tree_view_class{position:$absolute;top:$minus11;right:$zero;font-size:$size10;color:$color9}

.login-background{background-position:$center;height:100vh;}
.login-background {background:linear-gradient(88deg, #d9d9d9, $color9);background-size:400% 400%;animation:scrollbg 30s ease infinite;}
@-webkit-keyframes scrollbg {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@-moz-keyframes scrollbg {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@-o-keyframes scrollbg {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@keyframes scrollbg {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
.btn-right-text{right:$size2}
.btn-right-dropdown{right:$size15}
.btn-right-date{right:$size7}
.btn-top-date{top:$size3!important}
// .timepicker-backdrop-overlay,.timepicker-overlay{z-index:$zindex2000!important}
// .mat-form-field-flex>.mat-form-field-infix{padding:$em04 $zero!important}
// .mat-form-field-appearance-outline .mat-form-field-label{margin-top:$size7!important}
// label.ng-star-inserted{transform:translateY(-.59375em) scale(.75)!important}
// .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{transform:translateY(-1.8em) scale(.75)!important;width:133.33333%!important}
// .custom.mat-form-field-appearance-outline .mat-form-field-wrapper{padding-bottom:$zero!important;margin:$zero!important}
// .custom.mat-form-field-appearance-outline .mat-form-field-wrapper .mat-form-field-infix{border-top:.5em solid transparent!important}
// .comma:not(:last-of-type):after{content:","}

.rounded-bottom-0{border-radius:$size4 $size4 $zero $zero!important}
.rounded-top-0{border-radius:$zero $zero $size4 $size4!important}
.rounded-right-0{border-radius:$size4 $zero $zero $size4!important}
.rounded-left-0{border-radius:$zero $size4 $size4 $zero!important}

// .table > tbody > tr:hover{background:$color5!important}
.dropzone{border:2px dashed $color5;background:$white;border-radius:$size6;cursor:$pointer;min-height:$size150;padding:$size20}
.dropzone .dz-message{text-align:$center;margin:$rem2 $zero}
.dropzone input{opacity:$zero;position:$absolute;z-index:$two;width:$per100;height:$per100;top:$zero;left:$zero;cursor:$pointer}
.fileover{animation:shake 1s;animation-iteration-count:infinite;border:1px solid #00f}
.hz-scroll{display:$block;overflow-x:$auto;white-space:$nowrap}


/* Shake animation */
@keyframes shake {
    0%{transform:translate(1px,1px) rotate(0)}
    10%{transform:translate(-1px,-2px) rotate(-1deg)}
    20%{transform:translate(-3px,0) rotate(1deg)}
    30%{transform:translate(3px,2px) rotate(0)}
    40%{transform:translate(1px,-1px) rotate(1deg)}
    50%{transform:translate(-1px,2px) rotate(-1deg)}
    60%{transform:translate(-3px,1px) rotate(0)}
    70%{transform:translate(3px,1px) rotate(-1deg)}
    80%{transform:translate(-1px,-1px) rotate(1deg)}
    90%{transform:translate(1px,2px) rotate(0)}
    100%{transform:translate(1px,-2px) rotate(-1deg)}
}


.cdk-global-overlay-wrapper{z-index:$zindex1000!important}
.modal.fade{background:rgba($black,0.5)}
.cdk-overlay-container{z-index:$zindex2000!important}
.modal-backdrop{z-index:$zindex998!important}
.modal{z-index:$zindex999!important}
// .modal.fade.in .modal-dialog {transform:$no!important}
// .mat-form-field-label {letter-spacing:0.7px!important;color:rgba($black, 0.6)!important}
/* //input outline color */
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {color:$color11!important;}
/* //mat-input focused color */
// ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {color:$themecolor!important;}
/* // mat-input error outline color */
// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{color:$themecolor!important;}



/* // mat-label focused style */
// ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {color:$themecolor!important}
// .hover1:hover{background:$themecolor!important}
// .table-responsive table tr td,.table-responsive table tr th,.table table tr td,.table table tr th{padding:5px!important;font-size:.8rem!important}


.modal-dialog-full-width{max-width:$per98!important}
.timepicker__header{background:$color9!important}
.timepicker-button{color:$color9!important}
.clock-face__number>span.active{background:$color9!important;color:$white!important}
.clock-face__clock-hand{background:$color9!important}
.mat-simple-snackbar-action{color:$white!important}
.mat-form-field-appearance-outline .mat-form-field-prefix{top:$zero!important}

/* -- Topbar --*/
.top-bar-area{padding:$zero;background:$themecolor}
.info .user-login a{background:$themecolor;border-radius:$size5;color:$white;display:$inblock;font-weight:$fw-600;margin-left:$size5;
    padding:$size5 $size15}
.info .user-login a.blue{background:$color9}
.info .user-login a i{margin-right:$size2}
.top-bar-area .address-info li{border-right:1px solid $white02;margin-bottom:$zero;display:$inblock;font-family:$montserrat;margin-right:$size8;padding-right:$size8;color:$color8;line-height:$size35;font-size:$size13;font-weight:$fw-600}
.top-bar-area.bg-theme .address-info li{border-right:1px solid $color8;color:$color8}
.top-bar-area.address-one-lines .address-info li{margin-right:$size10;padding-right:$size15}
.top-bar-area.address-one-lines .address-info li span{display:$inblock;font-weight:$fw-400;padding-left:$size5}
.top-bar-area.address-two-lines .user-login{margin:$zero}
.top-bar-area .address-info li span{display:$block;font-weight:$fw-600;text-transform:$uppercase}
.top-bar-area .address-info li p{line-height:$size24;margin:$zero}
.top-bar-area .address-info li:last-child{border:$no;margin:$zero}
.top-bar-area .address-info li i{margin-right:$size10;margin-top:$size12}
.top-bar-area.address-one-lines .address-info{margin:$size8 $zero}
.top-bar-area .menu li{display:$inblock;margin-left:$size10;padding-left:$size15;position:$relative;z-index:$one}
.top-bar-area .menu li a{display:$inblock;font-weight:$fw-500;text-transform:$capitalize}
.top-bar-area .menu li a:hover{color:$colorred}
.top-bar-area .menu li::before{background:$white07;content:"";height:$size14;left:$zero;position:$absolute;top:$size6;width:$size1}
.top-bar-area.bg-theme .menu li::before{background:$color8}
.top-bar-area .menu li:first-child{margin:$zero;padding:$zero}
.top-bar-area .menu li:first-child::before{display:$no}
.top-bar-area .menu{padding:$size8 $zero}
  
/* Site Heading */  
.site-heading{margin-bottom:$size30;margin-top:$minus5;overflow:$hide}
.site-heading h2{display:$inblock;font-weight:$fw-800;text-transform:$uppercase;padding-bottom:$zero;position:$relative;z-index:$one;font:$fw-800 $size31/$size28 $montserrat!important}
.info ul li{display:$block;margin-bottom:$size10;color:$white}
.info ul li i{color:$white;margin-right:$size10;float:$left}
.info ul li:last-child{margin:$zero}
.info ul li i,.info ul li span{display:$table-cell}
.info ul li span{padding-left:$size10}
.sd-header-social{border-left:$size1 solid $color6;float:$right}
.sd-header-social a{border-right:$size1 solid $white;color:$white;display:$block;float:$left;padding:$size7 $zero;text-align:$center;width:$size42}

.position-sticky{position:sticky;top:$zero;z-index:$ten}
// .navbar.navbar-dark .breadcrumb .nav-item .nav-link,.navbar.navbar-dark .navbar-nav .nav-item .nav-link{font-size:$size14;font-weight:$fw-600;padding:$size23 $size10;text-transform:$capitalize;font-family:$montserrat;color:$color2!important}
// .navbar .dropdown-menu a{color:$color2!important}

.text-light a,.text-light h1,.text-light h2,.text-light h3,.text-light h4,.text-light h5,.text-light h6,.text-light p, .bg-dark .site-heading p, .bg-dark .site-heading h2, .top-bar-area.bg-theme .menu li a:hover, .top-bar-area.bg-dark .menu li a{color:$white}


/*footer*/
footer.bg-dark{background:$color8!important}
.default-padding-top{padding-top:$size50}
.f-items{overflow:$hide;margin-bottom:$size20}
footer .f-item>h3,footer .f-item>h4,footer .f-item>h5{margin-bottom:$size30;position:$relative;text-transform:$uppercase;z-index:$zindexs1}
footer .footer-bottom{background:$color7;padding:$size10 $zero}
footer .footer-bottom p{font-family:$roboto!important;color:$white!important;margin:$zero!important;text-transform:$capitalize!important;line-height:$size40!important;font-size:$em087!important;font-weight:$fw-400!important}
footer .f-item.link li a{color:$color11;display:$inblock;font-size:$size15;font-weight:$fw-400;position:$relative;text-transform:$capitalize;text-align:$left;margin-bottom:$size10;line-height:1.4}
footer .f-item.address ul{margin:$zero;list-style-type:$no}
footer .f-item.address li{margin-bottom:$size15}
*{margin:$zero;padding:$zero}
footer .f-item.address p{font-weight:$fw-500!important;margin:$zero!important;padding-left:$size10!important}
footer .f-item.address i,footer .f-item.address p{display:$table-cell;vertical-align:$middle}
footer .f-item p{color:$color11!important;font-size:$size15}
.copyright a, .copyright a:hover {color:inherit;}



.sorttext{display:$inblock;width:$size80;white-space:$nowrap;overflow:$hide!important;text-overflow:$ellipsis}
.video-area h2{display:$inblock;font-weight:$fw-800!important;text-transform:$uppercase;padding-bottom:$zero;position:$relative;z-index:$zindexs1;color:$color8}
.default-padding{padding-top:$size40;padding-bottom:$size40}
.breadcrumb-area1{padding:$size150 $zero}
.breadcrumb-area{padding:$size15 $zero;background:$color8}
.breadcrumb-area h1{display:$block!important;font-size:$size24!important;font-weight:$fw-600!important;text-transform:$uppercase!important;color:$white!important;margin-bottom:$size4!important}

.innerpage h4{font-weight:$fw-600!important;font-size:$size22!important;margin-bottom:$size13!important}
ul.list1{list-style:$no}
ul.list1 li{font-weight:$fw-600}
ul.list1 li:before{content:'✓';color:$themecolor;font-weight:$fw-600;line-height:$size35;padding:$zero $size9}
.contact-list{padding:$size20}
.contact-list ul{margin:$zero;list-style-type:$no}
.contact-list ul li{position:$relative;padding-bottom:$size10;margin-bottom:$size10;border-bottom:1px solid $color10;padding-left:$size40}
.contact-list ul li i{position:$absolute;left:$zero;bottom:$per40;font-size:$size23;color:$color8}
.contact-info-area{padding:$size40 $zero $size70}
.contact-info-area h3{font-size:$size24!important}
.slider-button{background:$color8!important;border:2px solid $color8!important;color:$white!important;float:$left!important}
.slider-button:hover{background:$white!important;border:2px solid $white!important;color:$color8!important}
.carousel-caption h1{font-size:$size30!important}
.carousel-caption p{color:$white!important}
.carousel-control-prev{display:$no!important}
.caption-text1{font-size:$size30;padding-top:$size95;color:$white!important}
.caption-info{padding-top:$size50;color:$white!important}
.carousel-control-next{display:$no!important}
.view .mask{background:rgba($black, 0.62)}
.bg-gray-section{background-color:$color10}
.popular-courses-items .item{box-shadow:$shadow2!important;padding:$size10!important;background:$white!important;min-height:$size437!important;margin-bottom:$size10}
.popular-courses-items .thumb{position:$relative;z-index:1;overflow:$hide}
.popular-courses-items .info{background:$white;overflow:$hide;padding:$size15 $size10;text-align:$center}
.popular-courses-items .info h4{font-weight:$fw-600!important;text-transform:$capitalize!important;font:$fw-600 $size15/$size28 $montserrat!important}
.info h4{font-size:$size16!important}
.info h4 a{color:$themecolor!important}
.info h4 a:hover{color:$color9!important}
.popular-courses-items .info p{margin:$zero;font:$fw-500 $size14/$size28 $montserrat!important}
.popular-courses .bottom-info{margin-top:$zero;padding-top:$size9;position:$relative;width:$per100;z-index:$zindexs1}
.popular-courses .bottom-info a{background:$themecolor!important;display:$inblock!important;font-size:$size12!important;font-weight:$fw-600!important;letter-spacing:$size1!important;padding:$size10 $size20!important;text-transform:$uppercase;border-radius:$size30!important;color:$white!important;line-height:$one}
.popular-courses .bottom-info a:hover{background:$color9!important;color:$white!important}
.about-area .info>a{margin-top:$size10}
.btn-dark.border{background-color:$color8!important;color:$white!important;border:$size2 solid $color8!important}
.btn-md{padding:$size5 $size30 $size5}
.btn-dark.border:hover{background-color:$themecolor!important;color:$white!important;border:$size2 solid $themecolor!important}

.mat-checkbox-layout .mat-checkbox-label{font-size:$size12!important;line-height:$size13!important;white-space:pre-line!important}
.navbar{padding:$zero $rem1!important}

.navbar.navbar-dark .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important}
.nav-item.avatar .dropdown-toggle img {height:$size35;width:$size35;}
.nav-item.avatar .dropdown-toggle::after {display:$no;}

.mat-form-field-appearance-outline .mat-form-field-prefix{top:$zero!important}
.selectedclass {outline:$size2 solid $black;border-radius:$size4;}


// Top Header
#page-topbar{
    position:$fixed;top:$zero;right:$zero;left:$zero;z-index:$zindex999;background-color:$white;box-shadow:$shadow;
    .navbar-header{display:$dflex;justify-content:space-between;align-items:$center;margin:$zero $auto;height:$size70;padding:$zero $calc1 $zero $zero}
    .navbar-brand-box{padding:$zero $rem105;width:$size240;transition:$transition2;background:$sidenav}
    .logo .logo-sm{display:$no}
    .logo{line-height:$size70}
    .logo-light{display:$block}
    .material-icons{font-size:$size32!important}
    .header-item{height:$size70;box-shadow:$no!important;color:$color7;border:$zero;border-radius:$zero}
    .header-profile-user{height:$size36;width:$size36;background-color:$color6;padding:$size3}
    .user-dropdown .dropdown-item span{display:$inblock}
    .user-dropdown .dropdown-item span.material-icons{font-size:$size14!important}
    .navbar-header .navbar{box-shadow:$no!important}
    .user.dropdown.show .dropdown-menu{opacity:$one!important;right:$zero;left:$inherit!important}
    .user .dropdown-toggle::after{content:''!important;border:$no!important}
}

// Conract us page 
.contact-page-section {
    position:$relative;padding:$size40 $zero;
    .info-inner {position:$relative;display:$block;padding:$size1 $zero $size2 $zero;border-bottom:$size1 solid $color5;margin-bottom:$size60;
        .inner-box {position:$relative;display:$block;text-align:$center;padding:$size23 $zero $size20 $zero;
            &:before {position:$absolute;content:'';background:$color5;width:$size1;height:$per100;top:$zero;right:$minus15;}
            h3 {position:$relative;display:$block;font-size:$size24;line-height:$size32;font-weight:$fw-600;transition:$transition2;}
            p{position:$relative;font-size:$size19;line-height:$size30;color:$color2;font-weight:$fw-400;margin:$zero}
            a {color:$color2;}
            &:hover .icon-box {transform:rotateY(-180deg);color:$themetext;}
          }
    }
    .icon-box{position:$relative;display:$inblock;font-size:$size39;line-height:$size25;color:$color4;font-weight:$fw-600;margin-bottom:$size44;transition:$transition2}
    input[type=email],input[type=text],textarea{position:$relative;display:$block;width:$per100;height:$size55;border:1px solid $color3;padding:$size10 $size20;font-size:$size15;font-weight:$fw-300;color:$color2;background-color:$color1}
}



.hero-section-2 {
    //padding: 185px 0 170px;
    padding:30px 0;
    background-size:cover !important;height:100vh;
    display:$dflex; align-items:$center;
    .text-color-custom{color: #0554b1;}
    .heading-color{color: #525252!important;}
    h1, .h1 {font-size: 2.5rem!important;line-height: 1.2;}
    h4{font-size:14px;}
}
// .navbar .nav-flex-icons {flex-direction:row;}
// .navbar-nav .dropdown-menu { position:$absolute !important;}

.downloadbtn {position:absolute;right:5px;top:5px; z-index:2;}
.modal-backdrop { height:auto !important;}

.modal-content .mat-stepper-horizontal {
    .mat-stepper-horizontal-line, .mat-step-header .mat-step-header-ripple {display:none;} 
    .mat-horizontal-stepper-header-container {border-bottom:1px solid #ddd;padding:0px;background:#f5f5f5;border-radius:0;border-top-right-radius:5px;list-style:none;overflow:hidden;margin:10px 25px 15px;}
    .mat-step-header, .mat-step-header:hover {padding:0 0 0 45px;overflow:visible;background:none;height:55px;}
    .mat-step-header:first-child {padding:0 0 0 15px;}
    .mat-icon.material-icons {line-height:15px !important;}
    .mat-step-header:before {content:" ";display:block;width:0;height:0;border-top:50px solid transparent; border-bottom: 50px solid transparent;border-left:30px solid #ddd;position:absolute;top:50%;margin-top:-50px;margin-left: 1px;left:100%;z-index:1;}
    .mat-step-header:after {content:" ";display:block;width:0;height:0;border-top:50px solid transparent;border-bottom:50px solid transparent;border-left:30px solid #f5f5f5;position:absolute;top:50%;margin-top:-50px;left:100%;z-index:2;}
    .mat-step-header[ng-reflect-selected="true"]{background:$themecolor;}
    .mat-step-header[ng-reflect-selected="true"]:before, .mat-step-header[ng-reflect-selected="true"]:after{border-left:30px solid $themecolor;}
    .mat-step-header[ng-reflect-selected="true"] .mat-step-header .mat-step-icon-selected {background:#fff !important; color:$themecolor !important;}
    .mat-step-header[ng-reflect-selected="false"]{background:none;}
    .mat-step-header[ng-reflect-selected="false"]:before, .mat-step-header[ng-reflect-selected="false"]:after{border-left:30px solid #f5f5f5;}
}


.mat-stepper-vertical {
    .mat-step-header {background:#eee;padding:10px!important;border-radius:25px;margin:5px 0;float:left;}
    .mat-step-header[ng-reflect-selected="true"]{background:$themecolor;}
    .mat-vertical-content {padding:20px!important;position:relative;}
    .mat-stepper-vertical-line::before {display:none;}
    .mat-icon.material-icons {line-height:15px !important;}
    .mat-stepper-vertical-line {clear:both;}
    .mat-step-header[ng-reflect-selected="true"] ~ .mat-stepper-vertical-line::before {display:block;}
    .mat-step-header[ng-reflect-selected="true"] .mat-step-text-label {color:$white !important}
}

// Delete Allert Message
.heightauto { height:auto !important;}
.deletealertmst {text-align:center;
    .icon-box {width:80px;height:80px;margin:0 auto;border-radius:50%;border:3px solid #f15e5e;line-height:75px;}
    i {color: #f15e5e;font-size: 46px !important;display: inline-block;}
    h4 {font-size:26px !important;margin:30px 0 10px !important;color:#000 !important;}
    p {color:#999 !important;font-size:14px;}
    .noshadow {box-shadow:none !important;padding:10px 30px !important;}
}
.noshadow {box-shadow:$no !important;padding:$size10 $size30 !important;}

