.setting-icon{position:fixed;top:45%;right:0px;z-index:9;background:#fff;line-height:1.2;display:inline-block;padding-top:3px;color:#294a83!important;}
.setting-icon .material-icons-outlined{font-size:35px!important;}
.modal .modal-full-height{width:250px!important;}
.modal .modal-full-height .modal-body:hover{overflow-y:inherit;}