table thead tr th:nth-child(2) {position:sticky;left:-15px;background:#f7f7f7;z-index:1;}
table tbody tr td:nth-child(2) {position:sticky;left:-15px;background:#fbfbfb;z-index:1;}
table tbody tr:nth-of-type(odd) td:nth-child(2) {background:#fff;}

