.modal-dialog .modal-body {padding:0 !important;margin:15px;border:1px solid #ccc;min-height:auto;border-radius:0 7px 0 7px;
    .table table {
        thead {top:-1px;
            tr {border:none !important;
                .firstCol {left:-1px !important;}
            }
        }
        tbody {
            tr {border-left:none !important;
                td {background:#fff;}
                .firstCol {left:-1px !important;}
                &:hover {
                    td {
                        color: var(--fontColor) !important;
                        background-color: var(--activebg) !important;
                    }
                }
                .typeheaderrormsg {color:red;position:absolute;bottom:-10px;left:0;}
            }
        }
    }
}