<div mdbModal #gridViewModalSelection="mdbModal" class="modal fade top selectedparametermodule"  tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',keyboard: false}">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-full-width" role="document">
    <div class="modal-content" >
      <!--Header-->
      <div class="modal-header">
        <h3 class="modal-title m-0 text-uppercase">{{ field.label}}
            <span *ngIf="modifiedGridData && modifiedGridData.length > 0">
                (<span *ngIf="grid_row_selection && selectedDataLength > 0" matTooltip="All Selected List">{{ selectedDataLength }}/</span>
                <span *ngIf="filteredData && filteredData.length > 0" matTooltip="All Filtered List">{{ filteredData.length }}/</span>
                <span matTooltip="All Data List">{{modifiedGridData.length}})</span>
            </span></h3>
        <div *ngIf="field.isFilter" class="d-flex mr-auto ml-3">
            <div class=""><input type="text" size="35" class="form-control form-control-sm" [(ngModel)]="filterData" [placeholder]="field.filterLabel" (keyup)="searchfilterData()"/></div>
            <div class="" *ngIf="onlySelectedData && grid_row_selection"><mat-checkbox color="primary" class="mb-0 ml-3" aria-label="Only Selected" [(ngModel)]="onlySelected" (change)="onlySelectedRecord($event)" [matTooltip]="'Only Selected'">Show Only Selected</mat-checkbox></div>
        </div>
        <div *ngIf="listOfGridFieldName && listOfGridFieldName.length > 0" style="position: absolute;
            right: 50px;">
            <app-grid-filter-menu [extraClass]="'plusicon float-left'" [columns]="listOfGridFieldName" [form]="currentForm" [formTable]="field"></app-grid-filter-menu>
        </div>      
        <a class="h5 m-0 closebtb" (click)="closeModal()"><span>×</span></a>
      </div>
      <!--Body-->
      
      <div class="modal-body pt-0 popuptable">
        <div class="">
            <div class="table without-filter mb-2 grid-selection-modal">            
                <table *ngIf="field.type == 'grid_selection' && listOfGridFieldName.length > 0" class="table-bordered table-hover  gridselectionform" matSort (matSortChange)="sortData($event)">
                    <thead>
                        <tr class="border">
                            <th *ngIf="grid_row_selection" class="text-center colSticky firstCol">
                              <mat-checkbox color="primary" class="mb-0" aria-label="Select All" [checked]="isChecked()" [indeterminate]="isIndeterminate()" (change)="$event ? toggleAll($event) : null" [matTooltip]="'Select All'"></mat-checkbox>
                            </th>
                            <th *ngFor="let fieldName of listOfGridFieldName;let i=index" [style.left]="fieldName.stickyPosition" [ngClass]="{'colSticky': fieldName.sticky,'d-table-cell':fieldName.display,'d-none':!fieldName.display}">
                                <div class="heading"  [style.width]="fieldName.width" [style.text-align]="fieldName.text_align"><span class="grid-heading-nowrap" [title]="fieldName.label">{{ fieldName.label }}<span *ngIf="fieldName.is_mandatory && fieldName.editable" class="text-danger"> *</span></span>
                                    <span class="show-on-hover px-1">
                                        <i fas class="fas fa-ellipsis-v px-1" [matMenuTriggerFor]="more" [matTooltip]="'More'" [matTooltipPosition]="'above'"></i>
                                    </span>
                                    <mat-menu  #more="matMenu" xPosition="after" class="rightclickmenu">
                                       <app-grid-column-action-menu  [headElements]="listOfGridFieldName" [data]="modifiedGridData" [index]="i"></app-grid-column-action-menu>
                                    </mat-menu>
                                </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of modifiedGridData | filter:filterData; let i = index"  class="grid-filter border" [ngClass]="{'d-none': onlySelected && !data.selected}">
                            <td *ngIf="grid_row_selection" class="text-center colSticky firstCol">
                                <div  [ngClass]="data.selected && grid_row_refresh_icon || ((data['column_edit'] || !data['column_edit']) && editableGridColumns.length > 1 && !editEnable) ?'checkeditmode':''">
                                    <mat-checkbox  color="primary" (click)="$event.stopPropagation()" (change)="$event ? toggle(data, $event, i) : null" [checked]="data.selected" [disabled]="data.disabled" [matTooltip]="'Select'"></mat-checkbox>
                                    <span *ngIf="data.selected && grid_row_refresh_icon" class="material-icons grid-button ml-2" (click)="refreshRowWithMasterData(i)" [matTooltip]="'Refresh'">refresh</span>
                                    <span *ngIf="data.selected && editableGridColumns.length > 1 && !editEnable" class="material-icons grid-button ml-2" (click)="singleRowEdit(data)" [matTooltip]="'Edit'"><span *ngIf="!data['column_edit']">edit</span><span *ngIf="data['column_edit']">save</span></span>
                                </div>
                            </td>
                            <td  *ngFor="let fieldName of listOfGridFieldName" [style.left]="fieldName.stickyPosition" [ngClass]="{'colSticky': fieldName.sticky,'d-table-cell':fieldName.display,'d-none':!fieldName.display}">
                              <div>
                                <div *ngIf="!fieldName.editable" class="grid-data d-flex align-items-center copyIconContainer" [style.width]="fieldName.width" [style.text-align]="fieldName.text_align">
                                    <span  [matTooltip]="data[fieldName.field_name+'_tooltip']" [matTooltipPosition]="'above'" [ngClass]="[fieldName.field_class != null && fieldName.field_class != ''?fieldName.field_class:'',fieldName.wrap != null && fieldName.wrap?'':'grid-coloumn-nowrap']"  [innerHtml]="data[fieldName.field_name]" (click)="showGriddData(i,fieldName)" class="copyField"></span>
                                    <span *ngIf="data[fieldName.field_name]!='' && data[fieldName.field_name]!=undefined && fieldName.type!='info'"  class="material-icons copyicon"  [matTooltip]="'copy'" #tooltipTrigger="matTooltip" [matTooltipPosition]="'above'" (click)="copyText(data[fieldName.field_name])" >content_copy</span>
                                </div>
                                <div *ngIf="fieldName.editable" style="position: relative;">
                                    <div *ngIf="!data['column_edit']">
                                        <span [matTooltip]="data[fieldName.field_name+'_tooltip']" [matTooltipPosition]="'above'" [ngClass]="[fieldName.field_class != null && fieldName.field_class != ''?fieldName.field_class:'',fieldName.wrap != null && fieldName.wrap?'':'grid-coloumn-nowrap']"  [innerHtml]="getValueForGrid(fieldName,data)" (click)="showGriddData(i,fieldName)"></span>
                                    </div>
                                    <div *ngIf="data['column_edit']">
                                        <div *ngIf="fieldName.type == 'boolean'">
                                            <mat-checkbox  color="primary"  [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']" (change)="checkDisableIf(data)"></mat-checkbox>
                                        </div>
                                        <div *ngIf="fieldName.type == 'checkbox'">
                                            <mat-checkbox  color="primary"  [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']" (change)="checkDisableIf(data)"></mat-checkbox>
                                        </div>
                                        <div *ngIf="fieldName.type.toLowerCase() == 'text'">
                                            <input  type="text" class="form-control form-control-sm d-inline mr-2" (keyup)="calculateNetAmount(fieldName, i)" [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']" >
                                        </div>
                                        <div *ngIf="fieldName.type.toLowerCase() == 'textarea'">
                                            <textarea class="form-control form-control-sm d-inline mr-2" [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']" (change)="checkDisableIf(data)"></textarea>
                                        </div>
                                        <div *ngIf="fieldName.type.toLowerCase() == 'number'">
                                            <input  type="number" style="min-width: 50px;" step="any" class="form-control form-control-sm d-inline mr-2" (keyup)="calculateNetAmount(fieldName, i)"  [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']">
                                        </div>
                                        <div *ngIf="fieldName.type == 'date'">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>{{ fieldName.label | titlecase}}</mat-label>
                                                <input matInput [matDatepicker]="picker" [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div> 
                                        <div *ngIf="fieldName.type == 'time'">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>{{ fieldName.label | titlecase}}</mat-label>
                                                <input matInput [ngxTimepicker]="picker" [placeholder]="fieldName.placeholder | titlecase" [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']">
                                                <ngx-material-timepicker #picker></ngx-material-timepicker>
                                            </mat-form-field>

                                        </div>
                                        <div class="w-100 position-relative" *ngIf="fieldName.type.toLowerCase() == 'chips'">
                                            <mat-form-field appearance="outline" class="example-full-width w-100">
                                                <mat-chip-list #chipList aria-label="Item selection">
                                                    <span *ngIf="data && data[fieldName.field_name] && data[fieldName.field_name].length > 0">
                                                        <mat-chip *ngFor="let item of data[fieldName.field_name]; let i = index" [selectable]="selectable" [removable]="removable" (removed)="openModal('confirm-modal',i,data,fieldName,'delete')" cdkDrag [disabled]="data[fieldName.field_name+'_disabled']">{{getddnDisplayVal(item)}}
                                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                        </mat-chip>
                                                    </span>
                                                    <input type="text" #chipsInput [placeholder]="fieldName.label" aria-label="Number" matInput
                                                        [matAutocomplete]="first" [matChipInputFor]="chipList" [disabled]="data[fieldName.field_name+'_disabled']"                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"  (keyup)="searchTypeaheadData(fieldName,data,chipsInput.value)" [id]="fieldName._id+'_'+fieldName.field_name">
                                                    <mat-autocomplete autoActiveFirstOption #first="matAutocomplete" (optionSelected)="setValue($event,fieldName,i,chipsInput,data)" [displayWith]="getOptionText">
                                                        <mat-option *ngFor="let option of typeAheadData" [value]="option" [innerHtml]="getddnDisplayVal(option)"></mat-option>
                                                    </mat-autocomplete>
                                                </mat-chip-list>
                                            </mat-form-field>                                
                                        </div>
                                        <div class="w-100 position-relative" *ngIf="fieldName.type.toLowerCase() == 'userinput_chips'">
                                            <mat-form-field appearance="outline" class="example-full-width w-100">
                                                <mat-chip-list #chipList aria-label="Item selection">
                                                    <span *ngIf="data && data[fieldName.field_name] && data[fieldName.field_name].length > 0">
                                                        <mat-chip *ngFor="let item of data[fieldName.field_name]; let i = index" [selectable]="selectable" [removable]="removable" (removed)="openModal('confirm-modal',i,data,fieldName,'delete')" cdkDrag [disabled]="data[fieldName.field_name+'_disabled']">{{getddnDisplayVal(item)}}
                                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                        </mat-chip>
                                                    </span>
                                                    <input type="text" #chipsInput [placeholder]="fieldName.label" aria-label="Number" matInput
                                                        [matAutocomplete]="first" [matChipInputFor]="chipList" [disabled]="data[fieldName.field_name+'_disabled']"                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event,fieldName,i,chipsInput,data)" (keyup)="searchTypeaheadData(fieldName,data,chipsInput.value)" [id]="fieldName._id+'_'+fieldName.field_name">
                                                    <mat-autocomplete  #first="matAutocomplete" (optionSelected)="setValue($event,fieldName,i,chipsInput,data)" [displayWith]="getOptionText">
                                                        <mat-option *ngFor="let option of typeAheadData" [value]="option" [innerHtml]="getddnDisplayVal(option)"></mat-option>
                                                    </mat-autocomplete>
                                                </mat-chip-list>
                                            </mat-form-field>                                
                                        </div>
                                        <div *ngIf="fieldName.type.toLowerCase() == 'typeahead'">
                                            <div class="w-100 position-relative" *ngIf="fieldName.datatype != 'chips'">
                                                <mat-form-field appearance="outline" class="example-full-width w-100">
                                                    <input type="text" [placeholder]="fieldName.label" matInput #typeheadInput
                                                        [matAutocomplete]="first" [(ngModel)]="data[fieldName.field_name]" (keyup)="searchTypeaheadData(fieldName,data,typeheadInput.value)" autocomplete="off">
                                                    <mat-autocomplete autoActiveFirstOption #first="matAutocomplete" (optionSelected)="setValue($event,fieldName,i,typeheadInput,data)"  [displayWith]="getOptionText">
                                                        <mat-option *ngFor="let option of typeAheadData" [value]="option" [innerHtml]="getddnDisplayVal(option)"></mat-option>
                                                    </mat-autocomplete>                                  
                                                </mat-form-field>
                                            </div>
                                            <div class="w-100 position-relative" *ngIf="fieldName.datatype == 'chips'">
                                                <mat-form-field appearance="outline" class="example-full-width w-100">
                                                    <mat-chip-list #chipList aria-label="Item selection">
                                                        <span *ngIf="data && data[fieldName.field_name] && data[fieldName.field_name].length > 0">
                                                            <mat-chip *ngFor="let item of data[fieldName.field_name]; let i = index" [selectable]="selectable" [removable]="removable" (removed)="openModal('confirm-modal',i,data,fieldName,'delete')" cdkDrag [disabled]="data[fieldName.field_name+'_disabled']">{{getddnDisplayVal(item)}}
                                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                            </mat-chip>
                                                        </span>
                                                        <input type="text" #typeheadchips [placeholder]="fieldName.label" aria-label="Number" matInput
                                                            [matAutocomplete]="first" [matChipInputFor]="chipList" [disabled]="data[fieldName.field_name+'_disabled']"                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"  (keyup)="searchTypeaheadData(fieldName,data,typeheadchips.value)" [id]="fieldName._id+'_'+fieldName.field_name">
                                                        <mat-autocomplete autoActiveFirstOption #first="matAutocomplete" (optionSelected)="setValue($event,fieldName,i,typeheadchips,data)" [displayWith]="getOptionText">
                                                            <mat-option *ngFor="let option of typeAheadData" [value]="option" [innerHtml]="getddnDisplayVal(option)"></mat-option>
                                                        </mat-autocomplete>
                                                    </mat-chip-list>
                                                </mat-form-field>                                
                                            </div>
                                        </div>
                                        <div *ngIf="fieldName.type.toLowerCase() == 'dropdown'">
                                            <mat-form-field appearance="outline" class="w-100" *ngIf="fieldName.datatype == 'object'">
                                                <mat-select [compareWith]="compareObjects" [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']" (selectionChange)="checkDisableIf(data)">
                                                    <div class="p-1 searchdropdown bg-white"><input type="search" class="form-control-sm w-100 border" [(ngModel)]="term[i+'_'+fieldName.field_name]" [ngModelOptions]="{standalone: true}"></div>
                                                    <mat-option></mat-option>
                                                    <mat-option *ngFor="let staticValue of copyStaticData[fieldName.ddn_field] | filter:term[i+'_'+fieldName.field_name]" [value]="staticValue">
                                                        {{getddnDisplayVal(staticValue)}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <!-- <div *ngIf="fieldName.datatype == 'object'">
                                                <select [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']" class="form-control form-control-sm">
                                                    <option *ngFor="let staticValue of copyStaticData[fieldName.ddn_field] | filter:term[i+'_'+fieldName.field_name]" [value]="staticValue">                                                        {{getddnDisplayVal(staticValue)}}</option>
                                                </select>
                                            </div> -->
                                            <mat-form-field appearance="outline" class="w-100" *ngIf="fieldName.datatype != 'object'">                                       
                                                <mat-select [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']" (selectionChange)="checkDisableIf(data)">
                                                    <div class="p-1 searchdropdown bg-white"><input type="search" class="form-control-sm w-100 border" [(ngModel)]="term[i+'_'+fieldName.field_name]" [ngModelOptions]="{standalone: true}"></div>
                                                    <mat-option></mat-option>
                                                    <mat-option *ngFor="let staticValue of copyStaticData[fieldName.ddn_field] | filter:term[i+'_'+fieldName.field_name]" [value]="staticValue">
                                                        {{getddnDisplayVal(staticValue)}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div> 
                                        <div *ngIf="fieldName.type.toLowerCase() == 'mini-html'">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <angular-editor [(ngModel)]="data[fieldName.field_name]" [config]="minieditorConfig"></angular-editor>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex" *ngIf="fieldName.type.toLowerCase() == 'file'">
                                            <button mat-flat-button color="primary" [disabled]="fieldName.is_disabled" (click)="uploadModal(fieldName,i,data)"><mat-icon class="fileuploadicon mr-2">cloud_upload</mat-icon> {{fieldName.label}}</button>
                                            <ng-container *ngIf="data[fieldName.field_name] && data[fieldName.field_name].length > 0">
                                                <button mat-button color="primary" [matMenuTriggerFor]="beforeMenu">{{data[fieldName.field_name].length}} Items <mat-icon class="fileuploadicon">arrow_drop_down</mat-icon></button>
                                                <mat-menu #beforeMenu="matMenu" xPosition="before">
                                                    <button mat-menu-item *ngFor="let file of data[fieldName.field_name]; let i = index" class="d-flex justify-content-between">
                                                        <small>{{file.rollName ? file.rollName: file.fileName }}</small>
                                                        <span *ngIf="file._id" (click)="downloadFile(file)"><mat-icon class="m-0">download</mat-icon></span>
                                                    </button>
                                                </mat-menu>
                                            </ng-container> 
                                        </div> 
                                    </div>
                                </div>
                              </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table *ngIf="field.type == 'grid_selection_vertical'" class="table-bordered table-striped table-hover">
                    <tbody>
                    <tr *ngIf="grid_row_selection">
                        <td *ngIf="selectGridData" class="text-center"><mat-checkbox color="primary" class="mb-0" aria-label="Select All" [checked]="isChecked()" [indeterminate]="isIndeterminate()" (change)="$event ? toggleAll($event) : null" [matTooltip]="'Select All'"></mat-checkbox></td>
                        <td *ngFor="let data of modifiedGridData|filter:filterData; let i = index" class="text-center" >
                            <mat-checkbox color="primary" (click)="$event.stopPropagation()"(change)="$event ? toggle(data, $event, i) : null" [checked]="data.selected">
                            </mat-checkbox>
                        </td>
                    </tr>
                    <tr *ngFor="let fieldName of listOfGridFieldName" [ngClass]="fieldName.display ? 'ml-1':'d-none'">
                        <td>
                            <div class="heading" [style.width]="fieldName.width" [style.text-align]="fieldName.text_align">
                                <span class="grid-heading-nowrap" [title]="fieldName.label">{{ fieldName.label }}</span>
                            </div>
                        </td>
                        <td *ngFor="let data of modifiedGridData|filter:filterData; let i = index"  class="grid-filter" [ngClass]="fieldName.display ? 'ml-1':'d-none'">
                            <div>
                                <div *ngIf="!fieldName.editable" class="grid-data" [style.width]="fieldName.width" [style.text-align]="fieldName.text_align">
                                    <span [matTooltip]="data[fieldName.field_name+'_tooltip']" [matTooltipPosition]="'above'" [ngClass]="[fieldName.field_class != null && fieldName.field_class != ''?fieldName.field_class:'',fieldName.wrap?'':'grid-coloumn-nowrap']"  [innerHtml]="data[fieldName.field_name]" ></span>
                                </div>
                                <div *ngIf="fieldName.editable">
                                    <div *ngIf="fieldName.type == 'boolean'">
                                        <mat-checkbox  color="primary"  [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']" (change)="checkDisableIf(data)"></mat-checkbox>
                                    </div>
                                    <div *ngIf="fieldName.type == 'checkbox'">
                                        <mat-checkbox  color="primary"  [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']" (change)="checkDisableIf(data)"></mat-checkbox>
                                    </div>
                                    <div *ngIf="fieldName.type.toLowerCase() == 'text'">
                                        <input  type="text" class="form-control form-control-sm d-inline mr-2" (keyup)="calculateNetAmount(fieldName, i)" [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']" >
                                    </div>
                                    <div *ngIf="fieldName.type.toLowerCase() == 'number'">
                                        <input  type="number" style="min-width: 50px;" class="form-control form-control-sm d-inline mr-2" (keyup)="calculateNetAmount(fieldName, i)"  [(ngModel)]="data[fieldName.field_name]" [disabled]="data[fieldName.field_name+'_disabled']">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer">
        <span class="float-left" *ngIf="checkSelectedData && onlySelectedData && editableGridColumns.length > 1 && grid_row_selection">
            <mat-checkbox color="primary" class="mb-0 ml-3" aria-label="Only Selected" [(ngModel)]="editEnable" (change)="enableSelectedEdit($event)" [matTooltip]="'Edite Selected Items'">Edit Selected</mat-checkbox>
        </span>
        <button type="button" *ngIf="checkSelectedData && onlySelectedData" mdbBtn color="primary" size="sm" class="noshadow rounded bg-cerulean" mdbWavesEffect data-dismiss="modal" (click)="bulkUpdate()">Bulk Update</button>
        <button type="button" [disabled]="false" mdbBtn color="primary" size="sm" class="noshadow rounded bg-cerulean" mdbWavesEffect  (click)="selectGridData()">{{ buttonlabel }}</button>
        <button type="button" mdbBtn color="primary" size="sm" class="noshadow rounded bg-cerulean" mdbWavesEffect data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<app-confirm-modal *ngIf="!isGridSelectionOpen" id="confirm-modal" (alertResponce)="alertResponce1($event)"></app-confirm-modal>
<app-bulk-update id="bulk-update-modal" (bulkUpdateResponce)="bulkUpdateResponce($event)"></app-bulk-update>
<app-file-upload-modal *ngIf="!isGridSelectionOpen" id="grid-selection-file-upload" (fileUpload)="fileUploadResponce($event)"></app-file-upload-modal>