<div mdbModal #auditHistory="mdbModal" class="modal fade">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-full-width" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center m-0">
        <h4 class="modal-title font-weight-bold m-0">Audit History</h4>
        <button class="closebtb" (click)="close()"><span>&times;</span></button>
      </div>

      <div class="d-flex align-items-center justify-content-center bg-light px-3 py-2" *ngIf="auditHistoryList">
        <h4 class="m-0">{{selectedTab.label}}</h4>
        <div class="d-flex align-items-center mx-3">
          <select (change)="handleChange($event.target.selectedIndex)">
            <option *ngFor="let data of auditHistoryList; let i = index" [value]="data.currentObject.version">{{data.currentObject.version}}
            </option>
          </select>
        </div>
        <div class="mt-2"><mat-checkbox color="primary">Show Difference</mat-checkbox></div>
      </div>

      <div class="modal-body auditdetails">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Label</th>
              <th scope="col">Current Value</th>
              <th scope="col">Old Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ng-container *ngFor="let data of selectedObject | keyvalue">
                  <p><span class="d-block"><strong>{{data.key}}</strong></span></p>
                  <div class="bg-light">
                    <ng-container *ngFor='let objData of data.value | keyvalue; let i = index'>
                      <p><mat-icon (click)="toggleAudit(i)">add</mat-icon><strong>{{objData.key}}</strong></p>
                      <ng-container *ngIf="isShowObj && showIndex === i">
                        <ng-container *ngFor='let childData of objData.value | keyvalue'>
                          <p class="childdata">{{childData.key}}</p>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>
              </td>
              <td>
                <ng-container *ngFor="let data of selectedObject | keyvalue">
                  <p><span class="d-block"><strong>{{data.value}}</strong></span></p>
                  <div class="bg-light">
                    <ng-container *ngFor='let objData of data.value | keyvalue; let i = index'>
                      <p><strong>{{objData.value}}</strong></p>
                      <ng-container *ngIf="isShowObj && showIndex === i">
                        <ng-container *ngFor='let childData of objData.value | keyvalue'>
                          <p class="childdata">{{childData.value}}</p>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>
              </td>
              <td>
                <ng-container *ngFor="let data of previousAuditData | keyvalue">
                  <p><span class="d-block"><strong>{{data.value}}</strong></span></p>
                  <div class="bg-light">
                    <ng-container *ngFor='let objData of data.value | keyvalue; let i = index'>
                      <p><strong>{{objData.value}}</strong></p>
                      <ng-container *ngIf="isShowObj && showIndex === i">
                        <ng-container *ngFor='let childData of objData.value | keyvalue'>
                          <p class="childdata">{{childData.value}}</p>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>