select {border:1px solid #ccc;padding:3px 10px;}

.auditdetails {
    .table {
        tr {
            .labelfield {background:var(--formLabelBg);color:#333;} 
            .labelfield ~ td {display:none !important;}
            td[colspan="3"] ~ td {display:none !important;}
        }
       
        // p {font-size:15px;margin:0;padding:0.75rem;}
    } 

}