select {border:1px solid #ccc;padding:3px 10px;}

.auditdetails {
    .authtitle {padding:3px 10px;border-bottom:2px solid #dee2e6;color:#495057;background:#e9ecef;}
    p {font-size:12px;margin:0;padding:5px 10px;width:100%;overflow:hidden;border-bottom:1px solid #ccc;white-space:nowrap;text-overflow:ellipsis;min-height:32px;
        strong {color:#333;font-size:14px;} 
        span {display:inline-block;max-width:300px;font-size:14px;}
        mat-icon {font-size:14px;vertical-align:middle;width:15px;height:15px;line-height:15px;margin-right:10px;cursor:pointer;}
    }
    .childdata {background:#e9e9e9;}
    

}