<div mdbModal #auditHistory="mdbModal" class="modal fade">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-full-width" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center m-0">
        <h4 class="modal-title font-weight-bold m-0">Audit History</h4>
        <button class="closebtb" (click)="close()"><span>&times;</span></button>
      </div>

      <div class="d-flex align-items-center justify-content-center bg-light px-3 py-2">
        <h4 class="m-0" *ngIf="selectedTab">{{selectedTab.label}}</h4>
        <div class="d-flex align-items-center mx-3" *ngIf="allVersionList && allVersionList.length > 0">
          <select (change)="changeAuditVersion($event.target.value)" [(ngModel)] ="lastEdit">
            <option *ngFor="let data of allVersionList; let i = index" [value]="data">{{data}}
            </option>
          </select>
        </div>
        <!-- <div class="mt-2"><mat-checkbox color="primary">Show Difference</mat-checkbox></div> -->
      </div>

      <div class="modal-body auditdetails">
        <table class="table" *ngIf="formFields && formFields.length > 0">
          <thead class="thead-light">
            <tr>
              <th scope="col">Form Fields</th>
              <th scope="col">Old Data</th>
              <th scope="col">Current Data</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let field of formFields" [ngClass]="field && field.isChanged ? 'bg-danger':'nochange'">

              <td colspan="3" class="labelfield" *ngIf="field.type == 'label'">
                <strong>{{field.label | titlecase}}</strong>
              </td>

              <td *ngIf="field.type != 'label' && field.type != 'list_of_fields' && field.type != 'grid_selection'">
                <strong>{{field.label | titlecase}}</strong>
              </td>

              <td colspan="3" class="p-0 mb-2" *ngIf="field.type == 'list_of_fields'">
                <mat-accordion>
                  <mat-expansion-panel (click)="copmareListOfFields(field)">
                    <mat-expansion-panel-header>List Of Fields:  {{field.label | titlecase}}</mat-expansion-panel-header>
                    <table>
                      <tr *ngFor="let data of field.list_of_fields" [ngClass]="data && data.isChanged ? 'bg-danger':'nochange'">
                        <td>{{data.label}}</td>
                        <td>{{previousObject[data.field_name]}}</td>
                        <td>{{currentObject[data.field_name]}}</td>
                      </tr>
                    </table>
                  </mat-expansion-panel>
                </mat-accordion>
              </td>

              <td colspan="3" class="p-0" *ngIf="field.type == 'grid_selection'">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>{{field.label | titlecase}} <strong class="mx-3">{{field.gridColumns.length}}</strong></mat-expansion-panel-header>
                    <!-- <table>
                      <tr *ngFor="let data of field.gridColumns">
                        <td>{{data.label}}</td>
                        <td>{{previousObject[data.field_name]}}</td>
                        <td>{{currentObject[data.field_name]}}</td>
                      </tr>
                    </table> -->
                  </mat-expansion-panel>
                </mat-accordion>
              </td>

              <td *ngIf="previousObject != null && field && field.field_name && field.type != 'list_of_fields' && field.type != 'grid_selection'">
                <ng-container>
                  {{previousObject?.[field.field_name]?.name ? previousObject?.[field.field_name].name : previousObject?.[field.field_name]}}
                </ng-container>
                  <ng-container *ngIf="field.datatype != 'object' && field.datatype != 'list_of_object' && field.type != 'grid_selection'">
                    {{previousObject[field.field_name]}}
                  </ng-container>
              </td>

              <td *ngIf="currentObject != null && field && field.field_name && field.type != 'list_of_fields' && field.type != 'grid_selection'">
                <ng-container>
                  {{currentObject?.[field.field_name]?.name ? currentObject?.[field.field_name].name : currentObject?.[field.field_name]}}
                </ng-container>
                  <ng-container *ngIf="field.datatype != 'object' && field.datatype != 'list_of_object' && field.type != 'grid_selection'">
                    {{currentObject[field.field_name]}}
                  </ng-container>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>