select {border:1px solid #ccc;padding:3px 10px;}

.auditdetails {
    .table {
        tr {
            td, th {width:33%;}
            .labelfield {background:var(--formLabelBg);color:#333;} 
            p {border-bottom:1px solid #ccc;min-height:25px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:100%;}
        }
    } 
    .bg-danger {background:#eda9a9!important;}
    mat-icon {display:inline-block;vertical-align:middle;margin-left:5px;font-size:20px;opacity:0.5;}
}