<div (click)="$event.stopPropagation()">
<section class="notificationdetails" [ngClass]="{'px-3 pt-1' : !menuView}" >
    <div class="card">
        <mat-tab-group animationDuration="0ms" #tabGroup (selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedIndex">
            <mat-tab label="Unread">
                <div class="card-body p-0">                    
                      <div class="bg-white rounded box-shadow">
                        <div *ngFor="let data of notificationlist | paginate: { id: 'unReadNotification',itemsPerPage: 10, currentPage: pageNumber, totalItems: total }; let i = index" class="media  cursor-pointer px-3 py-2 notification-item border-bottom border-gray d-flex align-items-center" (click)="readNotification(data)">
                            <div class="d-flex justify-content-between align-items-center">
                            <div mat-list-avatar [ngClass]="{'unread-indicator': data.notificationStatus=='UNREAD'}" class="mr-1" style="width: 10px;height: 10px;"></div>
                            <img src="assets/img/profile.jpg" alt="image" class="mr-2 rounded" width="40" height="40">
                        </div>
                        <div class="media-body mb-0 lh-125">
                            <div class="d-flex justify-content-between">
                                <div class="d-block text-dark" style="font-weight: 500;">{{data.userId.name}}</div>
                                <span class="text-body">{{data.notificationType | titlecase}}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>{{data.message | titlecase}}</span>
                                <span  [innerHtml]="getDay(data)"></span>
                            </div>
                        </div>
                        <div >
                            <i class="fa-regular fa-envelope-open px-1 mx-2 notifyMoreBtn" [matMenuTriggerFor]="more" [matTooltip]="'Mark as read'" [matTooltipPosition]="'above'" (click)="readNotification(data,'READ')"></i>
                        </div>
                        </div>
                       </div>
                </div>
            </mat-tab>
            <mat-tab label="All" *ngIf="!menuView"> 
                <div class="bg-white rounded box-shadow">
                    <div class="media  cursor-pointer px-3 py-2 notification-item border-bottom border-gray d-flex align-items-center" *ngFor="let data of allTabData | paginate: { id: 'unReadNotification',itemsPerPage: 10, currentPage: pageNumber, totalItems: total }; let i = index" (click)="readNotification(data)" >
                        <div class="d-flex justify-content-between align-items-center">
                        <div mat-list-avatar [ngClass]="{'unread-indicator': data.notificationStatus=='UNREAD'}" class="mr-1" style="width: 10px;height: 10px;"></div>
                        <img src="assets/img/profile.jpg" alt="image" class="mr-2 rounded" width="40" height="40">
                    </div>
                    <div class="media-body mb-0 lh-125">
                        <div class="d-flex justify-content-between">
                            <div class="d-block text-dark" style="font-weight: 500;">{{data.userId.name}}</div>
                            <span class="text-body">{{data.notificationType | titlecase}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>{{data.message | titlecase}}</span>
                            <span  [innerHtml]="getDay(data)"></span>
                        </div>
                    </div>
                    <div >
                        <i class="fa-regular fa-envelope-open px-1 mx-2 notifyMoreBtn" [matMenuTriggerFor]="more" [matTooltip]="'Mark as read'" [matTooltipPosition]="'above'" (click)="readNotification(data,'READ')"></i>
                    </div>
                    </div>

                   </div>
            </mat-tab>
          </mat-tab-group>
        
    </div>
</section>
<section *ngIf="!menuView">
    <div class="row m-0 w-100">
        <div class="col-lg-12 text-center mt-0">
            <mat-card class="mb-2 pb-0 bg-aluminium rounded-top-0">
                <div class="text-white px-2 mat-card-image  mb-0 d-block">
                    <mat-card-content class="mb-0 py-2">
                        <pagination-controls (pageChange)="onPageChangeUnRead($event)" id="unReadNotification"></pagination-controls> 
                    </mat-card-content>                                         
                </div>
            </mat-card>      
        </div>
  </div>
  <!-- <div *ngIf="activeTabIndex==1" class="row m-0 w-100">
        <div class="col-lg-12 text-center mt-0">
            <mat-card class="mb-2 pb-0 bg-aluminium rounded-top-0">
                <div class="text-white px-2 mat-card-image  mb-0 d-block">
                    <mat-card-content class="mb-0 py-2">
                        <pagination-controls (pageChange)="onPageChangeAllTab($event)" id="allNotification"></pagination-controls> 
                    </mat-card-content>                                         
                </div>
            </mat-card>      
        </div>
 </div> -->
</section>

</div>

<div class="loader-overlay" *ngIf="isPageLoading">
    <mat-spinner diameter="50"></mat-spinner>
</div>