<section class="notificationdetails pt-4 px-3">
    <div class="card">
        <div class="card-header">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="select">
                <label class="form-check-label" for="select">Select All</label>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-hover m-0">
                <tbody>
                  <tr>
                    <td width="20"><input type="checkbox" class="mt-2"></td>
                    <td width="70%">
                        <h4 class="m-0">Notification One</h4>
                        <span class="mutted">Notification Discriptions</span>
                    </td>
                    <td><span class="mt-2">Author</span></td>
                    <td><span class="mt-2"><img src="assets/img/profile.jpg" class="rounded" width="20" height="20"></span></td>
                    <td><span class="mt-2">43 Minutes ago</span></td>
                  </tr>

                  <tr>
                    <td width="20"><input type="checkbox" class="mt-2"></td>
                    <td width="70%">
                        <h4 class="m-0">Notification Two</h4>
                        <span class="mutted">Notification Discriptions</span>
                    </td>
                    <td><span class="mt-2">Author</span></td>
                    <td><span class="mt-2"><img src="assets/img/profile.jpg" class="rounded" width="20" height="20"></span></td>
                    <td><span class="mt-2">43 Minutes ago</span></td>
                  </tr>

                  <tr class="table-secondary">
                    <td width="20"><input type="checkbox" class="mt-2"></td>
                    <td width="70%">
                        <h4 class="m-0">Notification Three</h4>
                        <span class="mutted">Notification Discriptions</span>
                    </td>
                    <td><span class="mt-2">Author</span></td>
                    <td><span class="mt-2"><img src="assets/img/profile.jpg" class="rounded" width="20" height="20"></span></td>
                    <td><span class="mt-2">43 Minutes ago</span></td>
                  </tr>

                  <tr>
                    <td width="20"><input type="checkbox" class="mt-2"></td>
                    <td width="70%">
                        <h4 class="m-0">Notification Four</h4>
                        <span class="mutted">Notification Discriptions</span>
                    </td>
                    <td><span class="mt-2">Author</span></td>
                    <td><span class="mt-2">
                        <img src="assets/img/profile.jpg" class="rounded" width="20" height="20">
                        <img src="assets/img/profile.jpg" class="rounded" width="20" height="20">
                    </span></td>
                    <td><span class="mt-2">43 Minutes ago</span></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</section>

<section class="mt-5">
    <mat-card-content class="m-0 pt-4 text-center">
        <pagination-controls id="server"></pagination-controls>
    </mat-card-content>
</section>