<div >
  <div class="row mt-3 m-0">
    <div class="col-sm-3">
      <div class="d-flex form-inputs">
        <input class="form-control" [(ngModel)]="modal" type="text" placeholder="Search ...">
        <i class="bx bx-search"></i>
      </div>
    </div>
    <div class="col-md-5">
      
    </div>
    <div class="col-lg-4">
      <div class="row m-0">
        <div class="col-lg-8">
          <mat-form-field appearance="outline" >
            <!-- <mat-label>Date Range</mat-label> -->
            <mat-date-range-input [rangePicker]="picker" >
                <input matStartDate  [(ngModel)]="dateRange.start"  placeholder="Start date" >
                <input matEndDate  [(ngModel)]="dateRange.end" placeholder="End date" >
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>  
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <button mat-flat-button style="background-color: #2596be;color: #fff !important;" class="filterbtn "  (click)="filterchart()">Filter</button>
        </div>
      </div>            
    </div>
  </div>
</div>

<div *ngIf="modules && modules.length > 0">
  <div *ngFor="let module of modules | filter:modal;let i = index" >
    <div class="row m-0">
      <div class="col-lg-12"><div class="form-label" >{{ module.title}}</div></div>
    </div>
    <div class="d-flex flex-wrap m-0 w-100 py-2" *ngIf="moduleWiseTabListMap && moduleWiseTabListMap[module.name] &&  moduleWiseTabListMap[module.name].length > 0">
      <div class="col-2 px-1" *ngFor="let tab of moduleWiseTabListMap[module.name] | filter:modal;let i = index">
        <div class="card m-2 countCard" >            
          <div class="card-header  py-1 px-1">
            
            <div class="align-items-center justify-content-between" style="width:70%;display: inline-block;" *ngIf="tab.name">
              <h4 class="m-0 overflow-ellipsis" style="font-size:12px">{{ tab.name }}</h4>
            </div>
            <span class="float-right">
              <a class="" (click)="refresh(tab.router)"><mat-icon style="font-size: 18px;line-height: 1.4;">refresh</mat-icon></a>
              <a  (click)="redirectToTab(tab.router)"><mat-icon style="font-size: 18px;line-height: 1.4;">arrow_right_alt</mat-icon></a>
            </span>
            
          </div>
          <div class="p-1">
            <div class="text-right px-2 py-1">
              <p class="dataCount" >{{gridCountByTab[tab.tab_name+'_'+tab.name] ? gridCountByTab[tab.tab_name+'_'+tab.name] : 0 }}</p>
              <!-- <i><small class="text-white">{{tab.breadCrum}}</small></i> -->
            </div>
          </div>
          <div class="card-footer  px-2 py-1">
            <a class="" *ngIf="tab.add_new" (click)="tabAction(tab,'add')"><mat-icon style="font-size: 18px;line-height: 1.4;">add_circle_outline</mat-icon></a>
            <a class="" *ngIf="gridCountByTab[tab.tab_name+'_'+tab.name] && gridCountByTab[tab.tab_name+'_'+tab.name] > 0" (click)="tabAction(tab,'view')"><span class="material-icons-outlined">visibility</span></a>
            <a class="float-right" *ngIf="gridCountByTab[tab.tab_name+'_'+tab.name] && gridCountByTab[tab.tab_name+'_'+tab.name] > 0"  (click)="tabAction(tab,'download')"><mat-icon style="font-size: 18px;line-height: 1.4;">download</mat-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="tabList.length == 0"><p class="text-center"><span>Dashlet Master not available in this application.</span></p></div>

<!-- <section *ngIf="tabList && tabList.length > 0">
  <mat-card-content class="m-0 pt-4 text-center">
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  </mat-card-content>
</section> -->