<header class="position-sticky" *ngIf="fullHeader">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark py-2" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand"><img [src]="logoPath" alt="Elabs" width="120px"></a></mdb-navbar-brand>
    <links *ngIf="menuBoxHome">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><button mat-button class="nav-link" [routerLink]="['/home_page']">Home</button></li>
        <li class="nav-item"><button mat-button class="nav-link" [routerLink]="['/download-manual-report']">Download Report</button></li>
        
        <li class="nav-item">
          <button mat-button class="nav-link" [matMenuTriggerFor]="menu2">Solutions <i class="material-icons-outlined">arrow_drop_down</i></button>
          <mat-menu #menu2="matMenu" class="moremenulist">
             <button mat-button class="dropdown-item" *ngFor="let item of solutions" [routerLink]="['/'+item.value]">{{item.name}}</button>
            </mat-menu>
        </li>

        <li class="nav-item">
          <button mat-button class="nav-link" [matMenuTriggerFor]="menu">Services <i class="material-icons-outlined">arrow_drop_down</i></button>
          <mat-menu #menu="matMenu" class="moremenulist" xPosition="before">
            <button mat-button (click)="service('automation')" >Laboratory Automation</button>
            <button mat-button (click)="service('business')">Laboratory Business Process Advisory</button>
            <button mat-button (click)="service('customization')">Application Customization</button>
            <button mat-button (click)="service('information')">Information Security Advisory &Consultancy</button>
          </mat-menu>
        </li>
       
        <li class="nav-item"><button mat-button class="nav-link" [routerLink]="['/career-with-us']">Career with Us</button></li>
        <li class="nav-item"><button mat-button class="nav-link" [routerLink]="['/contact-us']">Contact Us</button></li>
        <li class="nav-item" *ngIf="!logedin"><button mat-button class="nav-link" (click)="navigateSigninPage()">Login</button></li>
        <li class="nav-item" *ngIf="logedin"><button mat-button class="nav-link" (click)="navigateDashboard()">Dashboard</button></li>
      </ul>
    </links>
  </mdb-navbar>
</header>



<app-signin-modal id="signin-modal" (signinResponce)="signinResponce($event)"></app-signin-modal>
<app-signup-modal id="signup-modal" (signupResponce)="signupResponce($event)"></app-signup-modal>
<app-forgotpwd-modal id="fgpwd-modal" (forgotPwdResponce)="forgotPwdResponce($event)"></app-forgotpwd-modal>

 