<div style="height: calc(100vh - 160px);">
    <div class="row">
        <div class="col-lg-12 mt-4">
            <div class="row">
                <div class="col-lg-3">
                    <mat-form-field appearance="outline" class="w-100" >
                        <mat-label>User</mat-label>
                        <mat-select [compareWith]="compareObjects" #user  (selectionChange)="getMaplist(user.value)" >
                            <mat-option *ngFor="let staticValue of copyStaticData['user_list']" [value]="staticValue" [innerHtml]="getddnDisplayVal(staticValue)">
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <a class="btn-floating btn-sm btn-primary m-0 small mt-2" (click)="getMaplist(user.value)"><i class="material-icons md-48">update</i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints"></agm-direction>
            </agm-map>
        </div>
    </div>
</div>