<div class="solutions_page">
<div class="nav flex-column nav-pills me-3 m_none" id="v-pills-tab">
  <a class="nav-link"  *ngFor="let item of solutions" [ngClass]="currentPage == '/'+item.value?'active':''" [routerLink]="['/'+item.value]">{{item.name}} <i class="bi bi-chevron-right right"></i></a>


  <!-- <a class="nav-link" data-bs-toggle="pill" href="#Platform">Platform <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Security">Security <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link active" data-bs-toggle="pill" href="#Customer">Customer Portal <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Sales">Sales Management <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Machine">Machine Interface <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Operations">Operations Management <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Testing">Testing Process Automation <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Quality">Quality Management <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Data">Data Library <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Contracts">Contracts <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Payroll">Payroll Management <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#HR">HR Management <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Procurement">Procurement <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Inventory">Inventory <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Remnant">Remnant Sample <i class="bi bi-chevron-right right"></i></a>
  <a class="nav-link" data-bs-toggle="pill" href="#Incident">Incident Management <i class="bi bi-chevron-right right"></i></a> -->
  <!-- <a class="text-center font20 pt-4" id=""><span class="bi bi-arrow-down"></span></a> -->
</div>
</div>