<div mdbModal #permissionTreeView="mdbModal" class="modal fade top"  tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',keyboard: false}">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title m-0" >{{ fieldName }}</h4>
        <button type="button" class="closebtb" data-dismiss="modal" (click)="closeModal()"><span>×</span></button>
      </div>
      <!--Body-->
      <div class="modal-body pt-0 tree-view">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-checkbox class="checklist-leaf-node"
                          [checked]="checklistSelection.isSelected(node)"
                          (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
                          <button *ngIf="checklistSelection.isSelected(node)"  mat-icon-button (click)="addRollPermissionTabWise(node)" class="plusicon"><mat-icon class="material-icons text-cerulean">add</mat-icon></button>
          </mat-tree-node>
        
          <!-- <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-form-field>
              <mat-label>New item...</mat-label>
              <input matInput #itemValue placeholder="Ex. Lettuce">
            </mat-form-field>
            <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
          </mat-tree-node> -->
        
          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.item">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-checkbox class="mr-1" [checked]="descendantsAllSelected(node)"
                          [indeterminate]="descendantsPartiallySelected(node)"
                          (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
            <span class="favibtn cursor-pointer all-sign" *ngIf="descendantsAllSelected(node)" [ngClass]="{'active': descendantsAllSelected(node)}" [matTooltip]="'All Selected'" [matTooltipPosition]="'above'"><mat-icon class="mat-icon-rtl-mirror">grade</mat-icon></span>
            <!-- <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button> -->
          </mat-tree-node>
        </mat-tree>   
        
        <!-- <div class="input-group-prepend" (click)="startRecording()" *ngIf="!isUserSpeaking">
          <span class="input-group-text">record</span>
        </div>
        <button class="active-mic me-1" *ngIf="isUserSpeaking" (click)="stopRecording()">
          <div class="plus-ring">stop</div>
        </button>
        <div [formGroup] = "searchForm">
        <input type="text" class="form-control" placeholder="Start Typeing or click the mic and speak" formControlName="searchText">
        </div> -->
      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button"  mdbBtn color="primary" size="sm" class="noshadow rounded bg-cerulean" mdbWavesEffect  (click)="selectGridData()">Selecte Data</button>
        <button type="button" mdbBtn color="primary" size="sm" class="noshadow rounded bg-cerulean" mdbWavesEffect data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
<app-add-permission-tree-controls [id]="'permission-control-model'" (permissionControlResponce)="controlResponce($event)"></app-add-permission-tree-controls>