<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-full-width">
      <div class="modal-content">
        <div class="modal-header justify-content-center mb-0"
          *ngIf="dashboardItem && dashboardItem.fields && dashboardItem.fields.length >0">
          <h3 class="modal-title m-0 text-uppercase active d-block">{{dashboardItem.name}}</h3>
          <a class="h5 m-0 closebtb" (click)="close(dashboardItem)">×</a>
        </div>
        <div class="modal-body pt-2" *ngIf="dashboardItem && dashboardItem.fields && dashboardItem.fields.length >0">
            
          <div >
            <ng-container class="px-5">
              <canvas id="excel-table" class="w-100 vh-100" mdbChart *ngIf="dashboardItem.package_name == 'chart_js'"
                [chartType]="chartType[dashboardItem.call_back_field]"
                [datasets]="chartDatasets[dashboardItem.call_back_field]"
                [labels]="chartLabels[dashboardItem.call_back_field]"
                [colors]="chartColors[dashboardItem.call_back_field]"
                [options]="chartOptions[dashboardItem.call_back_field]"
                [legend]="chartLegend[dashboardItem.call_back_field]" (chartHover)="chartHover($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
              <google-chart id="excel-table" class="w-100 vh-100" *ngIf="dashboardItem.package_name == 'google_chart' && chartTitle[dashboardItem.call_back_field]"
                [title]="chartTitle[dashboardItem.call_back_field]" [type]="chartType[dashboardItem.call_back_field]"
                [data]="chartDatasets[dashboardItem.call_back_field]"
                [columns]="chartLabels[dashboardItem.call_back_field]"
                [options]="chartOptions[dashboardItem.call_back_field]">
              </google-chart>



              <table>
                <tr *ngFor="let data of dashboardItem">
                  <td>{{data.label}}</td>
                </tr>
              </table>








            </ng-container>
          </div>
  
        </div>
      </div>
    </div>
  </div>