<div class="table-responsive">
  <table class="table table-hover table-condensed auditlist">
      <thead>
          <tr>
              <th scope="col" style="font-size:11px;">UserId</th>
              <th scope="col" style="font-size:11px;">Action</th>
              <th scope="col" style="font-size:11px;">IP</th>
              <th scope="col" style="font-size:11px;">Date & Time</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let audit of sortAuditList; let i= index">
              <td class="text-lowercase"><small>{{audit.userId}}</small></td>
              <td><small>{{audit.accessType}}</small></td>
              <td><small>{{audit.ip}}</small></td>
              <td><small>{{audit.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</small></td>
          </tr>
      </tbody>
  </table>
</div>
