<div class="body w-100">
   <!-------------- Blog Section --------------- -->
    <div class="header_block">
        <div class="position-relative w-100 light_bg">
          <img src="../../assets/images/common_header.png" alt="" width="100%" class="block py-3">
          <div class="header_bg dark">
              <h1>Testemonials</h1>
              <p class="font20">Your feedback matters</p>
          </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="block pt-4">
        <div class="row">
          <div class="col-md-4">
              <div class="single_testemonial" style="border: 5px solid #C7E040;">
                <div class="inner">
                    <img src="../../assets/images/user.png" alt="" class="rounded-circle" width="150px">
                    <div class="title">
                      <h4>John Doe</h4>
                      <p>Senior Manager of Infosys</p>
                    </div>
                    <div>&nbsp;</div>
                    <p>Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</p>
                    <div>&nbsp;</div>
                </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="single_testemonial" style="border: 5px solid #F89AEA; margin-top: 160px;">
                <div class="inner">
                    <img src="../../assets/images/user.png" alt="" class="rounded-circle" width="150px">
                    <div class="title">
                      <h4>John Doe</h4>
                      <p>Senior Manager of Infosys</p>
                    </div>
                    <div>&nbsp;</div>
                    <p>Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</p>
                    <div>&nbsp;</div>
                </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="single_testemonial margintop180" style="border: 5px solid #9AA1F8; margin-top: 240px;">
                <div class="inner">
                    <img src="../../assets/images/user.png" alt="" class="rounded-circle" width="150px">
                    <div class="title">
                      <h4>John Doe</h4>
                      <p>Senior Manager of Infosys</p>
                    </div>
                    <div>&nbsp;</div>
                    <p>Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</p>
                    <div>&nbsp;</div>
                </div>
              </div>
          </div>
          
          <div class="col-md-4">
              <div class="single_testemonial margintop180" style="border: 5px solid #C7E040; margin-top: 320px;">
                <div class="inner">
                    <img src="../../assets/images/user.png" alt="" class="rounded-circle" width="150px">
                    <div class="title">
                      <h4>John Doe</h4>
                      <p>Senior Manager of Infosys</p>
                    </div>
                    <div>&nbsp;</div>
                    <p>Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</p>
                    <div>&nbsp;</div>
                </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="single_testemonial margintop180" style="border: 5px solid #F89AEA; margin-top: 240px;">
                <div class="inner">
                    <img src="../../assets/images/user.png" alt="" class="rounded-circle" width="150px">
                    <div class="title">
                      <h4>John Doe</h4>
                      <p>Senior Manager of Infosys</p>
                    </div>
                    <div>&nbsp;</div>
                    <p>Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</p>
                    <div>&nbsp;</div>
                </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="single_testemonial" style="border: 5px solid #9AA1F8; margin-top: 160px;">
                <div class="inner">
                    <img src="../../assets/images/user.png" alt="" class="rounded-circle" width="150px">
                    <div class="title">
                      <h4>John Doe</h4>
                      <p>Senior Manager of Infosys</p>
                    </div>
                    <div>&nbsp;</div>
                    <p>Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</p>
                    <div>&nbsp;</div>
                </div>
              </div>
          </div>
        </div>
        <div>&nbsp;</div>
        <div class="pagination h_center">
          <nav aria-label="Page navigation example dark">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
          </nav>
        </div>
        <div>&nbsp;</div>
    </div>
    <!-------------- Watch Now Section --------------- -->
    
    <div class="dark_bg watch_now px-3">
        <div class="block row py-4 v_center">
          <div class="col-md-4">
              <img src="../../assets/images/watch_now.png" alt="" width="100%">
          </div>
          <div class="col-md-8 text-white">
              <div>&nbsp;</div>
              <h4 class="text-uppercase">ON-DEMAND WEBINAR</h4>
              <p>See for yourself! <br> AI-Enhanced Automations – Combining Transformative Capabilities</p>
              <div>&nbsp;</div>
              <button class="btn mybtn"> Watch Now <i class="bi bi-play-fill dark" style="font-size: 18px;"></i></button>
          </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <!-------------- Subscription Section --------------- -->
    <div class="subscription px-3">
        <div class="block row py-4 v_center ">
          <div class="col-md-8">
            <p class="text-uppercase py-4 dark font20">Get articles from automation experts in your inbox</p>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                <div class="input-group">
                    <input type="text" name="" class="form-control" placeholder="Enter email address">
                    <button type="submit" class="btn mybtn">Subscribe</button>
                  </div>
            </div>
          </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>