/* ul,ol,li {margin:0;padding:0;list-style:none;}
footer h3 {font-size:25px;color:#3b3b3b;font-family:'DINProBold';position:relative;margin-bottom:30px;display:inline-block;padding-bottom:10px;}
footer h3:after {content:"";position:absolute;bottom:0px;width:32px;height:2px;background:#77bce8;margin:auto;left:0;right:0;}
footer p {font-size:14px;color:#535353;text-align:justify;line-height:23px;}
footer ul li a {color:#535353;font-size:15px;padding:1px 0; display:inline-block;}
footer i {color:#77bbe8;font-size:16px;}
.social a {display:inline-block;margin:0 5px;width:29px;}
.address {padding-left:30px;}
.copyright {background:#77bce8;color:#fff;}
.copyright a {color:#fff;}













 */
