<footer class="pt-2" *ngIf="menuBoxHome || currentPage">
  <div class="container" *ngIf="menuBoxHome">
    <div class="row">
      <div class="col-md-3">
        <!-- <h3>E-Labs</h3> -->
        <p class="m-0"><img src="assets/images/logo.png" style="width:76px"></p>
        <p>Experience the power of truly integrated laboratory operations offered on cloud native technology with enterprise class data security.<br/>Talk to us today to discuss how we can partner in your hourney.</p>
      </div>
      <!-- <div class="col-md-2 offset-md-1">
        <h3>Services</h3>
        <ul>
          <li><a href="javascript:void(0)"> Lab Consultancy </a></li>
          <li><a href="javascript:void(0)"> Consulting</a></li>
          <li><a href="javascript:void(0)"> E-labs Interactive</a></li>
          <li><a href="javascript:void(0)"> Analytics and Insights</a></li>
          <li><a href="javascript:void(0)"> Internet of Things</a></li>
          <li><a href="javascript:void(0)"> Blockchain</a></li>
          <li><a href="javascript:void(0)"> Enterprise Applications</a></li>
        </ul>
      </div> -->
      <div class="col-md-3">
        <div class="address">
          <h3>Address</h3>
          <div class="d-flex align-items-center mb-3"><i class="fas fa-map-marker-alt"></i>
            <p class="ml-3 mb-0 text-left"><strong>Corporate Office:</strong><br>C – 100, Sec – 2, Noida, UP – 201301</p>
          </div>
          <div class="d-flex align-items-center mb-3"><img src="../../../assets/images/footer/6.png" width="17px">
            <p class="ml-3 mb-0">+91 84470 87047</p>
          </div>
          <div class="d-flex align-items-center mb-3"><img src="../../../assets/images/footer/5.png" width="17px">
            <p class="ml-3 mb-0">Corporate@e-Labs.ai</p>
          </div>
          <!-- <div class="d-flex align-items-center mb-3"><i class="fas fa-map-marker-alt"></i>
            <p class="ml-3 mb-0 text-left"><strong>Registered Office:</strong><br> 73, National Park, Lajpat Nagar-IV, New Delhi – 110024</p>
          </div> -->
        </div>
      </div>
      <div class="col-md-3">
        <h3>Contact</h3>
        <div class="d-flex align-items-center mb-3"><img src="../../../assets/images/footer/6.png" width="17px">
          <p class="ml-3 mb-0">+91 84470 87047</p>
        </div>
        <div class="d-flex align-items-center mb-3"><img src="../../../assets/images/footer/5.png" width="17px">
          <p class="ml-3 mb-0">Corporate@e-Labs.ai<br> Sales@e-Labs.ai <br/>Info@e-Labs.ai</p>
        </div>
        <div class="social"> 
          <a href="https://twitter.com/ELabs00933455" target="_blank"><img src="assets/images/footer/1.png"></a>
          <a href="#" target="_blank"><img src="assets/images/footer/2.png"></a> 
          <a href="https://www.facebook.com/E-Labs-106928411716133" target="_blank"><img src="assets/images/footer/3.png"></a>
          <a href="https://www.instagram.com/e_labs_lims/" target="_blank"><img src="assets/images/footer/4.png"></a> 
          <a href="https://www.linkedin.com/in/e-labs-lims-24112521b/" target="_blank"><img src="assets/images/footer/link.png"></a> 
        </div>
          
      </div>

      <div class="col-md-3">
        <h3>Location Map</h3>
        <div class="map">
          <iframe height="140" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7007.272388848933!2d77.31440917334525!3d28.58068535124394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce45a2fec4393%3A0xaa5938d112af449e!2sSector%203%2C%20Noida%2C%20Uttar%20Pradesh%20201301!5e0!3m2!1sen!2sin!4v1631434633747!5m2!1sen!2sin" style="border:0;" width="100%"></iframe>
          </div>
      </div>
      
    </div>
    <div class="location-all">
      <ul>
        <li><i class="fa fa-map-marker"></i> Delhi
          <div class="locationinfo">
            <p><i class="fa fa-map-marker"></i> 73, National Park Lajpat Nagar IV, New Delhi – 110024 INDIA</p>
            <p><i class="fa fa-phone"></i> +91-11-41729056-57, 41601289</p>
          </div>
        </li>
        <li><i class="fa fa-map-marker"></i> Noida
          <div class="locationinfo">
            <p><i class="fa fa-map-marker"></i>C-100,Sector-2, Noida- 201301, Uttar Pradesh</p>
            <p><i class="fa fa-phone"></i> +91-120-4729400</p> </div>
        </li>
        <li><i class="fa fa-map-marker"></i> Gurugram
          <div class="locationinfo">
            <p><i class="fa fa-map-marker"></i> 605, Suncity Business Tower Golf Course Road, Sector-54, Gurugram, Haryana – 122002</p>
            <p><i class="fa fa-phone"></i> +91-124-4245110/116</p></div>
        </li>
        <li><i class="fa fa-map-marker"></i> Mumbai
          <div class="locationinfo">
            <p><i class="fa fa-map-marker"></i> Sagar Tech Plaza, A wing, Office No. 315-316, Andheri Kurla Road, Sakinaka, Andheri (E), Mumbai - 400037, India.</p>
            <p><i class="fa fa-phone"></i> 022-67413369/70/71 </p></div>
        </li>
        <li><i class="fa fa-map-marker"></i> Bengaluru
          <div class="locationinfo">
            <p><i class="fa fa-map-marker"></i> 0420, Second Floor, 20th Main, 6th Block, Koramangala, Bengaluru -560095</p>
            <p><i class="fa fa-phone"></i> 080-42139271</p></div>
        </li>
        <li><i class="fa fa-map-marker"></i> Chennai
          <div class="locationinfo">
            <p><i class="fa fa-map-marker"></i> Level2 – 78/132 Dr RK salai mylapore Chennai Tamil Nadu 600004</p>
            <p><i class="fa fa-phone"></i> +91-8860774980</p></div>
        </li>
        <li><i class="fa fa-map-marker"></i> Pune
          <div class="locationinfo">
            <p><i class="fa fa-map-marker"></i> Office No. 4, 1st floor Silver Oak, SN Nagar Road, Wadgaon Sheri, Pune- MH – 411014 Landmark: Near Inorbit Mall</p>
          </div>
        </li>
        <li><i class="fa fa-map-marker"></i> Singapore
          <div class="locationinfo">
            <p><i class="fa fa-map-marker"></i> One Raffles Place Tower 1, 27-03 Singapore - 048616</p>
            <p><i class="fa fa-phone"></i> +65- 31632191 </p></div>
        </li>
        <li><i class="fa fa-map-marker"></i> Canada
          <div class="locationinfo">
            <p><i class="fa fa-map-marker"></i> 130 King Street West, Toronto, Ontario - M5X 2A2</p>
            <p><i class="fa fa-phone"></i> +1437-774-4488</p></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright py-2" *ngIf="currentPage">
    <div class="container-fluid">
      <div class="row" *ngIf="template == 'temp1'">
        <div class="col-md-6"><p class="m-0 text-white">© Copyright 2021 | {{title}}</p></div>
        <div class="col-md-6 text-md-right"> <a href="javascript:void(0)">Terms</a> | <a href="javascript:void(0)">Privacy &amp; Policy</a> | <a href="javascript:void(0)">Sitemap</a> </div>
      </div>

      <div class="row" *ngIf="template == 'temp3'">
        <div class="col-md-6"><p class="text-white m-0">(&copy;) 2021 All Rights Reserved {{title}}. Website Designed By E-Labs.</p></div>
        <div class="col-md-6"><div class="text-md-right"><a [routerLink]="['/home_page']" class="text-white">Powered by E-Labs.ai</a></div></div>
      </div>

      <div class="row" *ngIf="template == 'temp2'">
          <div class="col-md-6"><p class="text-white m-0">Copyright © 2020 ITC Lab. All Rights Reserved.</p></div>
          <div class="col-md-6">
              <div class="text-md-right footer-links d-none d-md-block">
                  <a href="javascript: void(0);" class="text-white mr-2">About</a>
                  <a href="javascript: void(0);" class="text-white mr-2">Support</a>
                  <a href="javascript: void(0);" class="text-white mr-2">Contact Us</a>
              </div>
          </div>
      </div>

    </div>
  </div>
</footer>





<footer class="page-footer font-small" style="background: #f7f7fd;" *ngIf="false">
  <div class="container text-center text-md-left text-dark pt-5">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 my-auto"> <img src="../../../assets/img/2.png"> </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h4 class="text-uppercase font-weight-bold">Useful links</h4>
        <hr class="bg-custome-theme accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <p> <a href="#!" class="text-dark">Contact Us</a> </p>
        <p> <a href="#!" class="text-dark">Support</a> </p>
        <p> <a href="#!" class="text-dark">About Us</a> </p>
        <p> <a href="#!" class="text-dark">Location</a> </p>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-5 mx-auto mb-md-0 mb-4">
        <h4 class="text-uppercase font-weight-bold">Contact</h4>
        <hr class="bg-custome-theme accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
        <!-- <p>
              <mdb-icon fas icon="home" class="mr-3"></mdb-icon> 86, Industrial Area,
              Phase-1, Panchkula-134109 (Haryana),
              <span class="ml-5">Plot No.2, S.No.12/2A, Industrial Area Perungudi, </span>
                 <span class="ml-5"> Sholinganallur Taluk,Chennai-600096.</span>
            </p> -->
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon>
          sales@itclabs.com, customersupport@itclabs.com, <span class="ml-5">itclabs.chennai@itclabs.com</span> </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon>
          Panchkula: 0172-2565825, 2561543, +91 8284004455, <span class="ml-5">8284004411 Chennai: 044- 24962512</span> </p>
      </div>
    </div>
  </div>
  <div class="text-center py-3 text-dark" style="background: #f7f7fd;">Copyright © 2020 E-Labs. All Rights Reserved. </div>
</footer>
