<div class="innerheader">
   <div class="position-relative w-100 light_bg"> <img src="../../../assets/images/common_header.png" alt="" width="100%">
     <div class="header_bg dark"><h1>Customer Portal</h1></div>
   </div>
 </div>
 
 <section class="container">
    <app-solution-menu-mobile></app-solution-menu-mobile>
 </section>
 
 <section class="container solutions_page mb-5">
   <div class="row">
     <div class="col-md-3">
        <app-solution-menu></app-solution-menu>
      </div>
     <div class="col-md-9">
       <div class="tab-content flex-grow-1">
         <div class="tab-pane fade show active">
           <div class="solution_content">
             <div class="row mb-3">
               <div class="col-md-7">
                 <p><strong>Customer Portal</strong> - Key to your success is quality offering with seamless experience for your customers. We designed our “Customer Portal” for this specific reason. Customer Portal not only offers a lot of transparency to your customers in terms of order status, quotations and historical orders and reports, but also gives them an easy option to raise any support requests.​</p>
                 <p>We believe you can reduce the number of customer calls by up to 70% by offering self-service customer portals</p>
                 <P>But this is not enough. One of the advantages you will see by offering self-service and “Digital Test Request Form”, is your sample receiving, order booking and invoicing becomes highly error free. No more calling the customer continuously to ask for order details.</P>
               </div>
               <div class="col-md-5"><img src="../../../../assets/images/solutions/Customer-Portal.png" alt=""></div>
             </div>
             <h4 class="dark mb-3">Some of the salient features of Customer Portal:-</h4>
             <ul class="m-4 solutionslist">
               <li>Raise and Review an Enquiry for Quotation - The customer will have the feasibility to create a new enquiry and to view the status of existing ones.</li>
               <li>Submit an E-TRF – Customer will have the feasibility to fill an electronic Test request form against the finalised quotation</li>
               <li>View Order Status – The customer can track the status of the orders processed in a lab.</li>
               <li>Graphical Representation of the performance of orders processed.</li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 