

<div class="body w-100">
    <div class="row" style="margin: 0px !important;">
        <div class="summary-banner">
            <img src="../../../assets/images/Mask Group 16.png" alt="banner" width="100%">
        </div>
    </div>
    <div class="margin-auto">
        <div class="row">
                <h1 class="Executive-Summary">Executive Summary</h1>
                <div class="Executive-summary-theory">
                    <p>See our vision for AI + RPA <br>
                        When software robots can reason over data and use artificial intelligence (AI) to make decisions, you unlock new possibilities that transform RPA—and entire 
                        industries.</p>
                    <p>You can reach new levels of productivity. Bring in a new era of work that is more fulfilling. And expand automation into all sorts of new areas.​ We believe in the power 
                        of AI to transform. And so, we’ve built AI into every part of the UiPath platform. ​</p>
                    <p>UiPath artificial intelligence (AI) allows you to scientifically discover automation opportunities and enhance your robots with AI Skills. Simply drag and drop these AI 
                        Skills into your workflows—and start automating more.​</p>
                    <p>You can reach new levels of productivity. Bring in a new era of work that is more fulfilling. And expand automation into all sorts of new areas.​ We believe in the power 
                        of AI to transform. And so, we’ve built AI into every part of the UiPath platform. ​</p>
                    <p>UiPath artificial intelligence (AI) allows you to scientifically discover automation opportunities and enhance your robots with AI Skills. Simply drag and.</p>
                </div>
        </div>
    </div>
    <div class="margin-auto">
        <div class="row" >
            <div class="col-md-6">
                <h1 class="Cutomer-Stories">Cutomer Stories</h1>
                <div class="customer-stories-theory">
                    <p>See our vision for AI + RPA<br>When software robots can reason over data and use artificial intelligence (AI) to make decisions, you unlock new possibilities that transform RPA—and entire industries.</p>
                    <p>You can reach new levels of productivity. Bring in a new era of work that is more fulfilling. And expand automation into all sorts of new areas.​ We believe in the power of AI to transform. And so, we’ve built AI into every part of the UiPath platform. ​</p>
                    <p>You can reach new levels of productivity. Bring in a new era of work that is more fulfilling. And expand automation into all sorts of new areas.​ We believe in the power of AI to transform. And so, we’ve built AI into every part of the UiPath p</p>
                    
                </div>
            </div>
            <div class="col-md-offset-1 col-md-6"  >
                <div class="customer-stories-image" style="position: relative;">
                    <img style="width: 80%;" src="../../../assets/images/business-people-using-internet-1@2x.png" alt="business-people-using-internet"> 
                    <img class="Icon-awesome-play" src="../../../assets/images/Icon awesome-play.png"/>
                </div>
                
                
            </div>
        </div>
    </div> 
    <div class="margin-auto">
        <div class="row" >
            <div class="col-lg-12">
                <h1 class="Leverage-industry">Leverage industry-leading e-labs Skills or bring your </h1>
            </div>             
            <div class="col-md-6">
                <div class="margin-auto leverage-div">
                <img class="Leverage-industry-img" src="../../../assets/images/Onboarding Login Ui - Enter Email – 1.png" alt="Onboarding">
                </div>
            </div> 
            <div class="col-md-offset-1 col-md-6"  >
                <div class="Leverage-industry-theory">
                    See our vision for AI + RPA <br> When software robots can reason over data and use artificial intelligence (AI) to make decisions, you unlock new possibilities that transform RPA—and entire industries. <br><br>
                    You can reach new levels of productivity. Bring in a new era of work that is more fulfilling. And expand automation into all sorts of new areas.​ We believe in the power of AI to transform. And so, we’ve built AI into every part of the UiPath platform. ​<br><br>
                </div>                
            </div>
        </div>
    </div>

    <div class="margin-auto">
        <div class="row" >
            <div class="col-lg-12">
                <h1 class="Architucture">Architucture</h1>
            </div>               
            <div class="col-md-6">
                <div class="Architucture-theory">
                    See our vision for AI + RPA <br>
                    When software robots can reason over data and use artificial intelligence (AI) to make decisions, you unlock new possibilities that transform RPA—and entire industries.
                    <br><br>
                    You can reach new levels of productivity. Bring in a new era of work that is more fulfilling. And expand automation into all sorts of new areas.​ We believe in the power of AI to transform. And so, we’ve built AI into every part of the UiPath platform. ​
                    <br><br>
                    
                    You can reach new levels of productivity. Bring in a new era of work that is more fulfilling. And expand automation into all sorts of new areas.​ We believe in the power of AI to transform. And so, we’ve built AI into every part of the UiPath p
                    <br><br>
                </div>
            </div> 
            <div class="col-md-offset-1 col-md-6"  >
                <img class="Architucture-img" src="../../../assets/images/netflix_arch_diagram.3cb585c874d3b012b57cbcad4bc0bf924a47ab78.png"/>            
            </div>
        </div>
    </div>
    <div class="margin-auto">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="Statements">Statements</h1>
            </div>
            <div class="col-md-6">
                <div class="margin-auto statements-div">
                    <div class="Statements-box">
                        <!-- <img class="Path-1" src="../../../assets/images/Path -1.png"> -->
                        <img class="Path-2" src="../../../assets/images/Path -2.jpeg">
                        <div class="Statements-theory">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="Statements-inn-dev">
                                <span class="John-Doe">John Doe</span>
                                <span class="Customer">Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="margin-auto statements-div">
                    <div class="Statements-box">
                        <!-- <img class="Path-1" src="../../../assets/images/Path -1.png"> -->
                        <img class="Path-2" src="../../../assets/images/Path -2.jpeg">
                        <div class="Statements-theory">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="Statements-inn-dev">
                                <span class="John-Doe">John Doe</span>
                                <span class="Customer">Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
    <div class="margin-auto">
        <div class="row" style="align-items: center;">
            <div class="col-lg-12">
                <h1 class="Other-Stories">Other Stories</h1>
            </div>
            <!-- <div class="col-md-1">
                <img class="other-stories-btn" src="../../../assets/images/Group 1049.png">
            </div>
            <div class="col-md-5">
                <div class="other-stories-box1" >
                    <img class="e-labs2" src="../../../assets/images/asset-3.png">
                    <div class="other-stories-box1-theory">Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</div>
                    <h4 class="View-all-Details">View all Details</h4>
                </div>
            </div>
            <div class="col-md-5">
                <div class="other-stories-box2" >
                    <img class="Infosys-Logos" src="../../../assets/images/Infosys-Logo.png">
                    <div class="other-stories-box2-theory">Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</div>
                    <h4 class="View-all-Details">View all Details</h4>
                </div>
            </div>
            <div class="col-md-1">    
                <img class="other-stories-btn" src="../../../assets/images/Group 1048.png">
            </div> -->
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="slide">
                            <div class="other-stories-box1" >
                                <img class="e-labs2" src="../../../assets/images/asset-3.png">
                                <div class="other-stories-box1-theory">Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</div>
                                <h4 class="View-all-Details">View all Details</h4>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <div class="other-stories-box1" >
                                <img class="e-labs2" src="../../../assets/images/asset-3.png">
                                <div class="other-stories-box1-theory">Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</div>
                                <h4 class="View-all-Details">View all Details</h4>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <div class="other-stories-box1" >
                                <img class="e-labs2" src="../../../assets/images/asset-3.png">
                                <div class="other-stories-box1-theory">Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</div>
                                <h4 class="View-all-Details">View all Details</h4>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <div class="other-stories-box1" >
                                <img class="e-labs2" src="../../../assets/images/asset-3.png">
                                <div class="other-stories-box1-theory">Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</div>
                                <h4 class="View-all-Details">View all Details</h4>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <div class="other-stories-box1" >
                                <img class="e-labs2" src="../../../assets/images/asset-3.png">
                                <div class="other-stories-box1-theory">Built on state of art Cloud n  sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.</div>
                                <h4 class="View-all-Details">View all Details</h4>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>                 
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>