/* Input box mat error spacing removal */
.mat-form-field-wrapper{
    padding-bottom: 0px!important;
}

.mat-input-element{
    font-size: 0.95em!important;
    font-family: 'Roboto', sans-serif!important;
}

.mat-form-field-appearance-outline .mat-form-field-flex{
    padding: 0 .35em 0 .35em!important;
}
.mat-form-field-infix{
    border-top: .34375em solid transparent!important;
    width: 100%!important;
}

.mat-form-field-label-wrapper{
    top: -1.2em!important;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: .25em 0 0.6em 0!important;
}
.grid-filter .mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: .1rem 0rem!important;
}
.grid-filter .form-control-sm{
    height: calc(1.5em + 0.3rem + 2px)!important;
    padding: 0.1rem 0.2rem!important;
    margin: .1rem 0rem!important;
}
.mat-checkbox-layout{
    display: inherit!important;
    line-height: 2.2!important;
}
.list_of_field_button{
    border: none!important;
    border-radius: 50%!important;
    height: 27px;
    width: 27px;
    text-align: center!important;
    cursor: pointer!important;
    padding: 0!important;
}
.list-of-string-button{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 7px 2px 0 0!important;
    border: none!important;
    border-radius: 50%!important;
    height: 27px;
    width: 27px;
    text-align: center!important;
    cursor: pointer!important;
    padding: 0!important;
}
.list-of-string-button .fas{
    font-size: .6rem!important;
}
.mat-select-arrow-wrapper{
    display: inherit!important;
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option{
    font-size: .9em!important;
    font-family: 'Roboto', sans-serif!important;
    line-height: 2em!important;
    height: 1.8em!important;
    border-bottom: .5px solid #cccccc54;
    padding: 0px 10px!important;
}
.icon-button{
    background-color:#2d2d30!important;
    color:#fff!important;
}
.form-label{
    border-bottom: 1px solid #ccc;
    font-size: .9em;
    display: inline-block;
}
.grid-selection-title{
    height: 25px;
    line-height: 25px;
    font-size: .9em;
    font-family: 'Roboto', sans-serif!important;
}
.modal-dialog .modal-content{
    border-radius: .35rem!important;
}
.angular-editor .angular-editor-wrapper .angular-editor-textarea{
    font-size: .9em!important;
    margin-top: 0px;
    padding: .2rem .3rem!important;
}
.angular-editor-placeholder{
    font-size: .9em!important;
    padding: .2rem .3rem!important;
}
.angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button{
    min-width: 0rem!important;
    padding: .1rem .3rem!important;
    font-size: .8em;
}
.angular-editor-toolbar{
    padding: .2rem .2rem 0rem!important;
}
.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper{
    top: calc(100% - 0.8916666667em)!important;
}
/* width */
.modal-body::-webkit-scrollbar,.table-responsive::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  .modal-body::-webkit-scrollbar-track,.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  .modal-body::-webkit-scrollbar-thumb,.table-responsive::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .modal-body::-webkit-scrollbar-thumb:hover,.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .modal-body:hover {
    overflow-y: scroll;
  }




  /* Grid Css */
  .table table thead tr th,table tbody tr td{
      vertical-align: middle!important;      
  }
  /* .table-striped tbody tr:nth-of-type(odd) td{
    background-color: #f5f5f5!important;
    color:#323232!important;
    border-color:#e0e0e0!important;
  }
  .without-filter .table-striped tbody tr:nth-of-type(even) td{
    background-color: #f5f5f5!important;
    color:#323232!important;
    border-color:#e0e0e0!important;
  }
  .table-responsive table tbody tr:nth-child(even) td, .table table tbody tr:nth-child(even) td{
    background-color: #fefefe!important;
    color:#5a5a5a!important;
    border-color:#e0e0e0!important;
  }
  .table-responsive.grid-selection table tbody tr:nth-child(even) td{
    background-color: #fefefe!important;
    color:#5a5a5a!important;
    border-color:inherit!important;
  } */
  .table-responsive.grid-selection table tbody tr td{    
    border-top: inherit!important;
  }
  .table-responsive.grid-selection .table thead th{
      border-bottom: 1px solid black!important;
  }
  .without-filter .table-striped tbody tr:nth-child(odd) td{
    background-color: #fefefe!important;
    color:#5a5a5a!important;
    border-color:#e0e0e0!important;
  }


  .tablewhitegray .table-striped tbody tr:nth-child(odd){
    background-color: #fff!important;
    color:#5a5a5a!important;
    border-color:#fff!important;
  }

  .tablewhitegray .table-striped tbody tr:nth-child(even){
    background-color: #f2f2f2!important;
    color:#5a5a5a!important;
    border-color:#f2f2f2!important;
  }



  .table-striped thead th{
      height: 30px;
      /* line-height: 35px; */
      background-color: #f5f5f5!important;
      color:#323232!important;
      border-color:#e0e0e0!important;
  }
  .table table tr th,.table table tr td{      
    padding: 0px 5px!important;
    font-size: .96em!important;
    font-family: 'Roboto', sans-serif!important;
    font-weight: 400!important;
    letter-spacing: normal;
  }
  .table.without-filter table tr th,.table.without-filter table tr td{ 
    font-size: .78em!important;
  }
  table { border-collapse: collapse; width: 100%; }
  .grid-column{
    white-space: nowrap!important;
  }
  .grid-coloumn-nowrap{
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .grid-heading-nowrap{
    display: inline-block;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table table tr td{
    height: 28px;
    /* line-height: 30px; */
  }

  .grid-button{
    background-color: #fefefe!important;
    border: 1px solid #ebebeb!important;
    color:#333!important;
    box-shadow: inherit!important;
  }
  .grid-button:hover{      
      background-color:#e0e0e0!important;
      color:#333!important;
   }
   .table-bordered thead th, .table-bordered thead td{
    border-bottom-width: 0px!important;
   }
   .btn-floating.btn-sm{
    width: 25.15385px!important;
    height: 25.15385px!important;
    padding: 0!important;
    line-height: 25.15385px!important;
   }
   .ae-font .ae-picker-label{
       line-height: 18px!important;
   }
   .ngx-pagination{
       margin-bottom: 0px!important;
   }
   .grid-heading{
    font-size: .71em!important;
    font-family: 'Roboto', sans-serif!important;
    font-weight: 500!important;
   }
   .mat-tab-label{
       height: 30px!important;
       padding:0px 10px!important;
       font-family: 'Roboto', sans-serif!important;
   }
   .mat-select-value{
        font-family: 'Roboto', sans-serif!important;
        font-size: .85em!important;
   }
   .navbar{
    box-shadow: 0 1px 0px 0 rgb(0 0 0 / 16%), 0 -2px 0px 0 rgb(0 0 0 / 12%)!important;
   }
   .navbar-brand img{
       width: 45px!important;
   }
   .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
       padding: 8px 10px!important;
       font-family: 'Roboto', sans-serif!important;
       font-size: .9em!important;
       font-weight: 500!important;
   }
   /* .navbar .dropdown-menu a{
        font-family: 'Roboto', sans-serif!important;
        font-size: .87em!important;
        font-weight: 400!important;
        border-bottom: 1px solid rgb(204 204 204 / 42%)!important;
   } */
   .navbar .dropdown-menu a:last-child{
       border-bottom: 0!important;
   }

   .module-icon{
        font-size: 200%;
        /* border: 3px solid white; */
        border-radius: 5px;
        color: white;
        padding:.5rem .5rem 0rem .5rem;
        /* box-shadow: 2px 2px 5px #8c8888; */
        /* background: #7aa2f3; */
        background: #40e0d0;
   }
   .module-heading{
        color: #333;
        font-size: .9em!important;
        font-weight: 500!important;
        font-family: 'Roboto', sans-serif!important;
   }

   .mat-stepper-vertical-line::before{
    top: -4px!important;
    bottom: -4px!important;;
   }
   .mat-vertical-content-container{
       margin-left:10px!important;
   }
   .mat-stepper-label-position-bottom .mat-horizontal-stepper-header, .mat-vertical-stepper-header{
    padding: 6px 0px!important;
   }
   .mat-vertical-content{
    padding: 5px 0px 0px 80px!important;
   }
   .mat-vertical-stepper-header{
       height: 18px!important;
   }
   .mat-vertical-stepper-content .mat-progress-spinner{
       display: inline!important;
   }
/* css for auto-populate form field text color */
   .auto-populate-text-primary .mat-input-element,.auto-populate-text-primary .mat-select-value,.auto-populate-text-primary .mat-select-disabled,.auto-populate-text-primary .mat-input-disabled,.auto-populate-text-primary .mat-autocomplete-trigger,.auto-populate-text-primary .mat-form-field-autofill-control,.auto-populate-text-primary .ng-untouched,.auto-populate-text-primary .ng-pristine,.auto-populate-text-primary .cdk-text-field-autofill-monitored,.auto-populate-text-primary s.mat-input-element:disabled{
     color:blue!important;
   }
   .ngx-pagination .current{
       background: #40e0d0!important;
   }

  
