<div mdbModal #moveFileFolderModal="mdbModal" class="modal fade top" [config]="{ignoreBackdropClick: true,keyboard: true}">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-between align-items-center">
                <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
                <h3 class="modal-title m-0 text-uppercase active d-block">Move to</h3>
                <a class="h5 m-0 closebtb position-relative" style="top:0;" (click)="moveModalClose()">×</a>
            </div>
            <div class="modal-body mb-5">
                <div *ngFor="let child of moveFolderChildren; let i = index" class="col-lg-12">
                    <div class="border-bottom  mr-2">
                        <a href="javascript:void(0);" class="d-block text-dark p-2" (dblclick)="openMoveModalFolder(child)" (click)="setClickedMoveModalRow(i,child)" [ngClass]="i == selectedRows ? 'bg-light text-primary':''">
                            <div class="row">
                                <div [ngClass]="documentViewList ? 'col-lg-12':'col-lg-4'"><i class="mdi mdi-folder h4 mr-2"></i>{{child.rollName}}</div>
                                <div [ngClass]="documentViewList ? 'd-none':'col-lg-3'"><p class="m-0"> <span></span></p></div>
                                <div [ngClass]="documentViewList ? 'd-none':'col-lg-2'"><p class="m-0">-</p></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm" (click)="moveModalClose()">Close</button>
                <button type="button" class="btn btn-primary btn-sm" [disabled]="selectedRows == -1" (click)="moveDocument()">Move</button>
            </div>
        </div>
    </div>
</div>