<ng-container *ngIf="columns && columns.length > 0">
  <button mat-icon-button [matMenuTriggerFor]="notify" [ngClass]="extraClass != '' ? extraClass : '' " [matTooltip]="'All Columns'" [matTooltipPosition]="'above'"><mat-icon>filter_alt</mat-icon></button>
</ng-container>
<mat-menu  #notify="matMenu" xPosition="before" class="filterdrowdownmenu" >
  <div *ngIf="columns && columns.length > 0">
      <ul class="m-2">
        <li class="pr-2 d-flex justify-content-between mb-2">
            <button mat-menu-item class="d-flex justify-content-center border mr-2 p-0" (click)="updateColumnList()">
              Show All
            </button>
            <button mat-menu-item class="d-flex justify-content-center border p-0" [ngClass]="{'notAllow':allCheck }" (click)="saveColumns(columns)">
              Save
            </button>
        </li>
        <li *ngFor="let head of columns; let i = index">
          <mat-checkbox
            [(ngModel)]="head.display"
            [color]="'primary'"
            (ngModelChange)="checkColumnList(columns)"
            (click)="$event.stopPropagation()"
            [disabled]="head.show"
          >
            {{ head.label }}
          </mat-checkbox>
        </li>
      </ul>
    </div>
</mat-menu>
