<div *ngIf="columns && columns.length > 0">
  <span class="example-list-section">
    <ul class="ml-2 mt-2 mb-2">
      <li class="pr-2 d-flex justify-content-between mb-2">
          <button mat-menu-item class="d-flex justify-content-center border mr-2" (click)="updateColumnList()">
            Show All
          </button>
          <button mat-menu-item class="d-flex justify-content-center border " (click)="saveColumns(columns)">
            Save
          </button>
      </li>
      <li *ngFor="let head of columns; let i = index">
        <mat-checkbox
          [(ngModel)]="head.display"
          [color]="'primary'"
          (ngModelChange)="showHide()"
          (click)="$event.stopPropagation()"
        >
          {{ head.label }}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</div>
