<div *ngIf="columns.length > 0">
  <span class="example-list-section">
    <ul class="ml-2 mt-2 mb-2">
      <li (click)="updateColumnList()" class="pr-2">
        <button mat-menu-item class="d-flex justify-content-center">
          Show All
        </button>
      </li>
      <li *ngFor="let head of columns; let i = index">
        <mat-checkbox
          [(ngModel)]="head.display"
          [color]="head.field_class ? head.field_class : 'primary'"
          (ngModelChange)="showHide()"
          (click)="$event.stopPropagation()"
        >
          {{ head.label }}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</div>
