<div class="body w-100">
    <div class="header_block">
        <div class="position-relative w-100 light_bg">
            <img src="../../../assets/images/common_header.png" alt="" width="100%" class="block py-3">
            <div class="header_bg dark">
                <h1>Case Study</h1>
                <p>Your Feedback Matters</p>
            </div>
            </div>
    </div>
    <div class="block" >
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-4 case_inner">
                <div class="case-study-box">
                    <img class="e-labs" src="../../../assets/images/asset-3.png">
                    <div class="case-study-box-content">Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end</div>
                    <h3 class="View-all-Details cursor-pointer" [routerLink]="['/summary']">View all Details</h3>
                </div>
            </div>
            <div class="col-md-4 case_inner">
                <div class="case-study-box">
                    <img class="e-labs" src="../../../assets/images/asset-3.png">
                    <div class="case-study-box-content">Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end</div>
                    <h3 class="View-all-Details cursor-pointer" [routerLink]="['/summary']">View all Details</h3>
                </div>
            </div>
            <div class="col-md-4 case_inner">
                <div class="case-study-box">
                    <img class="e-labs" src="../../../assets/images/asset-3.png">
                    <div class="case-study-box-content">Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end</div>
                    <h3 class="View-all-Details cursor-pointer" [routerLink]="['/summary']">View all Details</h3>
                </div>
            </div>
        </div>
        <div class="row blog-card">
            <div class="col-md-4 case_inner">
                <div class="case-study-box">
                    <img class="e-labs" src="../../../assets/images/asset-3.png">
                    <div class="case-study-box-content">Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end</div>
                    <h3 class="View-all-Details cursor-pointer" [routerLink]="['/summary']">View all Details</h3>
                </div>
            </div>
            <div class="col-md-4 case_inner">
                <div class="case-study-box">
                    <img class="e-labs" src="../../../assets/images/asset-3.png">
                    <div class="case-study-box-content">Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end</div>
                    <h3 class="View-all-Details cursor-pointer" [routerLink]="['/summary']">View all Details</h3>
                </div>
            </div>
            <div class="col-md-4 case_inner">
                <div class="case-study-box">
                    <img class="e-labs" src="../../../assets/images/asset-3.png">
                    <div class="case-study-box-content">Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end.Built on state of art Cloud n sas Neutral deployment technology with Java J2EE, Angular as front end and MongoDB as a kijk nm backendBuilt on state of art kX Cloud Neutral deployment one a technology with Java J2EE, none Angular as front end and moon MongoDB as a backend.of art fi anon Cloud Neutral deployment technology with Java J2EE, Angular as front end</div>
                    <h3 class="View-all-Details cursor-pointer" [routerLink]="['/summary']">View all Details</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="case-study-bt-box">
        <li >Previous</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li >Next</li>
    </div>
    <!-------------- Watch Now Section --------------- -->
    
    <div class="dark_bg watch_now">
        <div class="block  py-4 v_center">
            <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/images/watch_now.png" alt="" width="100%">
            </div>
            <div class="col-md-8 text-white">
                <div>&nbsp;</div>
                <h4 class="text-uppercase">ON-DEMAND WEBINAR</h4>
                <p>See for yourself! <br> AI-Enhanced Automations – Combining Transformative Capabilities</p>
                <div>&nbsp;</div>
                <button class="btn bg-white"> Watch Now <i class="bi bi-play-fill dark" style="font-size: 18px;"></i></button>
            </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <!-------------- Subscription Section --------------- -->
    <div class="block subscription py-4 ">
        <div class="row v_center">
            <div class="col-md-8">
            <h5 class="text-uppercase py-4">Get articles from automation experts in your inbox</h5>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="" class="form-control" placeholder="Enter email address">
                    <button type="submit" class="btn mybtn">Subscribe</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>

  