<div class="container-fluid position-relative">
  <mat-tab-group *ngIf="chartPermission"  mat-align-tabs="start" (selectedIndexChange)="getTabIndex($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="mat-tab-label-content px-3 py-2" >Chart</div>
      </ng-template>
      <app-mongodb-chart *ngIf="mongodbChartShow"  [showMongoChart]="mongodbChartShow"></app-mongodb-chart> 
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="mat-tab-label-content px-3 py-2" >Old Chart</div>
      </ng-template>
      <app-chart *ngIf="isShow" [isShow]="isShow"></app-chart>  
    </mat-tab>  
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="mat-tab-label-content px-3 py-2" >Dashboard</div>
      </ng-template>
       <app-dashboard-chart *ngIf="dashboardMongodbChartShow" [showDashboardMongoChart]="dashboardMongodbChartShow"></app-dashboard-chart>   
    </mat-tab>   
  </mat-tab-group>  


  <section class="maindashboard" *ngIf="!chartPermission">
    <div class="dashboardcard d-flex align-items-center justify-content-between">
      <h1>Welcome to {{welcometitle | titlecase}}</h1>
      <img src="assets/img/welcomeimg.png" class="300px">
    </div>

  </section>
  <!-- <div class="row">
    <div class="col-xl-8">
      <div class="row">
        <div *ngFor="let stat of statData" class="col-md-4">
          <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
        </div>
      </div>
    </div>
  </div> -->
</div>
