<div style="visibility:hidden;position:fixed;" [style.left]="menuTopLeftPosition.x" [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div> 
 <mat-menu #rightMenu="matMenu" class="rightclickmenu"> 
  <ng-template matMenuContent let-item="item">
    <button mat-button class="w-100 text-left" color="primary" *ngIf="elements.length > 0" (click)="exportExcel()"><span class="material-icons mr-2">file_download</span> Download Excel</button>
    <button mat-button class="w-100 text-left" color="primary" *ngIf="forms['default']" (click)="addNewForm('NEW')"><span class="material-icons mr-2">add</span> Add Form</button>
    <ul class="m-0"> 
        <li *ngIf="editedRowIndex != item">
            <span *ngIf="tab.grid && tab.grid.details && tab.grid.details.bulk_update" class="mr-2" style="display: inline-block;margin: 10px;cursor: pointer;">
                <form #myform="ngForm">
                    <input type="checkbox" [attr.id]="'checkbox' + item" ngModel name="check" (change)="onBulkUploadCheck(item, myform)">
                </form>
            </span>
            <ng-container *ngFor="let btn of gridButtons">
                <button mat-button class="w-100 text-left grid-button" *ngIf="!(btn && btn.grid_header_button)" (click)="gridButtonAction(item,btn)" [disabled]="btn.is_disabled">
                    <span class="material-icons mr-2" [ngClass]="btn.field_name == 'cancel' || btn.field_name == 'delete'?'text-danger':''">{{ btn.field_class }}</span> {{btn.label}}
                </button>
            </ng-container>
        </li>
        <li *ngIf="editedRowIndex == item">
            <button mat-button class="w-100 text-left grid-button" color="primary" (click)="saveGridData()"><span class="material-icons mr-2">save</span>Save</button>
            <button mat-button class="w-100 text-left grid-button" color="accent" (click)="CancilGridEdite()"><span class="material-icons mr-2">cancel</span>Cancel</button>
        </li>
    </ul>
  </ng-template> 
</mat-menu> 

<section>
    <div class="downloadbtn">
        <button *ngIf="elements.length && !heavyDownload" mdbBtn type="button" size="sm" (click)="exportExcel()" mdbWavesEffect class="m-0 ml-2 px-2 py-1 grid-button float-right" [matTooltip]="'Export (ALT + CTRL + D)'" [matTooltipPosition]="'above'" [matTooltipClass]="'text-white'"><span class="material-icons" style="font-size:12px!important;vertical-align:middle;">file_download</span> Download</button>
        <button *ngIf="elements.length && heavyDownload" mdbBtn type="button" size="sm" (click)="exportCSV()" mdbWavesEffect class="m-0 ml-2 px-2 py-1 grid-button float-right" [matTooltip]="'Export (ALT + CTRL + D)'" [matTooltipPosition]="'above'" [matTooltipClass]="'text-white'"><span class="material-icons" style="font-size:12px!important;vertical-align:middle;">file_download</span> Download</button>
        <button *ngIf="forms['default'] && tab.addForm" mdbBtn type="button" size="sm" (click)="addNewForm('NEW')" mdbWavesEffect class="m-0 px-2 py-1 grid-button float-right" [matTooltip]="'Add New Form (ALT + A)'" [matTooltipPosition]="'above'" [matTooltipClass]="'text-white'"><span class="material-icons" style="font-size:12px!important;vertical-align:middle;">add</span> Add</button>
        <ng-container *ngIf="forms['default'] && tab && tab.grid && tab.grid.copyRequired">
            <button mdbBtn type="button" size="sm" (click)="cloneData()" mdbWavesEffect class="m-0 px-2 mr-2 py-1 grid-button float-right" [matTooltip]="'Copy Selected Row'" [matTooltipPosition]="'above'" [matTooltipClass]="'text-white'"><span class="material-icons" style="font-size:12px!important;vertical-align:middle;">content_copy</span> Copy</button>
        </ng-container>
        <span *ngFor="let btn of gridButtons">
            <a *ngIf="(btn && btn.grid_header_button) || (bulkuploadList && bulkuploadList.length > 0)" mdbBtn floating="true" size="sm" (click)="gridButtonAction(0,btn)" mdbWavesEffect class="m-0 mr-1 grid-button" [matTooltip]="btn.label" [matTooltipDisabled]="btn.is_disabled" [matTooltipPosition]="'above'" [matTooltipClass]="btn.field_class">
                <span class="material-icons" [ngClass]="btn.field_name == 'cancel' || btn.field_name == 'delete'?'text-danger':''">{{ btn.field_class }}</span>
            </a>
        </span>
        <app-grid-filter-menu class="grid-filter-menu" [extraClass]="'filterbtn float-right'" [columns]="headElements"></app-grid-filter-menu>
    </div>
</section>

<section>
    <div class="row w-100 m-0">
        <div class="col-lg-12 mt-0 px-0">
            <mat-card>
               <mat-card-content class="m-0 p-0 bg-aluminium">
                    <div class="row mx-0">
                        <div [ngClass]="treeView ? 'col-lg-3 pl-0' : 'd-none'"><app-tree-view></app-tree-view></div>
                        <div class="table-responsive table tableFixHead mb-0 pb-0" [ngClass]="treeView || isShowDiv ? 'col-lg-9 pl-0' : 'col-lg-12 px-0'">
                            <table class="table-bordered table-striped table-hover table-resizable">
                                <thead >
                                    <tr>
                                        <th [resizeColumn]="true" [index]="-1" *ngIf="headElements.length > 0"><div class="heading text-center">Action</div></th>
                                        <th [resizeColumn]="true" [index]="i" [cellClass]="'resizeGridColunms'" [style.left.px]="fixedcolwidth"  *ngFor="let head of headElements; let i = index" [ngClass]="{'d-none': !head.display}">
                                            <div class="heading d-flex" [style.width]="head.width" [style.text-align]="head.text_align">
                                                <span  class="grid-heading-nowrap resizeGridColunms" (click)="onSort(headElements[i])" [title]="head.label">{{ head.label | titlecase }}</span>
                                                <span class="show-on-hover">
                                                    <mdb-icon fas icon="sort" (click)="onSort(headElements[i])" [matTooltip]="'Sort'" [matTooltipPosition]="'above'" class="px-1"></mdb-icon>
                                                    <i fas class="fas fa-ellipsis-v px-1" [matMenuTriggerFor]="more" [matTooltip]="'More'" [matTooltipPosition]="'above'"></i>
                                                </span>
                                                <mat-menu  #more="matMenu" xPosition="after" class="rightclickmenu">
                                                    <app-grid-column-action-menu [elements]="elements" [sortIcon]="sortIcon" [headElements]="headElements" [data]="modifyGridData" [index]="i"  [onSort]="onSort.bind(this)" ></app-grid-column-action-menu>
                                                </mat-menu>
                                            </div>
                                        </th>                                        
                                    </tr>
                                    <tr [formGroup]="filterForm" *ngIf="headElements.length > 0" class="grid-filter">
                                        <td>
                                            <div class="heading text-center">
                                                <span *ngIf="tab.grid && tab.grid.details && tab.grid.details.bulk_update"><input type="checkbox" id="selectAllCheckbox" (change)="selectAll()"><span class="ml-1 mr-1">All</span></span>
                                                <button mdbBtn type="button" size="sm" (click)="applyFilter()" mdbWavesEffect class="m-0 grid-button px-1 py-0" [matTooltip]="'Filter'" [matTooltipPosition]="'above'"><span class="material-icons">search</span></button>
                                            </div>
                                        </td>
                                        <td class="px-1 py-2" [style.left.px]="fixedcolwidth" *ngFor="let head of headElements; let i = index" [ngClass]="{'d-none': !head.display}">
                                            <div *ngIf="head.type == 'tree_view_selection'" class="position-relative w-100">
                                                <select class="form-control form-control-sm cursor-pointer w-100" [formControlName]="head.field_name" (click)="openTreeView(head)" style="min-width:100px;" readonly>
                                                    <option *ngFor="let data of treeViewData[head.field_name]" [value]="data">{{data && data.name ? data.name : data}}</option>
                                                </select>
                                                <span *ngIf="filterFormValue[head.field_name] != ''" class="filter-clear-button btn-right-dropdown" (click)="clearFilter(head.field_name,head.type)">&times;</span>
                                            </div>
                                            <div *ngIf="head.type == 'dropdown'" class="position-relative">
                                                <!-- <select class="form-control form-control-sm" [formControlName]="head.field_name" style="min-width:100px;" (change)="applyFilter()">
                                                    <option *ngFor="let data of copyStaticData[head.ddn_field] | filter:filterdata; index as i" [ngValue]="data">{{data && data.name ? data.name : data}} 2</option>
                                                </select>
                                                <span *ngIf="filterFormValue[head.field_name] != ''" class="filter-clear-button btn-right-dropdown" (click)="clearFilter(head.field_name,head.type)">&times;</span>-->

                                                <mat-form-field appearance="outline" class="w-100 position-relative">
                                                    <mat-select [formControlName]="head.field_name" (selectionChange)="applyFilter()" disableOptionCentering panelClass="matdropdown">
                                                        <div class="p-1"><input type="search" class="form-control-sm w-100 border" [(ngModel)]="filterdata" [ngModelOptions]="{standalone: true}"></div>
                                                        <mat-option *ngFor="let data of copyStaticData[head.ddn_field] |filter:filterdata; index as i" [value]="data">{{data && data.name ? data.name : data}}</mat-option>
                                                    </mat-select>
                                                    <span *ngIf="filterFormValue[head.field_name] != ''" class="filter-clear-button btn-right-dropdown" (click)="clearFilter(head.field_name,head.type)">&times;</span>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="head.type == 'typeahead'">
                                                <div class="w-100 position-relative">
                                                    <mat-form-field appearance="outline" class="example-full-width w-100" [ngClass]="head.datatype != 'list_of_object' ? 'w-100' : ''">
                                                        <!-- <mat-label>{{head.label}} <span *ngIf="head.is_mandatory && head.datatype == 'list_of_object'" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c16-1 ng-star-inserted"> *</span></mat-label> -->
                                                        <input type="text" [placeholder]="head.label" aria-label="Number" matInput [formControlName]="head.field_name"
                                                            [matAutocomplete]="first" (keyup)="updateData($event,head)" [id]="head._id+'_'+head.field_name" autocomplete="off">
                                                        <mat-autocomplete  autoActiveFirstOption #first="matAutocomplete" (optionSelected)="applyFilter()" [displayWith]="getOptionText">
                                                            <mat-option *ngFor="let option of typeAheadData" [value]="option" [innerHtml]=" option && option.name ? option.name : option "></mat-option>
                                                            <!-- <mat-option *ngIf="head.add_new_enabled && typeAheadData.length == 0 && addNewRecord"  [value]="'add_new'">+ Add New </mat-option> -->
                                                        </mat-autocomplete> 
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div *ngIf="head.type == 'Text' || head.type == 'info' || head.type == 'reference_names' || head.type == 'number' || head.type == 'chips'" class="position-relative">
                                                <input class="form-control form-control-sm pr-3" [formControlName]="head.field_name" (keyup.enter)="applyFilter()">
                                                <span *ngIf="filterFormValue[head.field_name] != ''" class="filter-clear-button btn-right-text" (click)="clearFilter(head.field_name,head.type)">&times;</span>
                                            </div>
                                            <div *ngIf="head.type != null && head.type.toLowerCase() == 'daterange'" >
                                                <mat-form-field appearance="outline" class="example-full-width w-100 m-0 custom">
                                                    <!-- <mat-label>Enter a date range</mat-label> -->
                                                    <mat-date-range-input [rangePicker]="picker" [formGroupName]="head.field_name">
                                                        <input matStartDate placeholder="Start date" formControlName="start" (dateChange)="applyFilter()">
                                                        <input matEndDate placeholder="End date" formControlName="end" (dateChange)="applyFilter()">
                                                    </mat-date-range-input>
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                                    <span *ngIf="filterFormValue[head.field_name] && filterFormValue[head.field_name]['start'] && filterFormValue[head.field_name]['start'] != ''" class="filter-clear-button btn-right-date btn-top-date" (click)="clearFilter(head.field_name,head.type)">&times;</span>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="head.type != null && (head.type.toLowerCase() == 'date' || head.type.toLowerCase() == 'datetime')">
                                                <mat-form-field appearance="outline" class="example-full-width w-100 m-0">
                                                    <!-- <mat-label>{{ head.label | titlecase}}</mat-label> -->
                                                    <input matInput [matDatepicker]="picker2"   [formControlName]="head.field_name" (dateChange)="applyFilter()">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                                                    <mat-datepicker #picker2 color="primary" ></mat-datepicker>
                                                    <span *ngIf="filterFormValue[head.field_name] != ''" class="filter-clear-button btn-left-date btn-top-datetime" (click)="clearFilter(head.field_name,head.type)">&times;</span>
                                                </mat-form-field>
                                            </div>
                                        </td>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr mdbTableCol class="cursor-pointer" *ngFor="let el of modifyGridData | paginate: { id: 'server5', itemsPerPage: itemNumOfGrid, currentPage: pageNumber, totalItems: total }; let i = index" (click)="selectRow(i)" (dblclick)="editedRowData(i,'UPDATE')" [ngClass]="{'bg-gray text-white':selectedRowIndex == i,'activetxt':rowSelectionIndex == i && columnSelectionIndex == -1}" (contextmenu)="onRightClick($event, i)">
                                        <td [style.background-color]="el['background-color']">
                                            <span *ngIf="editedRowIndex != i" class="text-nowrap">
                                                <span *ngIf="tab.grid && tab.grid.details && tab.grid.details.bulk_update" class="mr-2" style="display: inline-block;margin: 10px;cursor: pointer;">
                                                    <form #myform="ngForm">
                                                        <input type="checkbox" [attr.id]="'checkbox' + i" ngModel name="check" (change)="onBulkUploadCheck(i, myform)">
                                                    </form>
                                                </span>
                                                <span *ngFor="let btn of gridButtons">
                                                    <a *ngIf="!(btn && btn.grid_header_button)" mdbBtn floating="true" size="sm" (click)="gridButtonAction(i,btn)" mdbWavesEffect class="m-0 mr-1 grid-button" [matTooltip]="btn && btn.label ? btn.label:''" [matTooltipDisabled]="btn && btn.is_disabled ? btn.is_disabled : false" [matTooltipPosition]="'above'" [matTooltipClass]="btn.field_class">
                                                        <span class="material-icons" [ngClass]="btn && btn.field_name == 'cancel' || btn && btn.field_name == 'delete'?'text-danger':''">{{ btn.field_class }}</span>
                                                    </a>
                                                </span>
                                            </span>
                                            <span *ngIf="editedRowIndex == i">
                                                <a mdbBtn floating="true" size="sm"  (click)="saveGridData()" mdbWavesEffect class="m-0 mr-1 grid-button ">
                                                    <span class="material-icons">save</span>
                                                </a>
                                                <a mdbBtn floating="true" size="sm" (click)="CancilGridEdite()" mdbWavesEffect class="m-0 mr-1 bg-danger ">
                                                    <span class="material-icons">cancel</span>
                                                </a>
                                            </span>                                

                                        </td>
                                        <td [style.left.px]="fixedcolwidth" *ngFor="let elId of headElements; let j = index"  [ngClass]="{'d-none':!elId.display,'activetxt':rowSelectionIndex == i && columnSelectionIndex == j}" [style.background-color]="el['background-color']">
                                            <div *ngIf="editedRowIndex != i" class="grid-data copyIconContainer resizeGridColunms d-flex align-items-center" [style.width]="elId.width" [style.text-align]="elId.text_align" >
                                                <a href="javascript:void(0)" class="grid-coloumn-nowrap" (click)="clickOnGridElement(elId,i)" [innerHtml]="el[elId.field_name]"  [matTooltip]="el[elId.field_name+'_tooltip']" [matTooltipPosition]="'above'" [class.copyField]="!elId.hideCopy" [ngClass]="elId.field_class != ''?elId.field_class:''" *ngIf="elId.type != 'color'" >
                                                    </a>


                                                    <a href="javascript:void(0)" class="grid-coloumn-nowrap" (click)="clickOnGridElement(elId,i)" [ngClass]="elId.field_class != ''?elId.field_class:''" *ngIf="elId.type == 'color'">
                                                        <span [style.background]="el[elId.field_name]" class="colorbox"></span> <span class="colorcode">{{el[elId.field_name]}}</span>
                                                    </a>
                                                    <span *ngIf="!elId.hideCopy && el[elId.field_name]"  class="material-icons copyicon"  [matTooltip]="'copy'" #tooltipTrigger="matTooltip" [matTooltipPosition]="'above'" (click)="copyText(el[elId.field_name])" >content_copy</span>
                                                    
                                                </div>
                                            <div *ngIf="editedRowIndex == i">  
                                                <div *ngIf="elId.type == 'boolean'">
                                                    <mat-checkbox  color="primary"  [(ngModel)]="editedRowCopyData[elId.field_name]"></mat-checkbox>
                                                </div>
                                                <div *ngIf="elId.type == 'checkbox'">
                                                  <mat-checkbox  color="primary"  [(ngModel)]="editedRowCopyData[elId.field_name]"></mat-checkbox>
                                                </div>
                                                <div *ngIf="elId.type.toLowerCase() == 'text'">
                                                    <input  type="text" class="w-100 form-control form-control-sm d-inline mr-2"  [(ngModel)]="editedRowCopyData[elId.field_name]" >
                                                </div>
                                                <div *ngIf="elId.type.toLowerCase() == 'dropdown'">
                                                  <mat-form-field appearance="outline" class="w-100" *ngIf="elId.datatype == 'object'">
                                                      <mat-label>{{ elId.label | titlecase}}</mat-label>
                                                      <mat-select [compareWith]="compareObjects" [(ngModel)]="editedRowCopyData[elId.field_name]" (selectionChange)="setValue(elId,i)">
                                                          <mat-option *ngFor="let staticValue of copyStaticData[elId.ddn_field]" [value]="staticValue">
                                                              {{staticValue && staticValue.name ? staticValue.name : staticValue}}
                                                          </mat-option>
                                                      </mat-select>
                                                  </mat-form-field>
                                                  <mat-form-field appearance="outline" class="w-100" *ngIf="elId.datatype != 'object'">
                                                      <mat-label>{{ elId.label | titlecase}}</mat-label>
                                                      <mat-select [(ngModel)]="editedRowCopyData[elId.field_name]" (selectionChange)="setValue(elId,i)">
                                                          <mat-option *ngFor="let staticValue of copyStaticData[elId.ddn_field]" [value]="staticValue">
                                                              {{staticValue && staticValue.name ? staticValue.name : staticValue}}
                                                          </mat-option>
                                                      </mat-select>
                                                  </mat-form-field>
                                                </div>
                                                <div *ngIf="elId.type.toLowerCase() == 'date' || elId.type.toLowerCase() == 'datetime'">
                                                    <mat-form-field appearance="outline" class="example-full-width w-100">
                                                        <!-- <mat-label>{{ head.label | titlecase}}</mat-label> -->
                                                        <input matInput [matDatepicker]="picker2" [(ngModel)]="editedRowCopyData[elId.field_name]">
                                                        <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                                                        <mat-datepicker #picker2 color="primary" ></mat-datepicker>                                    
                                                    </mat-form-field>
                                                </div>                   
                                            </div>
                                        </td>                                        
                                    </tr>
                                </tbody>
                            </table>
                            <ng-container *ngIf="!pageLoading && elements.length == 0 && headElements.length != 0 && !gridDisable">
                                <div [attr.colspan]="headElements.length + 1"  class="text-center font-weight-bold py-3">No Records Found !!!</div>
                            </ng-container>
                            <ng-container *ngIf="!pageLoading && elements.length == 0 && headElements.length != 0 && gridDisable">
                                <div [attr.colspan]="headElements.length + 1"  class="text-center font-weight-bold py-3">Search Grid Fields</div>
                            </ng-container>
                            
                            <ng-container *ngIf="!pageLoading && elements.length == 0 && headElements.length == 0">
                                <div [attr.colspan]="headElements.length + 1"  class="text-center font-weight-bold py-3">Permission denied !!!</div>
                            </ng-container>
                        </div>

                        <div [ngClass]="isShowDiv ? 'col-lg-3 pr-0 righttabledata' : 'd-none'">
                            <div class="table-responsive table tablewhitegray tableFixHead" style="position:relative;">
                                <div class="text-right tableclose"></div>
                                <table class="table-bordered table-striped table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col" width="150px">Field Name</th>
                                        <th scope="col" class="d-flex justify-content-between align-items-center">Value <a class="h5 m-0 px-2 py-0 grid-button" (click)="tableclose()" [matTooltip]="'Close (CTRL + I)'" [matTooltipPosition]="'above'"><span>×</span></a></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let elId of headElements; let j = index">
                                        <td scope="row"><span [title]="elId.label">{{ elId.label | titlecase }}</span></td>
                                        <td><span [innerHtml]="selectedRowData[elId.field_name]"></span></td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>

<section *ngIf="elements.length > 0">
    <mat-card-content class="m-0 pt-4 text-center position-relative">
        <pagination-controls (pageChange)="getPage($event)" id="server5"></pagination-controls>
        <div class="paginationnumber">
            <small>Items Per Page:</small>
            <select class="paginationsize ml-2" (change)="PageSizeChange($event)">
                <option></option>
                <option *ngFor="let size of pageSizes" [ngValue]="size">{{ size }}</option>
            </select>
        </div>
    </mat-card-content>
</section>
<!-- <div *ngIf="true" class="card pt-2 my-2">
    <app-form class="w-100" [tabIndex]="selectTabIndex" [isBulkUpdate]="isBulkUpdate" [bulkDataList]="bulkuploadList" [editedRowIndex]="selectedRowIndex" (addAndUpdateResponce)="addAndUpdateResponce($event)" [formName]='formName' [selectContact]='selectContactAdd'></app-form> 
</div> -->

<div class="loader-overlay" *ngIf="pageLoading">
    <mat-spinner diameter="50"></mat-spinner>
</div>


<app-modals id="basic-modal" (responceData)="responceData($event)"></app-modals>
<app-tree-view-modal id="filter-tree-view-modal" (treeViewResponce)="treeViewResponce($event)"></app-tree-view-modal>
<app-preview-modal id="grid-preview-modal" (previewModalResponce)="previewModalResponce($event)"></app-preview-modal>
<app-form-modal id="form-modal" [tabIndex]="selectTabIndex" [bulkUpdate]="isBulkUpdate" [bulkDataList]="bulkuploadList" [editedRowIndex]="selectedRowIndex" (addAndUpdateResponce)="addAndUpdateResponce($event)" [formName]='formName' [selectContact]='selectContactAdd'></app-form-modal>
<app-template-modal id="template-modal" (temlateModalResponce)="temlateModalResponce($event)"></app-template-modal>
<app-file-views-modal id="fileview-grid-modal" (fileViewResponceData)="fileViewresponceData($event)"></app-file-views-modal>
<app-communication-data-modal id="communication-modal" [tabIndex]="selectTabIndex" [editedRowIndex]="selectedRowIndex" (addAndUpdateResponce)="addAndUpdateResponce($event)"></app-communication-data-modal>
<app-audit-history id="audit-history"></app-audit-history>
<app-download-progress  id="download-progress-modal"></app-download-progress>
<html-view-modal id="grid-html-view-modal"></html-view-modal>