<div class="innerheader">
    <div class="position-relative w-100 light_bg"> <img src="../../../assets/images/common_header.png" alt="" width="100%">
      <div class="header_bg dark"><h1>Shelf Life Study</h1></div>
    </div>
  </div>
  
  <section class="container">
     <app-solution-menu-mobile></app-solution-menu-mobile>
  </section>
  
  <section class="container solutions_page mb-5">
    <div class="row">
      <div class="col-md-3">
         <app-solution-menu></app-solution-menu>
       </div>
      <div class="col-md-9">
        <div class="tab-content flex-grow-1">          
          <div >
            <div class="solution_content">
                <div class="row mb-3">
                  <div class="col-md-7">
                    <p><strong>Shelf Life Study</strong> - While testing pharmaceuticals and food products, one of the key capability of your laboratory will be to perform a shelf life study of samples. Shelf life of the product is the time period for which the product maintains its identity and quality when stored at the conditions defined on the label of the product. LIMS allows you to effectively maintain samples and periodically book the testing as per the defined protocol of the laboratory. </p>
                  </div>
                  <div class="col-md-5"> </div>
                </div>
                <h4 class="dark mb-3">Some of the salient features of the module –</h4>
                <ul class="m-4 solutionslist">
                    <li>Protocol Drafting having complete detail of storage conditions, time interval, no. of </li>samples to be extracted with date of extraction
                    <li>Protocol Approval</li>
                    <li>Prior Notification regarding conditions batch wise</li>
                    <li>Order Booking on single click as per protocol</li>
                    <li>COA Generation</li>
                    <li>STF Generation</li>
                    <li>Trend Comparison</li>
                    <li>Complete Stability Tracker</li>
                </ul>
              </div>
          </div>          
        </div>
      </div>
    </div>
  </section>
  