<div class="settingmenu position-relative text-right">
  <mat-menu #menu="matMenu" class="searchmenu">
    <div (click)="$event.stopPropagation();$event.preventDefault();">
      <input #serachData (keyup)="searchmodel(serachData.value)" placeholder="Search items..." autocomplete="off">
      <div class="modulesdata bg-white" [ngClass]="showsearchmenu? 'd-block': 'd-none'">
        <div class="searchitem">
          <div *ngFor="let item of AllModuleList |filter:filterdata; let i = index">
            <button mat-button *ngIf="item.title" class="text-left w-100" (click)="GoToSelectedModule(item)">{{ item.title }}</button>
            <div *ngFor="let subitem of item.menu_list |filter:filterdata">
              <button mat-button class="text-left w-100" (click)="getTemplateData(item,subitem,$event)"><small>{{ subitem.label }}</small></button>
              <div class="px-3" *ngFor="let subSubitem of subitem.submenu |filter:filterdata">
                <button mat-button class="text-left w-100" (click)="getTemplateData(item,subSubitem,$event)"><small>{{ subSubitem.label }}</small></button>
              </div>
            </div>
          </div>
          <p class="text-center p-3 pt-4" *ngIf="(AllModuleList | filter: filterdata).length === 0"><small>No Data Match</small></p>
        </div>
      </div>
    </div>
  </mat-menu>
  <button mat-icon-button class="headsearchicon" [matMenuTriggerFor]="menu"><mat-icon>search</mat-icon></button>
  
  <button mat-button [matMenuTriggerFor]="notify" #notifyMenuTrigger="matMenuTrigger" (click)="getNotification()"><mat-icon [matBadge]="noOfNotification==0?'':noOfNotification" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon></button>
  <mat-menu #notify="matMenu" xPosition="before" class="notificationMenu" (click)="$event.stopPropagation()">
          <!-- <app-notification-list [menuView]="iconOpen" [notifyMenuTrigger]="notifyMenuTrigger"></app-notification-list>  -->
        <div class="bg-white rounded box-shadow notificationdetailsMenu">
          <div class="cursor-pointer py-2 notification-item text-center notificationMenuHeader showMoreBtn" >
            Notifications
           </div>
            <div class="media  cursor-pointer px-3 py-2 notification-item border-bottom border-gray d-flex align-items-center" *ngFor="let data of notificationlist ; let i = index" (click)="readNotification(data)">
                <div class="d-flex justify-content-between align-items-center">
                <div mat-list-avatar [ngClass]="{'unread-indicator': data.notificationStatus=='UNREAD'}" class="mr-1" style="width: 10px;height: 10px;"></div>
                <img src="assets/img/profile.jpg" alt="image" class="mr-2 rounded" width="40" height="40">
            </div>
            <div class="media-body mb-0 lh-125">
                <div class="d-flex justify-content-between">
                    <div class="d-block text-dark" style="font-weight: 500;">{{data.userId.name}}</div>
                    <span class="text-body">{{data.notificationType | titlecase}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>{{data.message | titlecase}}</span>
                    <span  ></span>
                </div>
            </div>
         </div>
         <div class="cursor-pointer py-2 notification-item text-center showMoreBtn" (click)="showMore()">
          Show more
         </div>
      </div>
        </mat-menu>
  <button class="role-button" mat-button [matMenuTriggerFor]="role" [title]="activeRole">{{activeRole}}</button>
  <mat-menu #role="matMenu" xPosition="before">
    <button mat-menu-item *ngFor="let role of roleList" (click)="setRole(role)">{{role?.name}}</button>
  </mat-menu>
  <button mat-icon-button (click)="rightsidenav.toggle()"><mat-icon>account_circle</mat-icon></button>
</div>
