<section *ngIf="template == 'temp1'" class="hero-section-2" id="home" style="background: url(assets/img/bg-1.png) center center;">
    <div class="container">
        <div class="row vertical-content justify-content-center">
            <div class="col-lg-6"><div class="hero-wrapper mb-4"><p><img [src]="logoPath" alt=""></p></div></div>
            <div class="col-lg-4 offset-lg-2">
                <div class="card mx-auto p-4 rounded mt-lg-0">
                    <div class="text-center"><p class="text-muted mb-2 font-13 text-uppercase">Change Password</p></div>
                    <form class="example-form" [formGroup]="resetPsswordForm">

                        <div class="form-group mb-4">
                            <label class="font-15">Old Password</label>
                            <input type="text" class="form-control" formControlName="oldpwd" placeholder="Enter old password">
                        </div>

                        <div class="form-group mb-4">
                            <label class="font-15">New Password</label>
                            <input type="password" class="form-control" formControlName="password" placeholder="Enter new password">
                        </div>
                        <span class="text-danger" *ngIf="resetPsswordForm.controls['password'].touched && resetPsswordForm.controls['password'].dirty && resetPsswordForm.controls['password'].errors?.invalidPassword">{{resetPsswordForm.controls['password'].errors.invalidPassword | titlecase}}</span>

                        <div class="form-group mb-0">
                            <label class="font-15">Confirm Password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm your password">
                        </div>
                        
                        <p class="text-left"><small class="text-danger" *ngIf="resetPsswordForm.get('confirmPassword').touched && resetPsswordForm.get('confirmPassword').errors?.passwordMismatch">Password Not Match</small></p>

                        <div class="row justify-content-center my-3">
                            <button class="hover1 mr-5" mat-raised-button color="primary" type="submit" style="width:50%;" [disabled]="!resetPsswordForm.valid" (click)="onChangePwd()">Change Password</button>
                            <button class="hover1" mat-raised-button color="primary" type="submit" style="width:25%;" (click)="onBack()">Back</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section *ngIf="template == 'temp2'"
    style="background: url(assets/img/itc-login-bg.jpg);height:100vh;background-size:cover ;">
    <div class="container py-5 mat-typography login2">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <mat-card style="text-align: center;opacity: 90%;">
                    <mat-card-title class="py-3 bg-white"><img style="width:40%;" [src]="logoPath" alt="ITC logo"></mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <div class="text-center w-75 m-auto"><h4 class="text-dark-50 text-center mt-3">Change Password</h4></div>
                        <form class="example-form" [formGroup]="resetPsswordForm">

                            <mat-form-field appearance="outline" class="w-100 mb-3 password">
                                <mat-label>Old Password</mat-label>
                                <input matInput placeholder="Enter old password"[type]="checkOldPassword ? 'text' : 'password'" formControlName="oldpwd">
                                <button mat-icon-button  tabindex="-1">
                                    <mat-icon (click)="showOldPassword()">{{checkOldPassword? 'visibility_off': 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-100 mb-3 password">
                                <mat-label>New Password</mat-label>
                                <input matInput placeholder="Enter new password" [type]="checkShowPassword ? 'text' : 'password'" formControlName="password">
                                <button mat-icon-button  tabindex="-1"><mat-icon (click)="showPassword()">{{checkShowPassword? 'visibility_off': 'visibility'}}</mat-icon></button>
                            </mat-form-field>
                            <span class="text-danger" *ngIf="resetPsswordForm.controls['password'].touched && resetPsswordForm.controls['password'].dirty && resetPsswordForm.controls['password'].errors?.invalidPassword">{{ resetPsswordForm.controls['password'].errors.invalidPassword | titlecase}}</span>

                            <mat-form-field appearance="outline" class="w-100 mb-0">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput placeholder="Confirm your password" type="password" formControlName="confirmPassword">
                            </mat-form-field>
                           
                            <p class="text-left"><small class="text-danger" *ngIf="resetPsswordForm.get('confirmPassword').touched && resetPsswordForm.get('confirmPassword').errors?.passwordMismatch">Password Not Match</small></p>

                            <div class="row justify-content-center my-3">
                                <button class="hover1 mr-3" mat-raised-button color="primary" type="submit" style="width:35%;" [disabled]="!resetPsswordForm.valid" (click)="onChangePwd()">Change Password</button>
                                <button class="hover1" mat-raised-button color="primary" type="submit" style="width:25%;" (click)="onBack()">Back</button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>




<section *ngIf="template == 'temp3'"
    style="background: url(assets/img/pexels-public-domain-pictures-60022.jpg);height: 100vh;background-size:cover ;">
    <div class="container py-5 mat-typography login2">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <mat-card style="text-align: center;opacity: 90%;">
                    <mat-card-title class="py-3 bg-white"><img style="width:40%;" [src]="logoPath" alt="qualiteklab logo"></mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <div class="text-center w-75 m-auto"><h4 class="text-dark-50 text-center mt-3">Change Password</h4></div>
                        <form class="example-form" [formGroup]="resetPsswordForm">

                            <mat-form-field appearance="outline" class="w-100 mb-3 password">
                                <mat-label>Old Password</mat-label>
                                <input matInput placeholder="Enter old password"[type]="checkOldPassword ? 'text' : 'password'" formControlName="oldpwd">
                                <button mat-icon-button  tabindex="-1">
                                    <mat-icon (click)="showOldPassword()">{{checkOldPassword? 'visibility_off': 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-100 mb-3 password">
                                <mat-label>New Password</mat-label>
                                <input matInput placeholder="Enter new password" [type]="checkShowPassword ? 'text' : 'password'" formControlName="password">
                                <button mat-icon-button  tabindex="-1"><mat-icon (click)="showPassword()">{{checkShowPassword? 'visibility_off': 'visibility'}}</mat-icon></button>
                            </mat-form-field>

                            <span class="text-danger" *ngIf="resetPsswordForm.controls['password'].touched && resetPsswordForm.controls['password'].dirty && resetPsswordForm.controls['password'].errors?.invalidPassword">{{ resetPsswordForm.controls['password'].errors.invalidPassword | titlecase}}</span>
                            <mat-form-field appearance="outline" class="w-100 mb-0">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput placeholder="Confirm your password" type="password" formControlName="confirmPassword">
                            </mat-form-field>

                            <p class="text-left"><small class="text-danger" *ngIf="resetPsswordForm.get('confirmPassword').touched && resetPsswordForm.get('confirmPassword').errors?.passwordMismatch">Password Not Match</small></p>
                            
                            <div class="row justify-content-center my-3">
                                <button class="hover1 mr-3" mat-raised-button color="primary" type="submit" style="width:35%;" [disabled]="!resetPsswordForm.valid" (click)="onChangePwd()">Change Password</button>
                                <button class="hover1" mat-raised-button color="primary" type="submit" style="width:25%;" (click)="onBack()">Back</button>
                            </div>

                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>