<div style="background: url(assets/img/pexels-public-domain-pictures-60022.jpg);height: 100vh;background-size:cover ;">
    <div class="account-pages pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">

                    <mat-card style="text-align:center;opacity:90%;">
                        <mat-card-title class="mat-card-title mat-card-image mb-0 py-3 bg-white"><img [src]="logoPath" alt="" style="max-width:50%;"></mat-card-title>
                        <mat-divider></mat-divider>
                        <mat-card-content >
                            <div class="text-center w-75 m-auto"><h4 class="text-dark-50 text-center mt-2">Change Password</h4></div>
                            <form class="example-form" [formGroup]="resetPsswordForm">

                                <mat-form-field appearance="outline" class="w-100 mb-3">
                                    <mat-label>Old Password</mat-label>
                                    <input matInput placeholder="Enter old password" type="password" formControlName="oldpwd" >
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100 mb-3">
                                    <mat-label>New Password</mat-label>
                                    <input matInput placeholder="Enter new password" type="password" formControlName="password">
                                    <mat-error class="text-danger" *ngIf="resetPsswordForm.controls['password'].touched && resetPsswordForm.controls['password'].dirty && resetPsswordForm.controls['password'].errors?.invalidPassword" >
                                        {{ resetPsswordForm.controls['password'].errors.invalidPassword | titlecase}}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100 mb-3">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput placeholder="Confirm your password"  type="password" formControlName="confirmPassword">
                                    <small class="text-danger" *ngIf="resetPsswordForm.get('confirmPassword').touched && resetPsswordForm.get('confirmPassword').errors?.passwordMismatch">Password Not Match</small>
                                </mat-form-field>

                                <div class="row justify-content-center ">
                                    <button class="hover1" mat-raised-button color="primary" type="submit"
                                        style="width: 35%;" [disabled]="!resetPsswordForm" (click)="onChangePwd()">Change Password</button>
                                    &nbsp;&nbsp;&nbsp;<button class="hover1" mat-raised-button color="primary"
                                        type="submit" style="width: 25%;" (click)="onBack()">Back</button>
                                </div>

                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>