<!-- ------------ Services Section --------------- -->
<div class="header_block mb-5">
    <div class="position-relative w-100">
       <img src="../../assets/images/contact_us.jpg" alt="" width="100%">
       <div class="header_bg">
             <!-- <h1>Contact Us</h1> -->
             <!-- <p>Sub-title</p> -->
          </div>
       </div>
 </div>
 <section style="background: url(assets/img/bg-1.png) center center;">
 <div class="block" >
    <div class="row px-3 connect">
       <div class="col-md-6" style="padding-top:40px">
        <p  class="m-0">
            <img  src="assets/images/logo.png" style="width:200px">
        </p>
        <h3>Let's Connect</h3>
        <p>We will be excited to hear from you on your challenges. For a discussion with our implementation team for better understanding on how we can partner in your journey, connect today.</p>
        <p><i class="bi bi-envelope"></i>&nbsp; Cororate@e-Labs.ai</p>
        <p><i class="bi bi-telephone"></i>&nbsp; +91 84470 87047</p>
        <p><i class="bi bi-geo-alt"></i>&nbsp; C – 100, Sec – 2, Noida, UP – 201301</p>
        <div>&nbsp;</div>
        <h5>Find us on social media</h5>
        <div class="d-flex mt-4">
            <h4 class="mx-2"><a href="https://www.facebook.com/E-Labs-106928411716133" target="_blank"><i class="bi bi-facebook"></i></a></h4>
            <h4 class="mx-2"><a href="https://twitter.com/ELabs00933455" target="_blank"><i class="bi bi-twitter"></i></a></h4>
            <h4 class="mx-2"><a href="https://www.instagram.com/e_labs_lims/" target="_blank"><i class="bi bi-instagram"></i></a></h4>
            <h4 class="mx-2"><a href="https://www.linkedin.com/in/e-labs-lims-24112521b/" target="_blank"><i class="bi bi-linkedin"></i></a></h4>
            <h4 class="mx-2"><a href="#" target="_blank"><i class="bi bi-youtube"></i></a></h4>                        
         </div>
         
         <div>&nbsp;</div>
         <div>&nbsp;</div>
       </div>
       <div class="col-md-6 ">
          <div class="contact_form border_r20">
             <h4>Send us a message</h4>
             <div>&nbsp;</div>
             <form [formGroup]="contactForm">
                <div class="mb-2">
                   <label for="" class="form-label">Name</label>
                   <input type="text" class="form-control" id="" formControlName="name" aria-describedby="emailHelp">
                </div>
                <div class="mb-2">
                   <label for="" class="form-label">Phone</label>
                   <input type="tel" class="form-control" id="" formControlName="mobile" aria-describedby="emailHelp">
                </div>
                <div class="mb-2">
                   <label for="" class="form-label">Email address</label>
                   <input type="email" class="form-control" id="" formControlName="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-2">
                   <label for="" class="form-label">Company Name</label>
                   <input type="text" class="form-control" id="" formControlName="subject">
                </div>
                <div class="mb-2">
                   <label for="" class="form-label">Message</label>
                   <textarea name="" id="" cols="30" rows="3" class="form-control" formControlName="remarks"></textarea>
                </div>
                <!-- <div class="mb-2 form-check">
                   <input type="checkbox" class="form-check-input" id="">
                   <label class="form-check-label" for="">I agree with all T&C and Privacy Policy</label>
                </div> -->
                <button type="button" [disabled]="!contactForm.valid" (click)="onSubmit()" class="btn mybtn">Submit</button>
             </form>
          </div>
       </div>
    </div>
 </div>
 <div>&nbsp;</div>
 <div>&nbsp;</div>
</section>
 <!-- ------------ Watch Now Section --------------- -->
 <!-- <div class="dark_bg watch_now block">
    <div class=" row py-4 v_center">
       <div class="col-md-4">
          <img src="../../assets/images/watch_now.png" alt="" width="100%">
       </div>
       <div class="col-md-8 text-white">
          <div>&nbsp;</div>
          <h4 class="text-uppercase">ON-DEMAND WEBINAR</h4>
          <p>See for yourself! <br> AI-Enhanced Automations – Combining Transformative Capabilities</p>
          <div>&nbsp;</div>
          <button class="btn mybtn"> Watch Now <i class="bi bi-play-fill dark" style="font-size: 18px;"></i></button>
       </div>
    </div>
 </div>
 <div>&nbsp;</div>
 <div>&nbsp;</div> -->

 <!-- ------------ Subscription Section --------------- -->
 <!-- <div class="subscription block">
    <div class=" row py-4 v_center">
       <div class="col-md-8">
          <p class="text-uppercase py-4 dark font20">Get articles from automation experts in your inbox</p>
       </div>
       <div class="col-md-4">
          <div class="form-group">
             <div class="input-group">
                 <input type="text" name="" class="form-control" placeholder="Enter email address">
                 <button type="submit" class="btn mybtn">Subscribe</button>
              </div>
         </div>
       </div>
    </div>
 </div>
 <div>&nbsp;</div>
 <div>&nbsp;</div> -->
