<section class="rightsettingmenu">
    <div class="profilepci bg-white text-center pb-2">
        <div class="prifileimg mx-auto"><img src="assets/img/profile.jpg" alt="" width="60"></div>
        <h3 class="m-0">{{userName}}</h3>
        <h5 class="m-0">{{userEmail}}</h5>
    </div>
    <perfect-scrollbar>
        <mat-list class="pt-0" style="padding-bottom:120px;">
            <mat-list-item matRipple (click)="chartModel()"><mat-icon>bar_chart</mat-icon><div mat-subheader>Chart Bar</div></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item matRipple (click)="shortcutinfo()"><mat-icon>info</mat-icon><div mat-subheader>Shortcut Key</div></mat-list-item>
            <mat-divider></mat-divider>
            <!-- <mat-list-item matRipple (click)="notifymenu()">
                <mat-icon>notifications</mat-icon>
                <div mat-subheader>Notifications<span class="budget" *ngIf="getUnreadNotificationLength() > 0" [innerHtml]="getUnreadNotificationLength()"></span> <mat-icon class="ml-5">chevron_right</mat-icon></div>
            </mat-list-item> -->
            <!-- <mat-list-item *ngIf="toggle"><div mat-line matRipple class="px-3 py-1" [ngClass]="{'font-weight-bold': data.notificationStatus == 'UNREAD'}" *ngFor="let data of headerNotificationList; let i = index" (click)="readNotification(i)"><small>{{i + 1}} &nbsp; {{data.message}}</small></div></mat-list-item>
            <button mat-button *ngIf="toggle" color="primary" class="w-100" (click)="notificationList()">All Notifications <mat-icon>chevron_right</mat-icon></button> -->
            <mat-list-item matRipple (click)="gotoNotificationPage()"><mat-icon>settings</mat-icon><div mat-subheader>Notifications</div></mat-list-item>
            <mat-divider></mat-divider>
            <!-- <mat-list-item matRipple routerLink="/notification-setting"><mat-icon>settings</mat-icon><div mat-subheader>Notificatoin Setting</div></mat-list-item> -->
            <mat-list-item matRipple (click)="notificationSetting()"><mat-icon>notifications</mat-icon><div mat-subheader>Notificatoin Setting</div></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item matRipple (click)="gitInfo()"><mat-icon>info</mat-icon><div mat-subheader>Version: {{gitVersion}}</div></mat-list-item>
            <mat-divider></mat-divider>
            <span *ngIf="profileMenuItemList && profileMenuItemList.length > 0">
              <span *ngFor="let menu of profileMenuItemList; let i = index">
                <mat-list-item matRipple (click)="profileMenu(menu)">
                  <mat-icon>support</mat-icon>
                  <div mat-subheader>{{menu.label}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </span>
            </span>
            <mat-list-item matRipple (click)="feedback()"><mat-icon>forum</mat-icon><div mat-subheader>Feedback</div></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item matRipple routerLink="/createpwd"><mat-icon>lock_clock</mat-icon><div mat-subheader>Change Password</div></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item matRipple (click)="downloadpdf()"><mat-icon>lock_clock</mat-icon><div mat-subheader>User Manual</div></mat-list-item>
            <mat-divider></mat-divider>            
            <mat-list-item matRipple (click)="updateUserData()"><mat-icon>update</mat-icon><div mat-subheader>Refresh User Data</div></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item matRipple (click)="logOut()"><mat-icon>power_settings_new</mat-icon><div mat-subheader>Log out</div></mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </perfect-scrollbar>

    <!-- <div *ngIf="teamNameMenu == 'true'">
        <div *ngIf="teamname && teamname != null">
          <button mat-menu-item *ngFor="let team of teamname; let i = index">
            <mat-icon class="mr-2">group_add</mat-icon> Team Name {{i + 1}}: {{team.name}}
          </button>
        </div>
      </div> -->

</section>

<div class="loader-overlay" *ngIf="isPageLoading">
  <mat-spinner diameter="50"></mat-spinner>
</div>