<!-- <app-header></app-header> -->
<!-- <div *ngIf="loaderService.isLoading | async" class="api_loader_call">
    <mat-spinner diameter="40" class="custom-spinner" ></mat-spinner>
</div> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
<app-setting-modal id="app-setting-modal" (appSettingModalResponce)="appSettingModalResponce($event)"></app-setting-modal>
<a (click)="openSettingModel()" class="setting-icon" *ngIf="showHideSetting">
    <span class="material-icons-outlined">settings</span>
</a>