:host ::ng-deep .form-group.required .col-form-label:after {
    content: "*";
    color: red;
}
.api_loader_call{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 9999;
}
.custom-spinner{
    left: 50%;
    top:50%;
}
:host ::ng-deep .custom-spinner circle{   
    stroke: #89ca6c;
}