<div class="row m-0 w-100 position-relative">
    <div class="px-0 py-1" [ngClass]="isTabFilter?'col-lg-2':'d-none'">
        <app-sidebar-search (sidebarSearch)="sidebarSearchResponce($event)"></app-sidebar-search>
    </div>
    <div  [ngClass]="isTabFilter?'col-lg-10':'col-lg-12'">
        <!-- <div class="mat-tab-label-container pt-2">
            <div class="mat-tab-list">
                <div class="mat-tab-labels">
                    <div class="mat-tab-label" *ngFor="let tab of tabs; let i = index" [ngClass]="selectTabIndex == i ? 'mat-tab-label-active':''">
                        <div class="mat-tab-label-content cursor-pointer" (click)="getTab(i,tab.tab_name)">{{ gateTabName(tab) }}<span *ngIf="selectTabIndex == i">({{total}})</span></div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="tablist">
          <mat-tab-group animationDuration="0ms">
            <mat-tab *ngFor="let tab of tabs; let i = index" [ngClass]="selectTabIndex == i ? 'mat-tab-label-active':''">
              <ng-template mat-tab-label>
                <div class="mat-tab-label-content cursor-pointer" (click)="getTab(i,tab.tab_name)">
                    {{ gateTabName(tab) }}
                    <span *ngIf="selectTabIndex == i">({{total}})</span>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div *ngIf="grid_view_mode == 'tableView' && tabs.length > 0">
            <app-grid-table-view [selectTabIndex]='selectTabIndex' [selectContact]='selectContact' ></app-grid-table-view>
        </div>
        <div *ngIf="grid_view_mode == 'cardView' && tabs.length > 0">
            <app-grid-card-view [selectTabIndex]='selectTabIndex' [selectContact]='selectContact'></app-grid-card-view>    
        </div>
        <div *ngIf="grid_view_mode == 'chartView' && tabs.length > 0">
            <app-chart-view [selectTabIndex]='selectTabIndex' ></app-chart-view>    
        </div>
        <div *ngIf="grid_view_mode == 'inlineFormView'">
            <app-inline-form-view class="inline-form" [selectTabIndex]='selectTabIndex' ></app-inline-form-view>   
        </div>
         <div *ngIf="grid_view_mode == 'chatView' && tabs.length > 0">
            <app-chat-view [selectTabIndex]='selectTabIndex' [selectContact]='selectContact'></app-chat-view>   
        </div>
        <div *ngIf="grid_view_mode == 'gmapView'">
            <app-gmap-view></app-gmap-view>
        </div>
    </div>
</div>
    