<div class="innerheader">
    <div class="position-relative w-100 light_bg"> <img src="../../../assets/images/common_header.png" alt="" width="100%">
      <div class="header_bg dark"><h1>Contracts</h1></div>
    </div>
  </div>
  
  <section class="container">
     <app-solution-menu-mobile></app-solution-menu-mobile>
  </section>
  
  <section class="container solutions_page mb-5">
    <div class="row">
      <div class="col-md-3">
         <app-solution-menu></app-solution-menu>
       </div>
      <div class="col-md-9">
        <div class="tab-content flex-grow-1">          
          <div >
            <div class="solution_content">
                <div class="row mb-3">
                  <div class="col-md-7">
                    <p><strong>Contracts</strong> - As an extension of Lab Information Management System (LIMS) application, Order Management Module provides an integration between various testing processes of a product testing from an order received stage to Invoicing stage. </p>
                  </div>
                  <div class="col-md-5"><img src="../../../../assets/images/solutions/Contracts.png" alt=""></div>
                </div>
                <h4 class="dark mb-3">Main features:-</h4>
                <ul class="m-4 solutionslist">
                  <li>Sample receiving and Order booking– Captured all the sample entries arrived at the lab for testing leaving behind no gaps.</li>
                  <li>Job Allocation – Allocating the orders booked to the respective section analysts.</li>
                  <li>Four level review process – The result of the sample goes through a four-layer review process for absolute accuracy.</li>
                  <li>Invoice and Dispatch – Automation of Invoice for the processed orders and updation of dispatch details.</li>
                </ul>
              </div>
          </div>          
        </div>
      </div>
    </div>
  </section>
  