.rightIconPosition{
    position: absolute;
    top: 50%;
    color: white;
    right: -130px;
    font-size: 70px;
    cursor: pointer;
}

.leftIconPosition{
    position: absolute;
    top: 50%;
    color: white;
    left: -130px;
    font-size: 70px;
    cursor: pointer;
}

.pagination{
    position: absolute;
    bottom: -38px;
    left: 50%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}