<div *ngIf="headElements && headElements.length > 0">
        <ul class="m-0">
            <li class="columnActionMenu">
                <button *ngIf="sortIcon" mat-button class="w-100 text-left"  (click)="onSort(headElements[index])"><span><i class="fas fa-sort-alpha-{{sortIcon}} mr-2"></i></span> Sort</button>
                <button mat-button class="w-100 text-left"  (click)="copyColumns()"><span class="material-icons mr-2">content_copy</span> Copy Column</button>
                <button mat-button class="w-100 text-left"  (click)="hideColumn()"><span class="material-icons mr-2">remove_red_eye</span> Hide</button>
            </li>
        </ul>
</div>
