<nav class="mx-3 position-relative">
    <div class="headermenu">
      <ng-container *ngIf="menuBoxDashboard || showUserAccount">
        <mat-tab-group animationDuration="0ms" *ngIf="menuBoxDashboard">
          <mat-tab>
            <ng-template mat-tab-label><a [matTooltip]="'Selected Home Menu (ALT + H)'" [matTooltipPosition]="'above'"
                [ngClass]="activeclass ? 'selectedclass' : ''" (click)="goToMOdule()" *ngIf="menuBoxDashboard"
                #tooltip="matTooltip" matTooltip="Press B">Home</a></ng-template>
          </mat-tab>
          <mat-tab *ngFor="let menu of menuData" [ngClass]="getCurrentMenu() == menu.name ? 'active' : ''">
            <ng-template mat-tab-label>
              <a *ngIf="menu.submenu == undefined && menu.submenu == null" (click)="getTemplateMenuData(menu)"
                #tooltip="matTooltip" matTooltip="Press Ctrl + c">{{ menu.label }}</a>
              <a [matMenuTriggerFor]="beforeMenu" *ngIf="menu.submenu && menu.submenu != null"
                (click)="activeLinkD(menu.label,false)">{{ menu.label }} <mat-icon>arrow_drop_down</mat-icon></a>
              <mat-menu #beforeMenu="matMenu" xPosition="after" class="menudropdon">
                <button mat-menu-item *ngFor="let submenu of menu.submenu" (click)="getTemplateMenuData(submenu)">{{
                  submenu.label }}</button>
              </mat-menu>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </ng-container>
    </div>

    <ul class="d-flex align-items-center rightheader m-0">
      <li class="nav-item avatar">
        <div class="searchbox">
          <input [(ngModel)]="filterdata" class="form-control rounded-pill" (keyup)="searchmodel()" placeholder="Search items..." autocomplete="off">
          <div class="searchicon"><mat-icon>search</mat-icon></div>
          <div class="moduleitems" *ngIf="showsearchmenu">
            <div class="modulesdata">
              <div *ngFor="let item of AllModuleList |filter:filterdata; let i = index">
                <button mat-button *ngIf="item.title" class="text-left w-100" (click)="GoToSelectedModule(item)">{{ item.title }}</button>
                <div *ngFor="let subitem of item.menu_list |filter:filterdata">
                  <button mat-button class="text-left w-100" (click)="getTemplateData(item,subitem)"><small>{{ item.title }} > {{ subitem.label }}</small></button>
                  <div class="px-2" *ngFor="let subSubitem of subitem.submenu |filter:filterdata">
                    <button mat-button class="text-left w-100" (click)="getTemplateData(item,subSubitem)"><small>{{ item.title }} > {{ subitem.label }} > {{ subSubitem.label }}</small></button>
                  </div>
                </div>
              </div>
              <p class="text-center p-3 pt-4" *ngIf="(AllModuleList | filter: filterdata).length === 0"><small>No Data Match</small></p>
            </div>
          </div>
        </div>
      </li>

      <!-- <li class="nav-item avatar position-relative">
        <div class="searchinput position-relative d-flex justify-content-end">
          <input [(ngModel)]="filterdata" class="form-control rounded-pill" (keyup)="searchmodel()" autocomplete="off">
          <mat-icon>search</mat-icon>
        </div>
        <div class="moduleitems" *ngIf="showsearchmenu">
          <div class="modulesdata">
            <div *ngFor="let item of AllModuleList |filter:filterdata; let i = index">
              <button mat-button *ngIf="item.title" class="text-left w-100" (click)="GoToSelectedModule(item)">{{ item.title }}</button>
              <div *ngFor="let subitem of item.menu_list |filter:filterdata">
                <button mat-button class="text-left w-100" (click)="getTemplateData(item,subitem)"><small>{{ item.title }} > {{ subitem.label }}</small></button>
                <div class="px-2" *ngFor="let subSubitem of subitem.submenu |filter:filterdata">
                  <button mat-button class="text-left w-100" (click)="getTemplateData(item,subSubitem)"><small>{{ item.title }} > {{ subitem.label }} > {{ subSubitem.label }}</small></button>
                </div>
              </div>
            </div>
            <p class="text-center p-3 pt-4" *ngIf="(AllModuleList | filter: filterdata).length === 0"><small>No Data Match</small></p>
          </div>
        </div>
      </li> -->

    </ul>
</nav>