<div class="innerheader">
    <div class="position-relative w-100 light_bg"> <img src="../../../assets/images/common_header.png" alt="" width="100%">
      <div class="header_bg dark"><h1>Operations Management</h1></div>
    </div>
  </div>
  
  <section class="container">
     <app-solution-menu-mobile></app-solution-menu-mobile>
  </section>
  
  <section class="container solutions_page mb-5">
    <div class="row">
      <div class="col-md-3">
         <app-solution-menu></app-solution-menu>
       </div>
      <div class="col-md-9">
        <div class="tab-content flex-grow-1">          
          <div >
            <div class="solution_content">
                <div class="row mb-3">
                  <div class="col-md-7">
                    <p><strong>Operations Management</strong> - Operational Efficiency, effectiveness and correctness is at the heart of laboratory management business. Our Operations Management module allows automation and digitization of every single process like – </p>
                    <ul class="m-4 solutionslist">
                        <li>Sample Receiving</li>
                        <li>Order Booking</li>
                        <li>Job Allocation</li>
                        <li>Job Scheduling</li>
                        <li>Test Report Generation and Approval</li>
                        <li>Test Report Dispatch</li>
                        <li>Invoicing</li>
                      </ul>
                  </div>
                  <div class="col-md-5"><img src="../../../../assets/images/solutions/Operations-Management.png" alt=""></div>
                </div>
                <p>While a sample goes through the whole operations, you get absolute transparency over the complete workflow and status of your order. A detailed MIS is generated which allows critical decision making much simpler. </p>
                <p>The system takes due care to ensure segregation of duty control over the complete workflow. Information is share and displayed to a particular role only on need-to-know basis. For example, an analyst does not really need to know the customer details related to a sample.</p>
                <p>Fine grained control over business workflow and screen access helps ensure no violation of segregation of duty and compliance to critical data security and handling requirements.</p>                
              </div>
          </div>          
        </div>
      </div>
    </div>
  </section>
  