<div id="layout-wrapper">
  <app-topbar (mobileMenuButtonClicked)="onToggleMobileMenu()" [moduleIndex]="moduleIndex" (goToHome)="goToHome()">
  </app-topbar>
  <app-sidebar (moduleSelect)="changeModul($event)" ></app-sidebar>
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content" [ngClass]="dashbordPage?'dashboard_bg':''" style="min-height: calc(100vh - 70px)">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
<!-- END layout-wrapper -->
