<!-- <div id="loader">
  <div class="overlay"></div>
  <div class="spinner">
      <div class="spinner-circle"></div>
      <div class="spinner-content">
          <div class="spinner-text">Downloading</div>
          <div class="progress-dots">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
          </div>
      </div>
  </div>
</div> -->
<!-- loader.component.html -->
<div id="loader">
  <div class="overlay"></div>
  <div class="spinner">
      <div class="spinner-circle"></div>
      <div class="spinner-content">
          <div class="spinner-text">
              <span id="loading-text">Downloading</span>
          </div>
          <!-- <div class="progress-dots">
              <span class="dot" id="dot1"></span>
              <span class="dot" id="dot2"></span>
              <span class="dot" id="dot3"></span>
          </div> -->
      </div>
  </div>
</div>