<div class="body">
  <!-------------- Blog Section --------------- -->
      <div class="header_block">
         <div class="position-relative w-100 light_bg">
            <img src="../../assets/images/common_header.png" alt="" width="100%" class="block py-3">
            <div class="header_bg dark">
                  <h1>Blog</h1>
                  <p>Sub-title</p>
               </div>
            </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div class="block">
         <div class="row px-3">
            <div class="col-md-9">
               <div class="pr-3">
                  <div class="row post_list_item ">
                     <div class="col-md-3 order-lg-last"><img src="../../assets/images/blog/lab.png" alt="" width="100%" class="border_r10"></div>
                     <div class="col-md-9 order-lg-first">
                        <p class="text-uppercase no_margin py-2">Tech</p>
                        <h4>Meeting new faces</h4>
                        <p>Later, when I would meet Binna and learn about his Port Douglas, I’d think back to these modern and contemporary canvases. <a href="" class="text-success">Read more</a></p>
                     </div>
                  </div>
                  <hr>
               </div>

               <div class="pr-3">
                  <div class="row post_list_item ">
                     <div class="col-md-3 order-lg-last"><img src="../../assets/images/blog/lab.png" alt="" width="100%" class="border_r10"></div>
                     <div class="col-md-9 order-lg-first">
                        <p class="text-uppercase no_margin py-2">Tech</p>
                        <h4>Meeting new faces</h4>
                        <p>Later, when I would meet Binna and learn about his Port Douglas, I’d think back to these modern and contemporary canvases. <a href="" class="text-success">Read more</a></p>
                     </div>
                  </div>
                  <hr>
               </div>

               <div class="pr-3">
                  <div class="row post_list_item ">
                     <div class="col-md-3 order-lg-last"><img src="../../assets/images/blog/lab.png" alt="" width="100%" class="border_r10"></div>
                     <div class="col-md-9 order-lg-first">
                        <p class="text-uppercase no_margin py-2">Tech</p>
                        <h4>Meeting new faces</h4>
                        <p>Later, when I would meet Binna and learn about his Port Douglas, I’d think back to these modern and contemporary canvases. <a href="" class="text-success">Read more</a></p>
                     </div>
                  </div>
                  <hr>
               </div>
               <div class="pr-3">
                  <div class="row post_list_item ">
                     <div class="col-md-3 order-lg-last"><img src="../../assets/images/blog/lab.png" alt="" width="100%" class="border_r10"></div>
                     <div class="col-md-9 order-lg-first">
                        <p class="text-uppercase no_margin py-2">Tech</p>
                        <h4>Meeting new faces</h4>
                        <p>Later, when I would meet Binna and learn about his Port Douglas, I’d think back to these modern and contemporary canvases. <a href="" class="text-success">Read more</a></p>
                     </div>
                  </div>
                  <hr>
               </div>
               <div class="pr-3">
                  <div class="row post_list_item ">
                     <div class="col-md-3 order-lg-last"><img src="../../assets/images/blog/lab.png" alt="" width="100%" class="border_r10"></div>
                     <div class="col-md-9 order-lg-first">
                        <p class="text-uppercase no_margin py-2">Tech</p>
                        <h4>Meeting new faces</h4>
                        <p>Later, when I would meet Binna and learn about his Port Douglas, I’d think back to these modern and contemporary canvases. <a href="" class="text-success">Read more</a></p>
                     </div>
                  </div>
                  <hr>
               </div>

               <div>&nbsp;</div>
               <div class="pagination h_center">
                  <nav aria-label="Page navigation example dark">
                     <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                     </ul>
                  </nav>
               </div>
               <div>&nbsp;</div>
            </div>
            <div class="col-md-3">
               <div class="widgets">
                  <h5>Categories</h5>
                  <hr>
                  <div class="form-check mb-3 dark">
                     <input class="form-check-input " type="radio" name="" id="flexRadioDefault1" checked>
                     <label class="form-check-label ml-2" for="flexRadioDefault1"> Tech </label>
                  </div>
                  <div class="form-check mb-3 dark">
                     <input class="form-check-input" type="radio" name="" id="flexRadioDefault1">
                     <label class="form-check-label ml-2" for="flexRadioDefault1"> Labs </label>
                  </div>
                  <div class="form-check mb-3 dark">
                     <input class="form-check-input" type="radio" name="" id="flexRadioDefault1">
                     <label class="form-check-label ml-2" for="flexRadioDefault1"> Testing </label>
                  </div>
                  <div class="form-check mb-3 dark">
                     <input class="form-check-input" type="radio" name="" id="flexRadioDefault1">
                     <label class="form-check-label ml-2" for="flexRadioDefault1"> Automation </label>
                  </div>
                  <div class="form-check mb-3 dark">
                     <input class="form-check-input" type="radio" name="" id="flexRadioDefault1">
                     <label class="form-check-label ml-2" for="flexRadioDefault1"> Labs </label>
                  </div>
                  <div class="form-check mb-3 dark">
                     <input class="form-check-input" type="radio" name="" id="flexRadioDefault1">
                     <label class="form-check-label ml-2" for="flexRadioDefault1"> Testing </label>
                  </div>
               </div>
               <div>&nbsp;</div>
               
               <div class="widgets">
                  <h5 class="">Popular Posts</h5>
                  <hr>
                  <div class="p_post">
                     <div class="col-md-3 no_padding"><img src="../../assets/images/blog/lab.png" alt="" width="100%" class="rounded-circle"></div>
                     <div class="col-md-9">
                        <p class="no_margin text-justify">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the.</p>
                        <p class="dark mt-1">2 days ago</p>
                     </div>
                  </div>
                  <div class="p_post">
                     <div class="col-md-3 no_padding"><img src="../../assets/images/blog/lab.png" alt="" width="100%" class="rounded-circle"></div>
                     <div class="col-md-9  ">
                        <p class="no_margin">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the.</p>
                        <p class="dark mt-1">2 days ago</p>
                     </div>
                  </div>
                  <div class="p_post">
                     <div class="col-md-3 no_padding"><img src="../../assets/images/blog/lab.png" alt="" width="100%" class="rounded-circle"></div>
                     <div class="col-md-9 ">
                        <p class="no_margin">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the.</p>
                        <p class="dark mt-1">2 days ago</p>
                     </div>
                  </div>
               </div>
               <div>&nbsp;</div>
            </div>
         </div>
      </div>
      <!-------------- Watch Now Section --------------- -->
      
      <div class="dark_bg watch_now px-3">
         <div class="block row py-4 v_center">
            <div class="col-md-4">
               <img src="../../assets/images/watch_now.png" alt="" width="100%">
            </div>
            <div class="col-md-8 text-white">
               <div>&nbsp;</div>
               <h4 class="text-uppercase">ON-DEMAND WEBINAR</h4>
               <p>See for yourself! <br> AI-Enhanced Automations – Combining Transformative Capabilities</p>
               <div>&nbsp;</div>
               <button class="btn mybtn"> Watch Now <i class="bi bi-play-fill dark" style="font-size: 18px;"></i></button>
            </div>
         </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>

      <!-------------- Subscription Section --------------- -->
      <div class="subscription px-3">
         <div class="block row py-4 v_center ">
            <div class="col-md-8">
               <h5 class="text-uppercase py-4">Get articles from automation experts in your inbox</h5>
            </div>
            <div class="col-md-4">
               <div class="form-group">
                  <div class="input-group">
                      <input type="text" name="" class="form-control" placeholder="Enter email address">
                      <button type="submit" class="btn mybtn">Subscribe</button>
                   </div>
              </div>
            </div>
         </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
</div>