<div class="body">
    <!-- ------------ Services Section --------------- -->
    <div class="header_block">
      <div class="position-relative w-100 light_bg">
         <img src="../../../assets/images/services_header.png" alt="" width="100%">
         <div class="header_bg">
             <h1>Communication</h1>
             <p>Sub-title</p>
          </div>
       </div>
   </div>
   


   <div>&nbsp;</div>
   <div class="clear"></div>
   <div class="w-100 block mt-4 services_tab">
       <div class="row">
          <div class="col-md-6 p-4">
             <img src="../../../../assets/images/services/service.png" alt="" width="100%" class="border_r20">
             <div class="dark_bg services_overley">
                <h5>Lab Automation</h5>
                <p>Please enter your email address to receive course titles, your email address to receive course titles, the topics will be emailed to you. Please enter your email address to receive course titles, the topics will be emailed to you.</p>
             </div>
          </div>
          <div class="col-md-6 p-4">
             <img src="../../../../assets/images/services/lab_consultancy.png" alt="" width="100%" class="border_r20">
             <div class="dark_bg services_overley">
                <h5>Test Method Development</h5>
                <p>Please enter your email address t will be emailed toour email address to receive course titles, the topics will be emailed to you. Please enter your email address to receive course titles, the topics will be emailed to you.</p>
             </div>
          </div>
          <div class="col-md-6 p-4">
             <img src="../../../../assets/images/services/talent.png" alt="" width="100%" class="border_r20">
             <div class="dark_bg services_overley">
                <h5>Talent Acquisition</h5>
                <p>Please enter your email address to receive course titlesr your email address to receive course titles, the topics will be emailed to you. Please enter your email address to receive course titles, the topics will be emailed to you.</p>
             </div>
          </div>
          <div class="col-md-6 p-4">
             <img src="../../../../assets/images/services/test_method.png" alt="" width="100%" class="border_r20">
             <div class="dark_bg services_overley">
                <h5>Lab Consultancy</h5>
                <p>Please enter your email address to receive c email address to receive course titles, the topics will be emailed to you. Please enter your email address to receive course titles, the topics will be emailed to you.</p>
             </div>
          </div>
          <div class="col-md-6 p-4">
             <img src="../../../../assets/images/services/lab-equipment-maintenance.png" alt="" width="100%" class="border_r20">
             <div class="dark_bg services_overley">
                <h5>Lab Equipments Marketplace</h5>
                <p>Please enter your email address to receive cemailed to you. Plea to receive course titles, the topics will be emailed to you. Please enter your email address to receive course titles, the topics will be emailed to you.</p>
             </div>
          </div>
       </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
  
    <!-- ------------ Watch Now Section --------------- -->
    
    <div class="dark_bg watch_now block">
       <div class=" row py-4 v_center">
          <div class="col-md-4">
             <img src="../../../assets/images/watch_now.png" alt="" width="100%">
          </div>
          <div class="col-md-8 text-white">
             <div>&nbsp;</div>
             <h4 class="text-uppercase">ON-DEMAND WEBINAR</h4>
             <p>See for yourself! <br> AI-Enhanced Automations – Combining Transformative Capabilities</p>
             <div>&nbsp;</div>
             <button class="btn mybtn"> Watch Now <i class="bi bi-play-fill dark" style="font-size: 18px;"></i></button>
          </div>
       </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
  
    <!-- ------------ Subscription Section --------------- -->
    <div class="subscription block">
       <div class=" row py-4 v_center">
          <div class="col-md-8">
            <p class="text-uppercase py-4 dark font20">Get articles from automation experts in your inbox</p>
          </div>
          <div class="col-md-4">
             <div class="form-group">
                <div class="input-group">
                    <input type="text" name="" class="form-control" placeholder="Enter email address">
                    <button type="submit" class="btn mybtn">Subscribe</button>
                 </div>
            </div>
          </div>
       </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
  </div>