<div mdbModal #signinModal="mdbModal" class="modal fade top"  tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',keyboard: false,class: 'modal-full-height modal-right',containerClass: '',animated: true}">
    <div class="modal-dialog modal-side modal-top-right body" role="document">
        <div class="modal-content">
            <div class="modal-header v_center">
               <h4 class="modal-title" >Login</h4>
               <span class="bi bi-x-lg"  (click)="cancel()"></span>
            </div>
            <div class="modal-body">
               <form #f="ngForm">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control"  aria-describedby="emailHelp" name="email" ngModel required>
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control"  name="password" ngModel required (keyup.enter)="onSignIn(f)">
                  </div>
                  <button type="button" class="btn mybtn mb-2 w-100" (click)="onSignIn(f)" [disabled]="!f.valid || loading">
                     <span *ngIf="loading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                     <span *ngIf="!loading">Log In</span></button> <br>
                  <div class="distribute_between">
                     <label class="form-check-label" for="">New Member? <a href="javascript:void(0)"  class="dark text-bold" (click)="signup()">Signup</a></label>
                     <label class="form-check-label" for=""><a href="javascript:void(0)"  class="dark text-bold" (click)="forgotPwd()">Forgot Password?</a></label>
                  </div>
               </form>
                <div>&nbsp;</div>
            </div>
         </div> 
    </div>
</div>
