<div class="innerheader">
    <div class="position-relative w-100 light_bg"> <img src="../../../assets/images/common_header.png" alt="" width="100%">
      <div class="header_bg dark"><h1>Document Library</h1></div>
    </div>
  </div>
  
  <section class="container">
     <app-solution-menu-mobile></app-solution-menu-mobile>
  </section>
  
  <section class="container solutions_page mb-5">
    <div class="row">
      <div class="col-md-3">
         <app-solution-menu></app-solution-menu>
       </div>
      <div class="col-md-9">
        <div class="tab-content flex-grow-1">          
          <div >
            <div class="solution_content">
                <div class="row mb-3">
                  <div class="col-md-7">
                    <p><strong>Document Library</strong> - State of art virtual data room for management of Regulatory Information, Standard Operating Procedures, Test Standard and Methods with stringent change control workflow, audit trail and extremely fine-grained permissions. </p>
                    <p>Keep all your documents at one place and allow searching and version management to all the employees.</p>
                  </div>
                  <div class="col-md-5"><img src="../../../../assets/images/solutions/Data-Library.png" alt=""></div>
                </div>
                <h4 class="dark mb-3">Some of the salient features –</h4>
                <ul class="m-4 solutionslist">
                    <li>Document library with fast searching and  indexing</li>
                    <li>4-Eye Check on each change </li>
                    <li>Strict change control on each document/artefact</li>
                    <li>Version Control with audit trail for document access, view, download</li>
                    <li>Paperless & Virtual Audit</li>
                </ul>
              </div>
          </div>          
        </div>
      </div>
    </div>
  </section>
  