<mat-toolbar class="header pl-0 w-100">
    <div class="logoitem d-flex align-items-center justify-content-between px-2" style="background:transparent;">
      <a class="logo px-2 text-center" [routerLink]="['/home']"><img [src]="logoPath" alt=""></a>
    </div>
    <div class="topheader"><app-header class="w-100"></app-header></div>
    <div class="settingmenu"><button mat-icon-button (click)="rightsidenav.toggle()"><mat-icon>account_circle</mat-icon></button></div>
  </mat-toolbar>
  
  
  <mat-drawer-container>
    <mat-drawer #rightsidenav mode="over" position="end"><app-setting-menu></app-setting-menu></mat-drawer>
    <div class="pt-3">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-drawer-container>