
<div class="notification-model">
        <div class="d-flex justify-content-center align-items-center header">
        <span><h4  style="margin-bottom: 0; font-weight:400;">{{data.menu.name | titlecase}}</h4></span>
        <button class=" ml-auto mr-2 closebutton" [mat-dialog-close]="{data}">x</button>
        </div>
        <div *ngIf="data.menu.templateTabs && data.menu.templateTabs.length>0">
            <mat-list >
                <mat-list-item *ngFor="let tab of data.menu.templateTabs" style="display: block;">
                  <span style="font-weight: 500">{{ tab.name }}</span>
                  <div class="btn-group col-xs-12 ml-auto mt-3">
                    <div class="select" *ngIf="notificationTypeCategories.includes('EMAIL')">
                        <input type="checkbox"  [(ngModel)]="tab.email" (change)="checkfun(tab,'email',$event)" id="item_1">
                        <label class="btnn  button_select" for="item_1"><i class="fa-regular fa-envelope"></i></label>
                    </div>
                    
                    <div class="select option" *ngIf="notificationTypeCategories.includes('WHATSAPP')">
                        <input type="checkbox" [(ngModel)]="tab.whatsapp" (change)="checkfun(tab,'whatsapp',$event)" id="item_2">
                        <label class="btnn  button_select" for="item_2"><i class="fa-brands fa-whatsapp"></i></label>
                    </div>
                    <div class="select option" *ngIf="notificationTypeCategories.includes('SMS')">
                        <input type="checkbox" [(ngModel)]="tab.sms" (change)="checkfun(tab,'whatsapp',$event)" id="item_2">
                        <label class="btnn  button_select" for="item_2"><i class="fa-solid fa-comment-sms"></i></label>
                    </div>
                </div>
                </mat-list-item>
              </mat-list>
        </div>  
</div>

