
<div class="row mb-3">
  <div class="col-sm-4">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label class="filterlabel">Chart List</mat-label>
      <mat-select [(ngModel)]="filterValue" (selectionChange)="filterchart()" multiple disableOptionCentering panelClass="chartfilteroption">
          <mat-option *ngFor="let staticValue of elements" [value]="staticValue._id">{{staticValue.name}}</mat-option>
      </mat-select>
  </mat-form-field>
  </div>
</div>

<div class="row" *ngIf="filteredDashboardData.length >0">
  <div class="col-lg-4" *ngFor="let item of filteredDashboardData; let j = index">
    <div class="card">
      <div class="card-header">
          <div class="d-flex align-items-center justify-content-between" *ngIf="item.fields && item.fields.length >0">
            <h3 class="m-0 charttitle">{{item.name}}</h3>
            <button mat-icon-button  (click)="showModal(item)"><mat-icon>more_vert</mat-icon></button>
          </div>
      </div>
      <div class="card-body chartbody">
        <ng-container>
              <canvas mdbChart *ngIf="item.package_name == 'chart_js'" [chartType]="chartType[item.call_back_field]"
                [datasets]="chartDatasets[item.call_back_field]" [labels]="chartLabels[item.call_back_field]"
                [colors]="chartColors[item.call_back_field]" [options]="chartOptions[item.call_back_field]"
                [legend]="chartLegend[item.call_back_field]" (chartHover)="chartHover($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
              <google-chart *ngIf="item.package_name == 'google_chart' && chartTitle[item.call_back_field]"
                [title]="chartTitle[item.call_back_field]" [type]="chartType[item.call_back_field]"
                [data]="chartDatasets[item.call_back_field]" [columns]="chartLabels[item.call_back_field]"
                [options]="chartOptions[item.call_back_field]">
              </google-chart>
        </ng-container>
      </div>
    </div>






  </div>
</div>


<div *ngIf="elements.length == 0"><p class="text-center"><span>Dashlet Master not available in this application.</span></p></div>









<div mdbModal #basicModal="mdbModal" class="modal fade" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header justify-content-center" *ngIf="dashboardItem && dashboardItem.fields && dashboardItem.fields.length >0">
        <h3 class="modal-title m-0 text-uppercase active d-block">{{dashboardItem.name}}</h3>
        <a class="h5 m-0 closebtb" data-dismiss="modal" (click)="close()">×</a>
      </div>

      
      <div class="modal-body">
        <div class="row">
           <div class="col-md-3">
            <h3 class="modal-title m-0 text-uppercase d-flex align-items-center"><mat-icon class="mr-2">filter_list</mat-icon> Filters</h3>
            <hr>
             <div class="chartfilter" [formGroup]="dashboardFilter" *ngIf="dashboardItem && dashboardItem.fields && dashboardItem.fields.length >0">
                <div class="row" [formGroupName]="dashboardItem.name">
                  <div class="col-sm-12" *ngFor="let field of dashboardItem.fields; let i = index" [id]="field._id">
                    <div *ngIf="field.type == 'date'">
                      <mat-form-field appearance="outline" class="w-100 m-0">
                          <mat-label>{{ field.label | titlecase}}</mat-label>
                          <input matInput [matDatepicker]="picker2" [min]="field.minDate" [max]="field.maxDate" [required]="field.is_mandatory" [formControlName]="field.field_name" [id]="field._id+'_'+field.field_name" disableOptionCentering panelClass="filteroption">
                          <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                          <mat-datepicker #picker2 color="primary" ></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div *ngIf="field.type == 'daterange'">
                      <mat-form-field appearance="outline" class="w-100 m-0">
                        <mat-label>{{field.label}}</mat-label>
                          <mat-date-range-input [formGroupName]="field.field_name" [rangePicker]="picker" [id]="field._id+'_'+field.field_name">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date">
                          </mat-date-range-input>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-date-range-picker #picker></mat-date-range-picker>  
                      </mat-form-field>                 
                    </div>
                    <div *ngIf="field.type == 'dropdown'">
                        <mat-form-field appearance="outline" class="w-100 m-0" *ngIf="field.datatype == 'object'">
                            <mat-label>{{ field.label | titlecase}}</mat-label>
                            <mat-select *ngIf="!field.multi_select" [compareWith]="compareObjects" [formControlName]="field.field_name" disableOptionCentering panelClass="filteroption">
                                <mat-option *ngFor="let staticValue of staticData[field.ddn_field]" [value]="staticValue._id">{{getddnDisplayVal(staticValue)}}</mat-option>
                            </mat-select>


                            <mat-select *ngIf="field.multi_select" [compareWith]="compareObjects" [formControlName]="field.field_name"  disableOptionCentering panelClass="filteroption" multiple>
                              <mat-option *ngFor="let staticValue of staticData[field.ddn_field]" [value]="staticValue._id" >{{getddnDisplayVal(staticValue)}}
                              </mat-option>
                          </mat-select>


                        </mat-form-field>


                        
                        <mat-form-field appearance="outline" class="w-100 m-0" *ngIf="field.datatype != 'object' && field.datatype != 'key_value'">
                            <mat-label>{{ field.label | titlecase}}</mat-label>
                            <mat-select [formControlName]="field.field_name" disableOptionCentering panelClass="filteroption">
                                <mat-option *ngFor="let staticValue of staticData[field.ddn_field]" [value]="staticValue._id">{{getddnDisplayVal(staticValue)}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100 m-0" *ngIf="field.datatype == 'key_value'">
                            <mat-label>{{ field.label | titlecase}}<span *ngIf="field.is_mandatory" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c16-1 ng-star-inserted"> *</span></mat-label>
                            <mat-select [formControlName]="field.field_name" disableOptionCentering panelClass="filteroption">
                                <mat-option *ngFor="let staticValue of staticData[field.ddn_field]" [value]="staticValue._id">{{getddnDisplayVal(staticValue)}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-12 mt-2"><button mat-flat-button class="filterbtn" (click)="reset()">Reset Filter</button></div>
                  <div class="col-sm-12 mt-4"><button mat-flat-button class="filterbtn" (click)="dashletFilter(dashboardItem)">Filter</button></div>
                </div>
              </div>
           </div>
           <div class="col-md-9" *ngIf="dashboardItem && dashboardItem.fields && dashboardItem.fields.length >0">
            <ng-container class="px-5">
              <canvas mdbChart *ngIf="dashboardItem.package_name == 'chart_js'" [chartType]="chartType[dashboardItem.call_back_field]"
                [datasets]="chartDatasets[dashboardItem.call_back_field]" [labels]="chartLabels[dashboardItem.call_back_field]"
                [colors]="chartColors[dashboardItem.call_back_field]" [options]="chartOptions[dashboardItem.call_back_field]"
                [legend]="chartLegend[dashboardItem.call_back_field]" (chartHover)="chartHover($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
              <google-chart *ngIf="dashboardItem.package_name == 'google_chart' && chartTitle[dashboardItem.call_back_field]"
                [title]="chartTitle[dashboardItem.call_back_field]" [type]="chartType[dashboardItem.call_back_field]"
                [data]="chartDatasets[dashboardItem.call_back_field]" [columns]="chartLabels[dashboardItem.call_back_field]"
                [options]="chartOptions[dashboardItem.call_back_field]">
              </google-chart>
            </ng-container>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>


