#form_resize.resizable {
    position: relative;
  }

  .corner-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    background-color: #ccc;
  }
  .corner-handle img {width:18px;}