<div class="innerheader">
    <div class="position-relative w-100 light_bg"> <img src="../../../assets/images/common_header.png" alt="" width="100%">
      <div class="header_bg dark"><h1>Quality Management</h1></div>
    </div>
  </div>
  
  <section class="container">
     <app-solution-menu-mobile></app-solution-menu-mobile>
  </section>
  
  <section class="container solutions_page mb-5">
    <div class="row">
      <div class="col-md-3">
         <app-solution-menu></app-solution-menu>
       </div>
      <div class="col-md-9">
        <div class="tab-content flex-grow-1">          
          <div >
            <div class="solution_content">
                <div class="row mb-3">
                  <div class="col-md-7">
                    <p><strong>Quality Management</strong> - Management of test quality, operational process is of paramount importance for a laboratory. After all, you are testing products for quality. We therefore believe that the quality management process should not only be stringent, transparent but enforceable through technology. Our application allows you to maintain complete quality control over the process with Integrated workflow for Incidents, Deviations, Audit Management, CAPA, Case Management, Customer Compliant Management, Whistleblower, OOS/OOT and Change Control with fine grained permissions and audit history. </p>
                  </div>
                  <div class="col-md-5"><img src="../../../../assets/images/solutions/Quality-Management.png" alt=""></div>
                </div>
                <h4 class="dark mb-3">Some of the salient features of Quality Management Module are – </h4>
                <ul class="m-4 solutionslist">
                    <li>Analyst Validation and Approval</li>
                    <li>Equipment Calibration</li>
                    <li>Internal / Customer Audit</li>
                    <li>Management Review</li>
                    <li>Employee Internal & External Trainings</li>
                    <li>GLP (Good Laboratory Practices)</li>
                    <li>GDP (Good Document Practices)</li>
                    <li>Information and Audit management with permissions</li>
                    <li>Periodic alerts and reports for regular revision management of processes and artefacts</li>
                    <li>Track of revision history and change control</li>                    
                </ul>
              </div>
          </div>          
        </div>
      </div>
    </div>
  </section>
  