<section class="report-form">
    <div class="container-fluid">
        <div class="row py-4">
            <div class="col-md-2">
                <div class="reportview">
                    <select>
                        <option *ngFor="let data of staticData['collection_name']; let i = index" [value]="data" [innerHtml]="getddnDisplayVal(data)"></option>
                    </select>
                    <select>
                        <option>Field Name</option>
                    </select>
                    <select>
                        <option *ngFor="let data of datalist">{{data.val}}</option>
                    </select>
                    <input type="text" placeholder="Operator Field">
                    <div class="btn-group mt-2 d-flex justify-content-end">
                        <button mat-button class="rpt-btn mr-4">Clear</button>
                        <button mat-button class="rpt-btn">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="reportview">
                    <div class="chipsdata">
                        <span class="chips" *ngFor="let data of chipsData; let i = index">{{data}}
                            <mat-icon (click)="dropchips(i)">cancel</mat-icon>
                        </span>
                    </div>
                    <div class="btn-group mt-2 d-flex justify-content-start">
                        <button mat-button class="rpt-btn mr-4">Reset</button>
                        <button mat-flat-button color="primary">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="reportview">
                    <button mat-button class="w-100 reportbtn my-1">Save Query</button>
                    <button mat-button class="w-100 reportbtn my-1">Load Query</button>
                    <button mat-button class="w-100 reportbtn my-1">Download Excel</button>
                    <button mat-button class="w-100 reportbtn my-1">Schedule</button>
                </div>
            </div>
        </div>

        <div class="row py-4 px-3">
            <table class="table table-striped table-bordered" style="font-size:12px;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>



