/* mat-card{
    background-color: #f3f2f1!important;
} */
.career-bg:nth-child(odd){
    background-color: #fbfbfb!important;
}
.career-bg:nth-child(even){
    background-color: #ecf5ff!important;
}
.mat-card {
    font-family: 'din_regular'!important;
}

.applyButton{
    background: #316db5!important;    
    padding: .5rem 1.6rem!important;
    font-size: .64rem!important;
}