<div class="innerheader">
    <div class="position-relative w-100 light_bg"> <img src="../../../assets/images/common_header.png" alt="" width="100%">
      <div class="header_bg dark"><h1>Sales Management / CRM</h1></div>
    </div>
  </div>
  
  <section class="container">
     <app-solution-menu-mobile></app-solution-menu-mobile>
  </section>
  
  <section class="container solutions_page mb-5">
    <div class="row">
      <div class="col-md-3">
         <app-solution-menu></app-solution-menu>
       </div>
      <div class="col-md-9">
        <div class="tab-content flex-grow-1">          
          <div >
            <div class="solution_content">
                <div class="row mb-3">
                  <div class="col-md-7">
                    <p><strong>Sales Management / CRM</strong> – In an ever increasing competitive world where more than ever number of competitors are targeting the same customers, how do you enable sales team to attain highest level of efficiency and effectiveness?</p>
                    <P>A lot of laboratories use a custom sales/CRM application. But the challenge is seamless integration with your laboratory process. Some of the key questions that might really matter for an effective sales force are –</P>
                  </div>
                  <div class="col-md-5"><img src="../../../../assets/images/solutions/Sales-Management.png" alt=""></div>
                </div>
                <!-- <h4 class="dark mb-3">Main features:-</h4> -->
                <ul class="m-4 solutionslist">
                    <li>How much time does my team take today to prepare one quotation for customer?</li>
                    <li>Any updates on quotation, how much time does that take?</li>
                    <li>How much discount is m sales team offering to a customer?</li>
                    <li>Higher discount approval process, is that smooth enough for them?</li>
                    <li>How much time does it take them to find the order status and communication to customers?</li>
                    <li>Are they able to effectively follow-up on the overdue invoices from the customer?</li>
                    <li>Do you have the details of all calls, emails, SMS, WhatsApp messages sent to the customer so that in case your sales representative changes new comer knows exact status?</li>                    
                </ul>
                <p>Our Sales and CRM module is built on the above pain areas and can help solve all of the above for you.</p>
                <h4 class="dark mb-3">Some of the salient features of Sales CRM Module –</h4>
                <ul class="m-4 solutionslist">
                    <li>5-minute quotation generation</li>
                    <li>Auto emailing of quotation</li>
                    <li>Email, SMS, WhatsApp Integration</li>
                    <li>Overdue Invoices Follow-up</li>
                    <li>Central Customer Management Dashboard</li>                    
                </ul>
              </div>
          </div>          
        </div>
      </div>
    </div>
  </section>
  