<div mdbModal #chartFilterModal="mdbModal" class="modal fade top ChartModel" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ignoreBackdropClick: true,keyboard: true}">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header justify-content-between align-items-center pl-3 pr-5 mb-0"
        *ngIf="dashboardItem && dashboardItem.name">
        <h4 class="modal-title m-0 active d-block" style="font-size:20px;"><strong>{{dashboardItem.name}}</strong></h4>
        <div>
          <button mat-icon-button style="opacity:0.7;" class="mx-2" (click)="reset(dashboardItem)"><mat-icon>refresh</mat-icon></button>
          <button mat-icon-button style="opacity:0.7;" *ngIf="dashboardItem.package_name == 'google_chart'" (click)="exportexcel()"><mat-icon>download</mat-icon></button>
          <button mat-icon-button style="opacity:0.7;" *ngIf="dashboardItem.package_name == 'mongodb_chart'" (click)="download(dashboardItem)"><mat-icon>download</mat-icon></button>
          <button mat-icon-button style="opacity:0.7;" *ngIf="dashboardItem.package_name == 'chart_js'" (click)="canvasimg()" style="position:relative;top:8px;"><a href="{{ chartjsimg }}" download><mat-icon>download</mat-icon></a></button>
          <ng-container *ngIf="showFilter">
          <button mat-icon-button style="opacity:0.7;" (click)="drawer.toggle()"><mat-icon>filter_alt</mat-icon></button>
          </ng-container>
          <a class="h5 m-0 closebtb" (click)="close(dashboardItem)">×</a>
        </div>
      </div>
      <div class="modal-body p-0 m-0">
        

<mat-drawer-container style="height:auto;">
  <mat-drawer #drawer mode="side" [opened]="showFilter" position="end" class="sidechartfilter">
    <app-filter *ngIf="dashboardItem && dashboardItem.fields && dashboardItem.fields.length >0 && showFilter" [dashbord]="dashbord" (filterData)="filterData($event)"></app-filter> 
  </mat-drawer>
  <div class="form-body-loader" *ngIf="isfilterChart">
    <mat-spinner diameter="40" class="custom-spinner"></mat-spinner>
</div>
  <canvas id="chartjs" class="canvaschart w-100" mdbChart *ngIf="dashboardItem.package_name == 'chart_js'"
          [chartType]="chartType[dashboardItem.call_back_field]"
          [datasets]="chartDatasets[dashboardItem.call_back_field]"
          [labels]="chartLabels[dashboardItem.call_back_field]"
          [colors]="chartColors[dashboardItem.call_back_field]"
          [options]="chartOptions[dashboardItem.call_back_field]"
          [legend]="chartLegend[dashboardItem.call_back_field]" (chartHover)="chartHover($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
        <google-chart id="excel-table" class="googlechart w-100" *ngIf="dashboardItem.package_name == 'google_chart' && chartTitle[dashboardItem.call_back_field]"
          [title]="chartTitle[dashboardItem.call_back_field]" [type]="chartType[dashboardItem.call_back_field]"
          [data]="chartDatasets[dashboardItem.call_back_field]"
          [columns]="chartLabels[dashboardItem.call_back_field]"
          [options]="chartOptions[dashboardItem.call_back_field]">
        </google-chart>
        <div *ngIf="dashboardItem.package_name == 'mongodb_chart'"><div [id]="'filter_'+dashboardItem.chartId"></div></div>
</mat-drawer-container>
        














        

      </div>
    </div>
  </div>
</div>