<div mdbModal #chartFilterModal="mdbModal" class="modal fade top ChartModel" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ignoreBackdropClick: true,keyboard: true}">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header justify-content-center mb-0"
        *ngIf="dashboardItem && dashboardItem.name">
        <h4 class="modal-title m-0 active d-block" style="font-size:20px;">{{dashboardItem.name}}</h4>
        <a class="h5 m-0 closebtb" (click)="close(dashboardItem)">×</a>
      </div>
      <div class="modal-body p-0">
        <div class="chartfilter px-3 pt-2 mb-3" *ngIf="dashboardItem && dashboardItem.fields && dashboardItem.fields.length >0 && showFilter" [formGroup]="dashboardFilter" > 
          <div class="row align-items-center mx-0">
            <div class="col-sm-3 pl-0" *ngFor="let field of dashboardItem.fields; let i = index" [id]="field._id">
              <div *ngIf="field.type == 'date'">
                <mat-form-field appearance="outline" class="w-100 m-0">
                  <mat-label>{{ field.label | titlecase}}</mat-label>
                  <input matInput [matDatepicker]="picker2" [min]="field.minDate" [max]="field.maxDate" [required]="field.is_mandatory" [formControlName]="field.field_name" [id]="field._id+'_'+field.field_name" disableOptionCentering panelClass="filteroption">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div *ngIf="field.type == 'daterange'">
                <mat-form-field appearance="outline" class="w-100 m-0">
                  <mat-label>{{field.label}}</mat-label>
                  <mat-date-range-input [formGroupName]="field.field_name" [rangePicker]="picker"
                    [id]="field._id+'_'+field.field_name">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <div *ngIf="field.type == 'dropdown'">
                <mat-form-field appearance="outline" class="w-100 m-0" *ngIf="field.datatype == 'object'">
                  <mat-label>{{ field.label | titlecase}}</mat-label>
                  <mat-select *ngIf="!field.multi_select" [compareWith]="compareObjects"
                    [formControlName]="field.field_name" disableOptionCentering panelClass="notmultidropdown chartdropdown">
                    <mat-option *ngFor="let staticValue of staticData[field.ddn_field]" [value]="staticValue._id">
                      {{staticValue && staticValue.name ? staticValue.name : staticValue}}</mat-option>
                  </mat-select>


                  <mat-select *ngIf="field.multi_select" [compareWith]="compareObjects"
                    [formControlName]="field.field_name" disableOptionCentering panelClass="filteroption chartdropdown" multiple>
                    <mat-option *ngFor="let staticValue of staticData[field.ddn_field]" [value]="staticValue._id">
                      {{ staticValue && staticValue.name ? staticValue.name : staticValue }}
                    </mat-option>
                  </mat-select>


                </mat-form-field>



                <mat-form-field appearance="outline" class="w-100 m-0"
                  *ngIf="field.datatype != 'object' && field.datatype != 'key_value'">
                  <mat-label>{{ field.label | titlecase}}</mat-label>
                  <mat-select [formControlName]="field.field_name" disableOptionCentering panelClass="notmultidropdown  chartdropdown">
                    <mat-option *ngFor="let staticValue of staticData[field.ddn_field]" [value]="staticValue">
                      {{staticValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100 m-0" *ngIf="field.datatype == 'key_value'">
                  <mat-label>{{ field.label | titlecase}}<span *ngIf="field.is_mandatory"
                      class="mat-placeholder-required mat-form-field-required-marker ng-tns-c16-1 ng-star-inserted">
                      *</span></mat-label>
                  <mat-select [formControlName]="field.field_name" disableOptionCentering panelClass="notmultidropdown chartdropdown">
                    <mat-option *ngFor="let staticValue of staticData[field.ddn_field] | keyvalue" [value]="staticValue.key">
                      {{staticValue.value && staticValue.value.name ? staticValue.value.name : staticValue.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngIf="field.type == 'text'">
                <mat-form-field appearance="outline" class="w-100 m-0">
                    <mat-label>{{ field.label | titlecase}}</mat-label>
                    <input matInput type="text" [required]="field.is_mandatory" [formControlName]="field.field_name" [id]="field._id+'_'+field.field_name" autocomplete="off">                              
                </mat-form-field>
              </div>
              <div *ngIf="field.type == 'typeahead'">
                <div class="w-100 position-relative m-0" *ngIf="field.datatype != 'chips'">
                    <mat-form-field appearance="outline" class="w-100 m-0" [ngClass]="field.datatype != 'list_of_object' ? 'w-100' : ''">
                        <mat-label>{{field.label}} <span *ngIf="field.is_mandatory && field.datatype == 'list_of_object'" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c16-1 ng-star-inserted"> *</span></mat-label>
                        <input type="text" [placeholder]="field.label" [required]="field.is_mandatory && field.datatype != 'list_of_object'" aria-label="Number" matInput [formControlName]="field.field_name"
                            [matAutocomplete]="first" (keyup)="updateData($event,field)" [id]="field._id+'_'+field.field_name">
                        <mat-autocomplete autoActiveFirstOption #first="matAutocomplete" class="chartautocomplete" (optionSelected)="setValue('',field,false)" [displayWith]="getOptionText">
                            <mat-option *ngFor="let option of typeAheadData" [value]="option" [innerHtml]="option && option.name ? option.name : option"></mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-sm-2 px-0">
                <button mat-flat-button class="filterbtn" (click)="dashletFilter(dashboardItem)">Filter</button>
                <button mat-icon-button color="primary" style="opacity:0.7;" class="mx-2" (click)="reset(dashboardItem)"><mat-icon>refresh</mat-icon></button>
                <button mat-icon-button color="primary" style="opacity:0.7;" *ngIf="dashboardItem.package_name == 'google_chart'" (click)="exportexcel()"><mat-icon>download</mat-icon></button>
                <button mat-icon-button color="primary" style="opacity:0.7;" *ngIf="dashboardItem.package_name == 'mongodb_chart'" (click)="download(dashboardItem)"><mat-icon>download</mat-icon></button>
                <button mat-icon-button color="primary" style="opacity:0.7;" *ngIf="dashboardItem.package_name == 'chart_js'" (click)="canvasimg()" style="position:relative;top:8px;"><a href="{{ chartjsimg }}" download><mat-icon>download</mat-icon></a></button>
            </div>
          </div>
        </div> 

        <div class="px-3">
          <ng-container>
            <canvas id="chartjs" class="canvaschart w-100" mdbChart *ngIf="dashboardItem.package_name == 'chart_js'"
              [chartType]="chartType[dashboardItem.call_back_field]"
              [datasets]="chartDatasets[dashboardItem.call_back_field]"
              [labels]="chartLabels[dashboardItem.call_back_field]"
              [colors]="chartColors[dashboardItem.call_back_field]"
              [options]="chartOptions[dashboardItem.call_back_field]"
              [legend]="chartLegend[dashboardItem.call_back_field]" (chartHover)="chartHover($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
            <google-chart id="excel-table" class="googlechart w-100" *ngIf="dashboardItem.package_name == 'google_chart' && chartTitle[dashboardItem.call_back_field]"
              [title]="chartTitle[dashboardItem.call_back_field]" [type]="chartType[dashboardItem.call_back_field]"
              [data]="chartDatasets[dashboardItem.call_back_field]"
              [columns]="chartLabels[dashboardItem.call_back_field]"
              [options]="chartOptions[dashboardItem.call_back_field]">
            </google-chart>
            <div *ngIf="dashboardItem.package_name == 'mongodb_chart'">
              <div [id]="'filter_'+dashboardItem.chartId"></div>
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</div>