<div class="innerheader">
    <div class="position-relative w-100 light_bg"> <img src="../../../assets/images/common_header.png" alt="" width="100%">
      <div class="header_bg dark"><h1>Inventory & Procurement</h1></div>
    </div>
  </div>
  
  <section class="container">
     <app-solution-menu-mobile></app-solution-menu-mobile>
  </section>
  
  <section class="container solutions_page mb-5">
    <div class="row">
      <div class="col-md-3">
         <app-solution-menu></app-solution-menu>
       </div>
      <div class="col-md-9">
        <div class="tab-content flex-grow-1">          
          <div >
            <div class="solution_content">
                <div class="row mb-3">
                  <div class="col-md-7">
                    <p><strong>Inventory & Procurement</strong> - Laboratory operations uses significant amount of consumables. Lack of control over the available inventory can lead to delays in test execution which in turn can impact your overall turn round time and effectively impact customer experience. LIMS allows you to centrally manage and control inventory, automate procurement and vendor management. </p>
                  </div>
                  <div class="col-md-5"><img src="../../../../assets/images/solutions/Inventory.png" alt=""></div>
                </div>
                <h4 class="dark mb-3">Some of the salient features in Inventory & Procurement Module –</h4>
                <ul class="m-4 solutionslist">
                    <li>Available inventory tracking</li>
                    <li>Goods Receiving note </li>
                    <li>Procurement Process</li>
                    <li>Vendor Data management </li>
                    <li>Purchase Order generation </li>
                    <li>Purchase Order to Invoice reconciliation </li>
                    <li>Invoice to payment reconciliation</li>
                </ul>
              </div>
          </div>          
        </div>
      </div>
    </div>
  </section>
  