<div mdbModal #forgotPwdModal="mdbModal" class="modal fade right"  tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',keyboard: false,class: 'modal-full-height modal-right',containerClass: '',animated: true}">
    <div class="modal-dialog modal-side modal-top-right body" role="document">
        <div class="modal-content">
            <div class="modal-header v_center">
               <h4 class="modal-title" id="exampleModalLabel">Reset Password</h4>
               <span class="bi bi-x-lg" (click)="close()" ></span>
            </div>
            <div class="modal-body">
              <div *ngIf="resetPwd">
               <form [formGroup]="fForm">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
                  </div>
                  <!-- <div class="mb-4">
                     <label for="otp" class="form-label">Enter OTP sent to your email address</label>
                     <div class="d-flex otp">
                        <input type="text" class="form-control mr-2" id="otp">
                        <input type="text" class="form-control mr-2" id="otp">
                        <input type="text" class="form-control mr-2" id="otp">
                        <input type="text" class="form-control mr-2" id="otp">
                     </div>
                  </div>
                  <div class="mb-3">
                     <label for="password" class="form-label">Enter New Password</label>
                     <input type="password" class="form-control" id="password" aria-describedby="password">
                   </div>
                   <div class="mb-4">
                     <label for="confirm_password" class="form-label">Confirm Password</label>
                     <input type="password" class="form-control" id="confirm_password" aria-describedby="confirm_password">
                   </div> -->
                  <button type="button" class="btn mybtn mb-2 w-100" (click)="onResetPwd()" [disabled]="!fForm.valid || loading">
                     <span *ngIf="loading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                     <span *ngIf="!loading">Submit</span></button> <br>
                  <label class="form-check-label" for=""><a href="javascript:void(0)" class="dark text-bold" (click)="signin()">Back to Login</a></label>
                </form>
              </div>
              <div *ngIf="!resetPwd">
                  <form [formGroup]="vForm">                      
                      <div class="mb-4">
                         <label for="otp" class="form-label">Enter OTP sent to your email address</label>
                         <div class="d-flex otp">
                            <input type="text" class="form-control" id="otp" formControlName="verifyCode">
                            <!-- <input type="text" class="form-control mr-2" id="otp">
                            <input type="text" class="form-control mr-2" id="otp">
                            <input type="text" class="form-control mr-2" id="otp"> -->
                         </div>
                         <p class="m-0 text-right">
                            <span align="end"><a class="text-muted" (click)="resendCode()">Resend Verification Code?</a></span>
                         </p>
                         
                      </div>
                      <div class="mb-3">
                         <label for="password" class="form-label">Enter New Password</label>
                         <input type="password" class="form-control" id="password" formControlName="password" aria-describedby="password">
                         <mat-error class="text-danger" *ngIf="vForm.controls['password'].touched && vForm.controls['password'].dirty && vForm.controls['password'].errors?.invalidPassword" >
                           {{ vForm.controls['password'].errors.invalidPassword | titlecase}}</mat-error>
                       </div>
                       <!-- <div class="mb-4">
                         <label for="confirm_password" class="form-label">Confirm Password</label>
                         <input type="password" class="form-control" id="confirm_password" aria-describedby="confirm_password">
                       </div> -->
                      <button type="button" class="btn mybtn mb-2 w-100" (click)="onVerifyPwd()" [disabled]="!vForm.valid || loading">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span *ngIf="!loading">Submit</span></button> <br>
                      <label class="form-check-label" for=""><a href="javascript:void(0)" class="dark text-bold" (click)="signin()">Back to Login</a></label>
                    </form>
              </div>
                <div>&nbsp;</div>
            </div>
         </div>
    </div>
</div>
