<div>
    <div (click)="$event.stopPropagation();$event.preventDefault()" class="filter-flex-container" [formGroup]="adFilterForm">
        <mat-label class="ad-filter-label">Advance Filter</mat-label>
        <div class="filter-flex-item "
            *ngIf="head.type == 'Text' || head.type == 'info' || head.type == 'reference_names' || head.type == 'number' || head.type == 'chips'">
            <input class="form-control form-control-sm pr-3" type="search" placeholder="Search" [formControlName]="head.field_name">
        </div>
        <div class="filter-flex-item ">
            <mat-label>Filter Type</mat-label>
            <mat-form-field appearance="outline" class="w-100" *ngIf="head.type == 'Text' || head.type == 'info' || head.type == 'reference_names' || head.type == 'chips'">
                <mat-select [(value)]="selectedFilterType" name="filterType" placeholder="Select Type">
                    <ng-container *ngFor="let filter of filterTypeString | keyvalue">
                    <mat-option [value]="filter.key">{{ filter.value }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" *ngIf="head.type == 'number'">
                <mat-select [(value)]="selectedFilterType" name="filterType"  placeholder="Select Type">
                    <ng-container *ngFor="let filter of filterTypeNumber | keyvalue">
                    <mat-option [value]="filter.key">{{ filter.value }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100" *ngIf="head.type != null && (head.type.toLowerCase() == 'date'|| head.type.toLowerCase() == 'daterange' || head.type.toLowerCase() == 'datetime')">
                <mat-select [(value)]="selectedFilterType" name="filterType"  placeholder="Select Type">
                    <ng-container *ngFor="let filter of filterTypeDate | keyvalue">
                    <mat-option [value]="filter.key">{{ filter.value }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>                                                                
        </div>
        <ng-container 
            *ngIf="head.type != null && (head.type.toLowerCase() == 'date'|| head.type.toLowerCase() == 'daterange' || head.type.toLowerCase() == 'datetime') && selectedFilterType!='drng'">
            <mat-form-field class="filter-flex-item ">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="head.field_name">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="head.type != null && (head.type.toLowerCase() == 'date'|| head.type.toLowerCase() == 'daterange' || head.type.toLowerCase() == 'datetime') && selectedFilterType=='drng'">
            <mat-form-field class="filter-flex-item ">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [formGroupName]="head.field_name">
                    <input matStartDate placeholder="Start date" formControlName="start">
                    <input matEndDate placeholder="End date" formControlName="end">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </ng-container>
        <div class="adFilterBtn">
            <button class="noshadow rounded bg-cerulean text-white py-1 px-3" (click)="clearAdFilter()">
                Clear
            </button>
            <button class="noshadow rounded bg-cerulean text-white py-1 px-3" (click)="applyAdFilter(head.field_name,head.type)">
                Apply
            </button>
        </div>
    </div>
</div>
